{% extends 'OxaSonataAdminBundle:CRUD:edit.html.twig' %}

{% block form %}
    {% set business = object.businessProfile %}


    {% include 'DomainBusinessBundle:TaskAdmin/blocks:business.html.twig'
        with { 'business' : business, 'admin': admin, 'title': 'Business'} %}

    {% if object.getType == constant('Domain\\BusinessBundle\\DBAL\\Types\\TaskType::TASK_PROFILE_UPDATE') %}
        {% include 'DomainBusinessBundle:TaskAdmin/blocks:changes.html.twig'
        with { 'business' : business, 'admin': admin, 'object': object} %}
    {% endif %}

    <form
        {% if admin_pool.getOption('form_type') == 'horizontal' %}class="form-horizontal"{% endif %}
        role="form"
        action="{{ admin.generateUrl('edit', {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}" {{ form_enctype(form) }}
        method="POST"
        novalidate="novalidate">

        {% if (object.type == constant('Domain\\BusinessBundle\\DBAL\\Types\\TaskType::TASK_REVIEW_APPROVE')) %}
            {{ form_row(form.businessProfile__businessReviews) }}
        {% endif %}

        {% if (object.status == constant('Domain\\BusinessBundle\\DBAL\\Types\\TaskStatusType::TASK_STATUS_OPEN')) %}
            <div class="well well-small form-actions">
                <button class="btn btn-success" type="submit"  name="status"
                        value="{{ constant('Domain\\BusinessBundle\\DBAL\\Types\\TaskStatusType::TASK_STATUS_CLOSED') }}">
                    Approve
                </button>
                <button class="btn btn-danger" data-toggle="modal" data-target="#rejectReasonModal" type="button">
                    Reject
                </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="rejectReasonModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">{{ admin.trans('Reject Reason') }}</h4>
                        </div>
                        <div class="modal-body">
                            {{ form_widget(form.rejectReason) }}
                        </div>
                        <div class="modal-footer">
                            <button type="submit" name="status" class="btn btn-danger"
                                    value="{{ constant('Domain\\BusinessBundle\\DBAL\\Types\\TaskStatusType::TASK_STATUS_REJECTED') }}">
                                Reject
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {{ form_row(form._token) }}
    </form>
{% endblock %}
