{% extends 'OxaSonataAdminBundle:CRUD:edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />
{% endblock %}

{% block form %}
    {% set business = object.businessProfile %}


    {% include 'DomainBusinessBundle:TaskAdmin/blocks:business.html.twig'
        with { 'business' : business, 'admin': admin, 'title': 'Business'} %}

    {% if object.getType == constant('Domain\\BusinessBundle\\DBAL\\Types\\TaskType::TASK_PROFILE_UPDATE') %}
        {% include 'DomainBusinessBundle:TaskAdmin/blocks:changes.html.twig'
        with { 'business' : business, 'admin': admin, 'object': object} %}
    {% endif %}

    <form
        {% if admin_pool.getOption('form_type') == 'horizontal' %}class="form-horizontal"{% endif %}
        id="task-form"
        role="form"
        action="{{ admin.generateUrl('edit', {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}" {{ form_enctype(form) }}
        method="POST">

        {% if (object.type == constant('Domain\\BusinessBundle\\DBAL\\Types\\TaskType::TASK_REVIEW_APPROVE')) %}
            <hr>
            <div class="form-group" id="sonata-ba-field-container-s57af15dda91b9_businessProfile__businessReviews">
                <label class="control-label">{% trans %}New Business Review{% endtrans %}</label>
                <div class="sonata-ba-view">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    {{ admin.trans('User') }}
                                </th>
                                <th>
                                    {{ admin.trans('Username') }}
                                </th>
                                <th>
                                    {{ admin.trans('Rating') }}
                                </th>
                                <th>
                                    {{ admin.trans('Content') }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="sonata-ba-view-container">
                                <td>{{ object.review.getUser().getFirstname() }} {{ object.review.getUser().getLastname() }}</td>
                                <td>{{ object.review.getUsername() }}</td>
                                <td>{{ object.review.getRating() }}</td>
                                <td>{{ object.review.getContent() }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <hr>
            {{ form_row(form.businessProfile__businessReviews) }}
        {% endif %}

        {% if (object.type == TASK.PROFILE_CLAIM) %}
            <hr>
            <div class="form-group" id="sonata-ba-field-container-s57af15dda91b9_businessProfile__businessReviews">
                <label class="control-label">{% trans %}Business Profile Claim Request{% endtrans %}</label>
                <div class="sonata-ba-view">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    {{ admin.trans('User ID') }}
                                </th>
                                <th>
                                    {{ admin.trans('User Name') }}
                                </th>
                                <th>
                                    {{ admin.trans('Message') }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="sonata-ba-view-container">
                                <td>{{ object.createdUser.id }}</td>
                                <td>{{ object.createdUser.fullName }}</td>
                                <td>{{ object.closureReason }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        {% endif %}

        {% if (object.status == constant('Domain\\BusinessBundle\\DBAL\\Types\\TaskStatusType::TASK_STATUS_OPEN')) %}
            <div class="well well-small form-actions">
                <button class="btn btn-success" type="submit"  name="status"
                        value="{{ constant('Domain\\BusinessBundle\\DBAL\\Types\\TaskStatusType::TASK_STATUS_CLOSED') }}">
                    Approve
                </button>
                <button class="btn btn-danger" data-toggle="modal" data-target="#rejectReasonModal" type="button" id="rejectTaskButton">
                    Reject
                </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="rejectReasonModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">{{ admin.trans('Reject Reason') }}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                {{ form_widget(form.rejectReason) }}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" name="status" class="btn btn-danger"
                                    value="{{ constant('Domain\\BusinessBundle\\DBAL\\Types\\TaskStatusType::TASK_STATUS_REJECTED') }}">
                                Reject
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {{ form_row(form._token) }}
    </form>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    {% include ':widgets:fos_js_routing.html.twig' %}
    <script src='{{ absolute_url(asset('assetic/js/modules/mapbox-gl.min.js')) }}'></script>
    {{ parent() }}
    <script>
        var messages = {
            'phoneNotUnique': '{{ 'validation_warnings.phone.not_unique'|trans({}, 'AdminDomainBusinessBundle') }}',
            'phonesCheckNotComplete': '{{ 'validation_warnings.phone.check_not_complete'|trans({}, 'AdminDomainBusinessBundle') }}',
        };
    </script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ asset('bundles/domainbusiness/scripts/modules/tools/tasks.js') }}"></script>
    <script type="text/javascript">
        var map;
        $( document ).ready( function() {
            var event = new CustomEvent( 'jQueryLoaded' );
            document.dispatchEvent( event );
        });
    </script>
    <script src="{{ asset('bundles/domainsite/scripts/vendors/underscore-min.js') }}"></script>
    {% include ':widgets:mapbox_script.html.twig' %}
{% endblock %}
