{% extends "redesign/layout/base.html.twig" %}

{% block bodyClass %}generic-page article-page has-sidebar{% endblock %}

{% block breadcrumbs %}
    {% include ':redesign/blocks:article-breadcrumbs.html.twig' with {'articleCategory': article.category} %}
{% endblock %}

{% block body %}
    <div class="main__container main__container--centered">
        <div class="container clearfix">
            <div class="main main-column">
                <article class="article">
                    <section class="article__header page-section">
                        <h1><strong>{{ article.title }}</strong></h1>
                        <div class="article__category">
                            <div class="tagcloud">
                                <a href="{{ absolute_url(path('domain_article_category', {'categorySlug':  article.getCategory().getSlug() })) }}" class="tag">{{ article.getCategory().getName() }}</a>
                            </div>
                        </div>

                        <div class="credits">
                            <ul>
                                <li><i class="fa fa-pencil"></i>{{ article.authorName }}</li>
                                <li><i class="fa fa-calendar"></i>{{ article.updatedAt|date(article_date_format) }}</li>
                            </ul>
                        </div>
                    </section>
                    <section class="article-body">

                        {% if (articleGallery|length > 0) %}
                            <section class="page-section photos slider section--slider hide-before">
                                <div class="slider__item">
                                    <img src="{% path article.getImage(), 'normal' %}" alt="{{ article.title }}">
                                </div>
                                {% for image in articleGallery %}
                                    <div class="slider__item">
                                        <img src="{% path image.getMedia(), 'normal' %}" alt="{% if image.description %}{{ image.description }}{% else %}{{ article.title }}{% endif %}">
                                    </div>
                                {% endfor %}
                            </section>
                        {% else %}
                            <section class="gallery">
                                <div class="photos">
                                    <div class="article-photo">
                                        <img src="{% path article.getImage(), 'normal' %}" alt="{{ article.title }}">
                                    </div>
                                </div>
                            </section>
                        {% endif %}

                        <div class="article-wysiwyg-body">
                            {{ article.getBody()|raw }}
                        </div>
                    </section>

                    {% include ':redesign/blocks/banners:static-page-bottom.html.twig' with { 'bannerType': BANNER_CODE.ARTICLE_PAGE_BOTTOM } %}
                </article>
            </div>

            {% include ':redesign/blocks:side-ads-block.html.twig' with { 'bannerType': BANNER_CODE.ARTICLE_PAGE_RIGHT } %}
        </div>
    </div>
{% endblock %}
