{% extends "redesign/layout/base.html.twig" %}

{% block bodyClass %}generic-page article-page has-sidebar{% endblock %}

{% block breadcrumbs %}
    {% include ':redesign/blocks:article-breadcrumbs.html.twig' with {'articleCategory': article.category} %}
{% endblock %}

{% block body %}
    <div class="main__container main__container--centered">
        <div class="container clearfix">
            <div class="main main-column">

                <article class="article">
                    <section class="article__header page-section">
                        <h1><strong>{{ article.title }}</strong></h1>
                        <div class="article__category">
                            <div class="tagcloud">
                                <a href="{{ path('domain_article_category', {'categorySlug':  article.getCategory().getSlug() }) }}" class="tag">{{ article.getCategory().getName() }}</a>
                            </div>
                        </div>

                        <div class="credits">
                            <ul>
                                <li><i class="fa fa-pencil"></i>{{ article.createdUser.fullName }}</li>
                                <li><i class="fa fa-calendar"></i>{{ article.updatedAt|date('m d, Y') }}</li>
                            </ul>
                        </div>
                    </section>
                    <section class="article-body">

                        <section class="gallery">
                            <div class="photos slider section--slider">
                                <div class="slider__item">
                                    <img src="{% path article.getImage(), 'homepage' %}">
                                </div>
                            </div>
                        </section>

                        {{ article.getBody()|raw }}
                    </section>

                    {% include ':redesign/blocks/banners:static-page-bottom.html.twig' %}
                </article>
            </div>

            {% include ':redesign/blocks:side-ads-block.html.twig' %}
        </div>
    </div>
{% endblock %}
