{% extends "redesign/layout/base.html.twig" %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/styles/bootstrap-datetimepicker-standalone.css')) }}" />
    <link rel="preload" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" as="style" onload="this.rel='stylesheet'" />
{% endblock %}

{% block googleTagManagerScript %}{% endblock %}
{% block googleTagManagerNoScript %}{% endblock %}

{% import '::widgets/custom_form_label_redesign.html.twig' as custom_form_label %}

{% block bodyClass %}generic-page user-profile{% endblock %}

{% block body %}
    <div class="main__container main__container--centered">
        <div class="main">
            <div class="container clearfix">
                {% if businessProfileForm.vars.value.getId() %}
                    {% embed ':redesign/blocks/businessProfile/tabs:nav_tab.html.twig' with {'activeTab': 'profile'} %}{% endembed %}
                {% endif %}
                <section class="page-section" id="profile-user">
                    <div class="form__section">
                        <form class="form user-profile-form"
                          id="businessProfileRequestForm"
                          novalidate="novalidate"
                          name="{{ businessProfileForm.vars.name }}"
                          {% if businessProfileForm.vars.value %}data-id="{{ businessProfileForm.vars.value.getId() }}"{% endif %}
                        >
                            <div id="new-profile-loading-spinner-container-id"></div>

                            <div class="tab-content">
                                {% include ':redesign/blocks/businessProfile/subTabs/profile:general.html.twig' %}
                            </div>

                            <div class="display-none">
                                {{ form_rest(businessProfileForm) }}
                            </div>

                            {% if businessProfile is defined %}
                                {% set updatedBy = businessProfile.getUpdatedUser() %}
                                {% if updatedBy %}
                                    <div class="form-column__container clearfix">
                                        <div class="info-box">
                                            <ul class="clearfix">
                                                <li>
                                                    <span class="info__label">
                                                        {% trans %}Last date of profile update{% endtrans %}
                                                    </span>
                                                    <span class="info__content">
                                                        {{ businessProfile.getUpdatedAt()|date(business_date_format) }}
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="info__label">
                                                        {% trans %}Updated By{% endtrans %}
                                                    </span>
                                                    <span class="info__content">
                                                        {{ updatedBy.getFirstname() }} {{ updatedBy.getLastname() }}
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}

                            <div class="form__actions">
                                {% if businessProfile is defined %}
                                    {% set resetUrl = absolute_url(path('domain_business_profile_edit', {'id': businessProfile.id})) %}
                                {% else %}
                                    {% set resetUrl = absolute_url(path('domain_business_profile_create')) %}
                                {% endif %}

                                <a href="{{ resetUrl }}" class="button button--text">{% trans %}Reset{% endtrans %}</a>
                                <button type="submit" class="button button--action" id="saveBusinessProfile">{% trans %}Save{% endtrans %}</button>
                            </div><!-- form-actions -->
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {{ parent() }}
    {% if closeBusinessProfileForm is defined %}
        {% include ':redesign/blocks/modals:close_business_profile.html.twig' %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src='{{ absolute_url(asset('assetic/js/modules/mapbox-gl.min.js')) }}'></script>

    {{ parent() }}

    <script type="text/javascript">
        requirejs(['{{ absolute_url(asset("assetic/require_common_js.js")) }}'], function(common) {
            requirejs(['{{ absolute_url(asset("assetic/require_business_profile_js.js")) }}'], function(businessProfile) {
                var profile = new businessProfile();
            });
            require(['{{ absolute_url(asset("assetic/js/modules/tools/videojsCustomize.min.js")) }}'], function () {});
        })
    </script>
{% endblock%}

