{% extends "redesign/layout/base.html.twig" %}

{% block videoJs %}
    {% include ':redesign/layout/widgets:video-js.html.twig' %}
{% endblock %}

{% block breadcrumbs %}
    {% include ':redesign/blocks:breadcrumbs.html.twig' with {'catalogLocality': businessProfile.catalogLocality, 'category': businessProfile.categories|first} %}
{% endblock %}

{% block bodyClass %}profile{% endblock %}

{% block body %}
    <div class="main__container main__container--centered">
        <div class="main">
            {% if businessProfile.getBackground() and hasSubscription(businessProfile, "CODE_PREMIUM_PLUS")  %}
                <div class="container profile-header__container" style="margin: 0 auto; background-image:url({% path businessProfile.getBackground(), 'reference' %});">
                    <div class="shadow-background" style="margin: 0 auto; background-image:url({% path businessProfile.getBackground(), 'reference' %});"></div>
            {% else %}
                <div class="container profile-header__container profile-header--no-image {% for category in businessProfile.categories %}category-{{ category.slug }} {% endfor %}">
                    <div class="shadow-background" style="margin: 0 auto; );"></div>
            {% endif %}
                <header class="page-section profile-header">
                    <div class="item__header container">
                        {% set workingHoursData = get_business_profile_open_status(businessProfile) %}
                        {% include ':redesign/blocks/workingHours:working_hours_current_status.html.twig' with { 'workingHoursData': workingHoursData } %}
                        <div class="rank">
                            <div class="rank-ta rank-ta--5"></div>
                            <a data-show-modal-id="{% if (app.user) %}writeReviewModal{% else %}loginModal{% endif %}">
                                {% set reviewsAvgRating = get_business_profile_reviews_avg_rating(businessProfile) %}
                                {% include ':widgets:rating.html.twig' with { 'ratingValue': reviewsAvgRating } %}
                            </a>
                        </div>
                    </div><!-- item__header -->
                    {% if businessProfile.getLogo() and hasSubscription(businessProfile, "CODE_PREMIUM_PLUS") %}
                        <div class="avatar">
                            <img src="{% path businessProfile.getLogo(), 'preview' %}" alt="{{ businessProfile.getName() }}">
                        </div>
                    {% endif %}
                    <h1 id="businessProfileName" data-business-profile-id="{{ businessProfile.id }}">&nbsp;{{ businessProfile.getName() }}</h1>
                    {% if (hasSubscription(businessProfile, "CODE_PREMIUM_PLUS") and businessProfile.getSlogan()) %}
                        <p>&nbsp;{{ businessProfile.getSlogan() }}</p>
                    {% endif %}
                    <div class="header-actions">
                        {% include ':redesign/blocks/businessProfile/view:action-buttons.html.twig' with {item: businessProfile} %}
                    </div>

                    {% include ':redesign/blocks/businessProfile/view:social-buttons.html.twig' with {item: businessProfile} %}
                </header>
            </div><!-- container -->

            <div class="profile-body__container">
                <div class="container columns-container clearfix">
                    <article class="profile__body main-column">
                        <section class="page-section highlights-section">
                            <div class="highlights container">
                                {% if not businessProfile.getHideAddress() %}
                                    <div class="highlights__item">
                                        <h3>{% trans %}Address{% endtrans %}</h3>
                                        <ul>
                                            <li>
                                                {% if businessProfile.getCustomAddress() %}
                                                    {{ businessProfile.getCustomAddress() }}
                                                {% else %}
                                                    <strong>{{ businessProfile.getStreetAddress() }}</strong>,
                                                    {{ businessProfile.getCity() }}, {{ businessProfile.getCountry() }} {{ businessProfile.getZipCode() }}
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div><!-- highlights__item -->
                                {% endif %}

                                {% if businessProfile.getPhones()|length > 0 %}
                                    <div class="highlights__item">
                                        <h3>{% trans %}Phone{% endtrans %}</h3>
                                        <ul>
                                            {% for phone in businessProfile.getPhones() %}
                                                <li>
                                                    <i class="fa fa-phone"></i>
                                                    <a href="tel:{{ phone.getPhone() }}" class="hide-desktop phone-call" data-id="{{ businessProfile.getId() }}" data-type="callMobButton">{{ phone.getPhone() }}</a>
                                                    <span class="hide-mobile">{{ phone.getPhone() }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div><!-- highlights__item -->
                                {% endif %}

                                {% if businessProfile.getEmail() %}
                                    <div class="highlights__item">
                                        <h3>{% trans %}Email{% endtrans %}</h3>
                                        <ul>
                                            <li>
                                                <i class="fa fa-envelope"></i> <a data-href="mailto:{{ businessProfile.getEmail() }}" class="link-pointer redirect-event" data-id="{{ businessProfile.id }}" data-current-tab="1" data-type="emailClick">{% trans %}Contact Us{% endtrans %}</a>
                                            </li>
                                        </ul>
                                    </div><!-- highlights__item -->
                                {% endif %}

                                {% include ':redesign/blocks/workingHours:working_hours_daily_list.html.twig' with { 'businessProfile': businessProfile } %}

                                {% if businessProfile.getBrands() %}
                                    <div class="highlights__item">
                                        <h3>{% trans %}Brands{% endtrans %}</h3>
                                        <ul>
                                            <li>
                                                {{ businessProfile.getBrands()|nl2br }}
                                            </li>
                                        </ul>
                                    </div><!-- highlights__item -->
                                {% endif %}

                                {% if businessProfile.getProduct() %}
                                    <div class="highlights__item">
                                        <h3>{% trans %}Products or Services{% endtrans %}</h3>
                                        <ul>
                                            <li>
                                                {{ businessProfile.getProduct()|nl2br }}
                                            </li>
                                        </ul>
                                    </div><!-- highlights__item -->
                                {% endif %}
                            </div><!-- container -->
                        </section>

                        {% if businessProfile.paymentMethods|length > 0 %}
                            <section class="page-section payment-methods">
                                <h3>{% trans %}Payment methods{% endtrans %}</h3>
                                <ul>
                                    {% for paymentMethod in businessProfile.paymentMethods %}
                                        <li>
                                            {% if paymentMethod.type in PAYMENT_METHOD_TYPE %}
                                                {% set path = 'redesign/img/payment/' ~ paymentMethod.type ~ '.png' %}

                                                <img src="{{ absolute_url(asset(path)) }}" alt="{{ paymentMethod.getName }}">
                                            {% endif %}

                                            <span>{{ paymentMethod.getName }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </section>
                        {% endif %}

                        {% if video_section_allowed_for_business(businessProfile)
                            and businessProfile.getVideo() is not null
                            and businessProfile.getVideo().status == 'active'
                        %}
                            <section class="page-section video">
                                {{ render_video_embed(businessProfile.getVideo()) }}
                            </section>
                        {% endif %}

                        {% if businessProfile.getDescription() %}
                            <section class="page-section description-section">
                                <div class="container">
                                    <div class="business-view-description">{{ businessProfile.getDescription()|purify }}</div>
                                </div>
                            </section>
                        {% endif %}

                        {% if (advertisements|length > 0 or photos|length > 0) and hasSubscription(businessProfile, "CODE_PREMIUM_GOLD") %}
                            <section class="page-section photos slider section--slider hide-before">
                                {% for photo in photos %}
                                    <div class="slider__item">
                                        <img src="{% path photo.getMedia(), 'normal' %}" alt="{% if photo.description %}{{ photo.description }}{% else %}{{ businessProfile.getName() }}{% endif %}">
                                    </div>
                                {% endfor %}
                                {% for ad in advertisements %}
                                    <div class="slider__item">
                                        <img src="{% path ad.getMedia(), 'normal' %}" alt="{% if ad.description %}{{ ad.description }}{% else %}{{ businessProfile.getName() }}{% endif %}">
                                    </div>
                                {% endfor %}
                            </section>
                        {% endif %}

                        {% if businessProfile.panoramaId %}
                            <section class="page-section panorama-frame hide-before">
                                <h3 class="panorama-title">{% trans %}business_profile.panorama.title{% endtrans %}</h3>
                                {% include ':redesign/blocks/panorama:panorama_iframe.html.twig' with {panoramaId: businessProfile.panoramaId, title: businessProfile.name} %}
                            </section>
                        {% endif %}

                        {% if businessProfile.getDiscount() is not null %}
                            <section class="page-section description-section">
                                <div class="container">
                                    <h3>{% trans %}Discounts{% endtrans %}</h3>
                                    {{ businessProfile.getDiscount()|purify }}
                                </div>
                            </section>
                        {% endif %}

                        {% if businessProfile.getCoupons()|length > 0 %}
                            <section class="page-section description-section">
                                <div class="container">
                                    {% if businessProfile.getCoupons()|length > 0 %}
                                        <div class="highlights__item highlights__item--coupon">
                                            <h3>{% trans %}Coupons{% endtrans %}</h3>
                                            <ul>
                                                {% for coupon in businessProfile.getCoupons %}
                                                    {% set media = coupon.getImage() %}
                                                    <li>
                                                        {{ coupon.title }}
                                                        <a href="{% path media, 'reference' %}" class="green-btn btn print-btn coupon">
                                                            <i class="fa fa-print" aria-hidden="true"></i>
                                                            <span>{% trans %}Print{% endtrans %}</span>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                            </section>
                        {% endif %}

                        {% if lastReview is not null %}
                            <section class="last__review">
                                <h3>{% trans %}Last review{% endtrans %}</h3>
                                {% include ':redesign/blocks:review-item.html.twig' with {'review': lastReview} %}

                                <a href="{{ absolute_url(path('domain_business_reviews_list', { businessProfileId: businessProfile.getId()})) }}">
                                    {% trans %}View more reviews{% endtrans %}
                                </a>
                            </section>
                        {% endif %}

                        {% include ':redesign/blocks/banners:static-page-bottom.html.twig' with { 'bannerType': BANNER_CODE.BUSINESS_PAGE_BOTTOM } %}

                        {% if not businessProfile.hideMap %}
                            <section class="page-section profile-map">
                                <div id="map" class="business-map">
                                    {% include ':redesign/blocks/googleMap:google_map_placeholder.html.twig' %}
                                </div>
                                <span id="map-markers" hidden data-google-markers="{{ markers }}"></span>
                            </section>
                        {% endif %}

                    </article><!-- profile -->

                    <aside class="profile__sidebar">

                        {% include ':redesign/blocks:social-share.html.twig' %}

                        {% include ':redesign/blocks/banners:side-block.html.twig' with { 'bannerType': BANNER_CODE.BUSINESS_PAGE_RIGHT } %}

                        {% if businessProfile.categories|length > 0 %}
                            <div class="sidebar__section section--tags">
                                <h2 class="section__title">{% trans %}Business categories{% endtrans %}</h2>
                                <div class="tagcloud">
                                    {% for item in businessProfile.categories %}
                                        <a href="{{ absolute_url(path('domain_search_catalog', {'localitySlug': businessProfile.catalogLocality.getSlug(), 'categorySlug': item.getSlug() })) }}" class="tag" title="{% trans %}Go to...{% endtrans %}">{{ item.name }}</a>
                                    {% endfor %}
                                </div>
                            </div><!-- sidebar__section -->
                        {% endif %}

                        {% if showClaimButton %}
                            <div class="sidebar__section section--social">
                                <ul>
                                    <li>
                                        <a class="button" data-show-modal-id="claimBusinessModal">
                                            <i class="fa fa-suitcase"></i>
                                            <span>{% trans %}claim_business.button{% endtrans %}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            {% include ':redesign/blocks/modals:claim_business.html.twig' %}
                        {% endif %}

                    </aside>
                </div><!-- container -->
            </div><!-- profile-body_-container -->

        </div><!-- main -->
    </div><!-- main__container -->

    <div class="card-item">
        {% include ':redesign/blocks/modals:write_review.html.twig' with { 'reviewForm': reviewForm } %}
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    {% include ':widgets:google_map_script.html.twig' with {hideMap: businessProfile.hideMap} %}

    <script type="text/javascript">
        var map;

        requirejs(['{{ absolute_url(asset("assetic/require_common_js.js")) }}'], function(common) {
            require(['{{ absolute_url(asset("assetic/require_map_search_page_js.js")) }}'], function(mapSearchPage) {
                var mapSearchPage = new mapSearchPage();
            });
            requirejs([
                '{{ absolute_url(asset("assetic/require_business_profile_view_js.js")) }}'
            ], function(businessProfileView, interactionsReport) {
                var businessProfileView = new businessProfileView();
            })
        });
    </script>

    {% include "GoogleBundle:Analytics:async_universal.html.twig" %}
{% endblock%}
