{% extends "redesign/layout/base.html.twig" %}

{% block breadcrumbs %}
    {% set category1 = businessProfile.category %}
    {% set category3 = businessProfile.getSubcategories(CATEGORY_LEVEL_3)|first %}

    {% if category3 %}
        {% set category2 = category3.parent %}
    {% else %}
        {% set category2 = businessProfile.getSubcategories(CATEGORY_LEVEL_2)|first %}
    {% endif %}

    {% include ':redesign/blocks:breadcrumbs.html.twig' with {'catalogLocality': businessProfile.catalogLocality, 'category': category1, 'category2': category2, 'category3': category3} %}
{% endblock %}

{% block bodyClass %}profile{% endblock %}

{% block body %}
    <div class="main__container main__container--centered">
        <div class="main">
            {% if businessProfile.getBackground() and hasSubscription(businessProfile, "CODE_PREMIUM_PLUS")  %}
                <div class="container profile-header__container profile-header--no-image" style="margin: 0 auto; background-image:url({% path businessProfile.getBackground(), 'reference' %});">
                    <div class="shadow-background" style="margin: 0 auto; background-image:url({% path businessProfile.getBackground(), 'reference' %});"></div>
            {% else %}
                <div class="container profile-header__container profile-header--no-image" style="margin: 0 auto; background-image:url('{{ absolute_url(asset('redesign/img/profile-header.jpg')) }}');">
                    <div class="shadow-background" style="margin: 0 auto; background-image:url('{{ absolute_url(asset('redesign/img/profile-header.jpg')) }}');"></div>
            {% endif %}
                <header class="page-section profile-header">
                    <div class="item__header container">
                        <div class="rank">
                            <div class="rank-ta rank-ta--5"></div>
                            <a href="#" data-show-modal-id="{% if (app.user) %}writeReviewModal{% else %}loginModal{% endif %}">
                                {% set reviewsAvgRating = get_business_profile_reviews_avg_rating(businessProfile) %}
                                {% include ':widgets:rating.html.twig' with { 'ratingValue': reviewsAvgRating } %}
                            </a>
                        </div>
                    </div><!-- item__header -->
                    {% if businessProfile.getLogo() and hasSubscription(businessProfile, "CODE_PREMIUM_PLUS") %}
                        <div class="avatar">
                            {% thumbnail businessProfile.getLogo(), 'preview' %}
                        </div>
                    {% endif %}
                    <h1>&nbsp;{{ businessProfile.getName() }}</h1>
                    {% if (hasSubscription(businessProfile, "CODE_PREMIUM_PLUS") and businessProfile.getSlogan()) %}
                        <p>&nbsp;{{ businessProfile.getSlogan() }}</p>
                    {% endif %}
                    <div class="header-actions">
                        {% if not businessProfile.getHideAddress() %}
                            <a href="#" class="get-dir button button--small button--featured" data-id="{{ businessProfile.getId() }}" data-latlng="{{ businessProfile.getLatLng() }}">
                                <i class="fa fa-location-arrow"></i>
                                <span>{% trans %}Directions{% endtrans %}</span>
                            </a>
                        {% endif %}
                        {% if businessProfile.getPhones()|length > 0 %}
                            <a href="tel:{{ businessProfile.phones|first.phone }}" class="button button--small button--featured hide-desktop">
                                <i class="fa fa-phone"></i>
                                <span>{% trans %}Call{% endtrans %}</span>
                            </a>
                        {% endif %}
                        {% if businessProfile.getWebsite() %}
                            <a class="button button--small button--featured" href="{{ businessProfile.getWebsiteLink() }}">
                                <i class="fa fa-external-link"></i>
                                <span>{% trans %}Web{% endtrans %}</span>
                            </a>
                        {% endif %}
                    </div><!-- header-actions -->

                    {% set socialLinksExists = businessProfile.getFacebookURL()
                        or businessProfile.getGoogleURL()
                        or businessProfile.getTwitterURL()
                        or businessProfile.getYoutubeURL()
                    %}

                    {% if socialLinksExists %}
                        <div class="share">
                            {% if businessProfile.getFacebookURL() %}
                                <div class="share__item facebook">
                                    <a href="{{ businessProfile.getFacebookURL() }}" title="{% trans %}Visit business profile on...{% endtrans %}"><i class="fa fa-facebook"></i></a>
                                </div><!-- share__item -->
                            {% endif %}
                            {% if businessProfile.getTwitterURL() %}
                                <div class="share__item twitter">
                                    <a href="{{ businessProfile.getTwitterURL() }}" title="{% trans %}Visit business profile on...{% endtrans %}"><i class="fa fa-twitter"></i></a>
                                </div><!-- share__item -->
                            {% endif %}
                            {% if businessProfile.getGoogleURL() %}
                                <div class="share__item google-plus">
                                    <a href="{{ businessProfile.getGoogleURL() }}" title="{% trans %}Visit business profile on...{% endtrans %}"><i class="fa fa-google-plus"></i></a>
                                </div><!-- share__item -->
                            {% endif %}
                            {% if businessProfile.getYoutubeURL() %}
                                <div class="share__item youtube">
                                    <a href="{{ businessProfile.getYoutubeURL() }}" title="{% trans %}Visit business profile on...{% endtrans %}"><i class="fa fa-youtube"></i></a>
                                </div><!-- share__item -->
                            {% endif %}
                        </div>
                    {% endif %}
                </header>
            </div><!-- container -->

            <div class="profile-body__container">
                <div class="container columns-container clearfix">
                    <article class="profile__body main-column">
                        <section class="page-section highlights-section">
                            <div class="highlights container">
                                {% if not businessProfile.getHideAddress() %}
                                    <div class="highlights__item">
                                        <h3>{% trans %}Address{% endtrans %}</h3>
                                        <ul>
                                            <li>
                                                {% if businessProfile.getCustomAddress() %}
                                                    {{ businessProfile.getCustomAddress() }}
                                                {% else %}
                                                    <strong>{{ businessProfile.getStreetAddress() }}</strong>,
                                                    {{ businessProfile.getCity() }}, {{ businessProfile.getCountry() }} {{ businessProfile.getZipCode() }}
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div><!-- highlights__item -->
                                {% endif %}

                                {% if businessProfile.getPhones()|length > 0 %}
                                    <div class="highlights__item">
                                        <h3>{% trans %}Phone{% endtrans %}</h3>
                                        <ul>
                                            {% for phone in businessProfile.getPhones() %}
                                                <li>
                                                    <i class="fa fa-phone"></i> {{ phone.getPhone() }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div><!-- highlights__item -->
                                {% endif %}

                                {% if businessProfile.getEmail() %}
                                    <div class="highlights__item">
                                        <h3>Email</h3>
                                        <ul>
                                            <li>
                                                <i class="fa fa-envelope"></i> {{ businessProfile.getEmail() }}
                                            </li>
                                        </ul>
                                    </div><!-- highlights__item -->
                                {% endif %}

                                {% if businessProfile.getWorkingHours() %}
                                    <div class="highlights__item highlights__item--hours">
                                        <h3>{% trans %}Business hours{% endtrans %}</h3>
                                        <ul>
                                            <li>
                                                {{ businessProfile.getWorkingHours() }}
                                            </li>
                                        </ul>
                                    </div><!-- highlights__item -->
                                {% endif %}

                                {% if businessProfile.getBrands() %}
                                    <div class="highlights__item highlights__item--checklist">
                                        <h3>{% trans %}Brands{% endtrans %}</h3>
                                        <ul>
                                            <li>
                                                {{ businessProfile.getBrands() }}
                                            </li>
                                        </ul>
                                    </div><!-- highlights__item -->
                                {% endif %}

                                {% if businessProfile.getProduct() %}
                                    <div class="highlights__item">
                                        <h3>{% trans %}Products or Services{% endtrans %}</h3>
                                        <ul>
                                            <li>
                                                {{ businessProfile.getProduct() }}
                                            </li>
                                        </ul>
                                    </div><!-- highlights__item -->
                                {% endif %}

                            </div><!-- container -->
                        </section>

                        {% if businessProfile.paymentMethods|length > 0 %}
                            <section class="page-section payment-methods">
                                <h3>{% trans %}Payment methods{% endtrans %}</h3>
                                <ul>
                                    {% for paymentMethod in businessProfile.paymentMethods %}
                                        <li>
                                            {% if paymentMethod.type  in PAYMENT_METHOD_TYPE %}
                                                {% set path = 'redesign/img/payment/' ~ paymentMethod.type ~ '.png' %}

                                                <img src="{{ absolute_url(asset(path)) }}">
                                            {% endif %}

                                            <span>{{ paymentMethod.getName }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </section>
                        {% endif %}

                        {% if video_section_allowed_for_business(businessProfile) and businessProfile.getVideo() is not null %}
                            <section class="page-section video">
                                {{ render_video_embed(businessProfile.getVideo())|raw }}
                            </section>
                        {% endif %}

                        {% if businessProfile.getDescription() %}
                            <section class="page-section description-section">
                                <div class="container">
                                    <p>{{ businessProfile.getDescription() }}</p>
                                </div>
                            </section>
                        {% endif %}

                        {% if (advertisements|length > 0 or photos|length > 0) and hasSubscription(businessProfile, "CODE_PREMIUM_GOLD") %}
                            <section class="page-section photos slider section--slider">
                                {% for photo in photos %}
                                    <div class="slider__item">
                                        {% thumbnail photo.getMedia(), 'reference' with {'alt': photo.description} %}
                                    </div>
                                {% endfor %}
                                {% for ad in advertisements %}
                                    <div class="slider__item">
                                        {% thumbnail ad.getMedia(), 'reference' with {'alt': ad.description} %}
                                    </div>
                                {% endfor %}
                            </section>
                        {% endif %}

                        {% if businessProfile.getDiscount() is not null %}
                            <section class="page-section description-section">
                                <div class="container">
                                    <h3>{% trans %}Discounts{% endtrans %}</h3>
                                    {{ businessProfile.getDiscount()|raw }}
                                </div>
                            </section>
                        {% endif %}

                        {% if businessProfile.getCoupons()|length > 0 %}
                            <section class="page-section description-section">
                                <div class="container">
                                    {% if businessProfile.getCoupons()|length > 0 %}
                                        <div class="highlights__item highlights__item--coupon">
                                            <h3>{% trans %}Coupons{% endtrans %}</h3>
                                            <ul>
                                                {% for coupon in businessProfile.getCoupons %}
                                                    {% set media = coupon.getImage() %}
                                                    <li>
                                                        {{ coupon.title }}
                                                        <a href="{% path media, 'reference' %}" class="green-btn btn print-btn coupon">
                                                            <i class="fa fa-print" aria-hidden="true"></i>
                                                            <span>{% trans %}Print{% endtrans %}</span>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                            </section>
                        {% endif %}

                        {% if lastReview is not null %}
                            <section class="last__review">
                                <h3>{% trans %}Last review{% endtrans %}</h3>
                                {% include ':redesign/blocks:review-item.html.twig' with {'review': lastReview} %}

                                <a href="{{ absolute_url(path('domain_business_reviews_list', { businessProfileId: businessProfile.getId()})) }}">
                                    {% trans %}View more reviews{% endtrans %}
                                </a>
                            </section>
                        {% endif %}

                        {% include ':redesign/blocks/banners:static-page-bottom.html.twig' %}

                        <section class="page-section profile-map">
                            <div id="map"></div>
                            <span id="map-markers" hidden>{{ markers }}</span>
                        </section>

                    </article><!-- profile -->

                    <aside class="profile__sidebar">

                        {% include ':redesign/blocks:social-share.html.twig' %}

                        {% include ':redesign/blocks/banners:side-block.html.twig' %}

                        {% if businessProfile.subcategories(CATEGORY_LEVEL_2)|length > 0 %}
                            <div class="sidebar__section section--tags">
                                <h2 class="section__title">{% trans %}Business categories{% endtrans %}</h2>
                                <div class="tagcloud">
                                    {% for category2 in businessProfile.getSubcategories(CATEGORY_LEVEL_2) %}
                                        <a href="{{ absolute_url(path('domain_search_catalog', {'localitySlug': businessProfile.catalogLocality.getSlug(), 'categorySlug1': businessProfile.category.getSlug(), 'categorySlug2': category2.getSlug() })) }}" class="tag" title="{% trans %}Go to...{% endtrans %}">{{ category2.name }}</a>
                                    {% endfor %}
                                    {% for category3 in businessProfile.getSubcategories(CATEGORY_LEVEL_3) %}
                                        <a href="{{ absolute_url(path('domain_search_catalog', {'localitySlug': businessProfile.catalogLocality.getSlug(), 'categorySlug1': businessProfile.category.getSlug(), 'categorySlug2': category3.parent.getSlug(), 'categorySlug3': category3.getSlug() })) }}" class="tag" title="{% trans %}Go to...{% endtrans %}">{{ category3.name }}</a>
                                    {% endfor %}
                                </div>
                            </div><!-- sidebar__section -->
                        {% endif %}

                    </aside>
                </div><!-- container -->
            </div><!-- profile-body_-container -->

        </div><!-- main -->
    </div><!-- main__container -->

    <div class="card-item">
        {% include ':redesign/blocks/modals:write_review.html.twig' with { 'reviewForm': reviewForm } %}
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    {% include ':widgets:google_map_script.html.twig' %}

    <script type="text/javascript">
        var map;

        requirejs(['{{ absolute_url(asset("bundles/domainsite/scripts/common.js")) }}'], function(common) {
            require(['{{ absolute_url(asset("bundles/domainsite/scripts/modules/mapsearchpage.js")) }}'], function(mapSearchPage) {
                var mapSearchPage = new mapSearchPage();
            });
            requirejs([
                '{{ absolute_url(asset("bundles/domainbusiness/scripts/modules/businessProfileView.js")) }}'
            ], function(businessProfileView, interactionsReport) {
                var businessProfileView = new businessProfileView();
            })
        });
    </script>

    {% include "GoogleBundle:Analytics:async_universal.html.twig" %}
{% endblock%}
