{% extends "redesign/layout/base.html.twig" %}

{% block bodyClass %}generic-page user-profile{% endblock %}

{% block breakcrumbs %}{% endblock %}

{% block body %}
    <div class="main__container main__container--centered">
        <div class="main">
            <div class="container clearfix">
                {% embed ':redesign/blocks/businessProfile/tabs:nav_tab.html.twig' with {'activeTab': 'report'} %}
                    {% block reportSubTab %}
                        {% include ':redesign/blocks/businessProfile/subTabs/report:nav_subtab.html.twig' %}
                    {% endblock %}
                {% endembed %}

                <form class="form">
                    <div class="form__section">
                        <div class="form-column__container clearfix">
                            <div class="form__column">
                                <div class="form__row vertical__row">
                                    {{ form_label(filtersForm.dateRange) }}
                                    {{ form_widget(filtersForm.dateRange) }}
                                </div>

                                <div class="form__row vertical__row" id="interactionTypeContainer">
                                    {{ form_label(filtersForm.actionType) }}
                                    {{ form_widget(filtersForm.actionType) }}
                                </div>
                            </div>

                            <div class="form__column">
                                <div class="form__row vertical__row" id="interactionGroupPeriodContainer">
                                    {{ form_label(filtersForm.groupPeriod) }}
                                    {{ form_widget(filtersForm.groupPeriod) }}
                                </div>

                                <div class="form__row vertical__row">

                                </div>
                            </div>
                        </div>

                        <div class="form-column__container clearfix" id="customDatesContainer" style="display: none;">
                            <div class="form__column">
                                <div class="form__row">
                                    <div class="form__field field--date">
                                        {{ form_label(filtersForm.start) }}
                                        {{ form_widget(filtersForm.start) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form__column">
                                <div class="form__row">
                                    <div class="form__field field--date">
                                        {{ form_label(filtersForm.end) }}
                                        {{ form_widget(filtersForm.end) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane active" id="overview" role="tabpanel">
                            {% include ':redesign/blocks/businessProfile/subTabs/report:overview.html.twig' %}

                            <div class="form__section" id="keywordsLimitContainer">
                                <div class="form-column__container clearfix">
                                    <div class="form__column">
                                        <div class="form__row vertical__row">
                                            {{ form_label(filtersForm.limit) }}
                                            {{ form_widget(filtersForm.limit) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% include ':redesign/blocks/businessProfile/subTabs/report:keywords.html.twig' %}
                        </div>

                        {% if ad_usage_allowed_for_business(businessProfile) %}
                            <div class="tab-pane" id="ad_usage" role="tabpanel">
                                {% include ':redesign/blocks/businessProfile/subTabs/report:ad_usage.html.twig' %}
                            </div>
                        {% endif %}
                    </div>

                    <input type="hidden" id="businessProfileId" value="{{ businessProfileId }}">
                </form>

                <div class="section-filters">
                    <h3 class="language-title">{% trans %}Export{% endtrans %}</h3>

                    <div class="form__section">
                        <div class="form-btn report-button-group">
                            {% set pdfExportURL = absolute_url(path('domain_business_reports_pdf_export')) %}
                            <button type="button" href="{{ pdfExportURL }}" id="export-pdf" class="btn green-btn">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                {% trans %}PDF{% endtrans %}
                            </button>
                            {% set excelExportURL = absolute_url(path('domain_business_reports_excel_export')) %}
                            <button type="button" href="{{ excelExportURL }}" id="export-excel" class="btn green-btn">
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                {% trans %}Excel{% endtrans %}
                            </button>
                            <button type="button" id="print" href="{{ pdfExportURL }}" class="btn green-btn">
                                <i class="fa fa-print" aria-hidden="true"></i>
                                {% trans %}Print{% endtrans %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- main -->
    </div><!-- main__container -->
{% endblock %}

{% block modals %}
    {{ parent() }}
    {% if closeBusinessProfileForm is defined %}
        {% include ':redesign/blocks/modals:close_business_profile.html.twig' %}
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        var overviewDataDates       = {{ overviewData['dates']|json_encode|raw }};
        var overviewDataChart       = {{ overviewData['chart']|json_encode|raw }};
        var overviewChartTitle      = '{{ overviewData['chartTitle']|trans }}';

        var keywordDataChartWord    = {{ keywordData['keywords']|json_encode|raw }};
        var keywordDataChartSearch  = {{ keywordData['searches']|json_encode|raw }};
    </script>

    <script type="text/javascript">
        requirejs(['{{ absolute_url(asset("assetic/require_common_js.js")) }}'], function(common) {
            requirejs(['{{ absolute_url(asset("assetic/require_reports_js.js")) }}'], function(Reports) {
                var reports = new Reports();
            })
        })
    </script>
{% endblock%}

