{% extends "redesign/layout/base.html.twig" %}

{% block videoJs %}
    {% include ':redesign/layout/widgets:video-js.html.twig' %}
{% endblock %}

{% block breadcrumbs %}
    {% include ':redesign/blocks:breadcrumbs.html.twig' with {'catalogLocality': businessProfile.catalogLocality, 'category': businessProfile.categories|first} %}
{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />
{% endblock %}

{% block bodyClass %}profile{% endblock %}

{% block body %}
    <div class="main__container main__container--centered">
        <div class="main" data-bw-gtm-component="business-profile-main">
            {% if businessProfile.getBackground() and hasSubscription(businessProfile, "CODE_PREMIUM_PLUS")  %}
                <div class="container profile-header__container" style="margin: 0 auto; background-image:url({% path businessProfile.getBackground(), 'normal' %});">
                    <div class="shadow-background" style="margin: 0 auto; background-image:url({% path businessProfile.getBackground(), 'reference' %});"></div>
            {% else %}
                <div class="container profile-header__container profile-header--no-image {% for category in businessProfile.categories %}category-{{ category.slug }} {% endfor %}">
                    <div class="shadow-background" style="margin: 0 auto; );"></div>
            {% endif %}
                <header class="page-section profile-header">
                    <div class="item__header container">
                        {% set workingHoursData = get_business_profile_open_status(businessProfile) %}
                        {% include ':redesign/blocks/workingHours:working_hours_current_status.html.twig' with { 'workingHoursData': workingHoursData } %}
                    </div><!-- item__header -->
                    {% if businessProfile.getLogo() and hasSubscription(businessProfile, "CODE_PREMIUM_PLUS") %}
                        <div class="avatar">
                            <img src="{% path businessProfile.getLogo(), 'preview' %}" alt="{{ businessProfile.getName() }}">
                        </div>
                    {% endif %}
                    <h1 id="businessProfileName" data-business-profile-id="{{ businessProfile.id }}" class="{{ seoTags.name }}">{{ businessProfile.getName() }}</h1>
                    {% if (hasSubscription(businessProfile, "CODE_PREMIUM_PLUS") and businessProfile.getSlogan()) %}
                        <p>&nbsp;{{ businessProfile.getSlogan() }}</p>
                    {% endif %}
                    <div class="header-actions">
                        {% include ':redesign/blocks/businessProfile/view:action-buttons.html.twig' with {item: businessProfile} %}
                    </div>

                    {% include ':redesign/blocks/businessProfile/view:social-buttons.html.twig' with {item: businessProfile} %}
                </header>
            </div><!-- container -->

            <div class="profile-body__container" data-bw-gtm-component="business-profile-body">
                <div class="container columns-container clearfix">
                    <article class="profile__body main-column">
                        <section class="page-section highlights-section">
                            <div class="highlights container">
                                {% if not businessProfile.getHideAddress() %}
                                    <div class="highlights__item">
                                        <h3>{% trans %}Address{% endtrans %}</h3>
                                        <ul>
                                            <li>
                                                {% if businessProfile.getCustomAddress() %}
                                                    {{ businessProfile.getCustomAddress() }}
                                                {% else %}
                                                    <strong>{{ businessProfile.getStreetAddress() }}</strong>,
                                                    {{ businessProfile.getCity() }}, {{ businessProfile.getCountry() }} {{ businessProfile.getZipCode() }}
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div><!-- highlights__item -->
                                {% endif %}

                                {% if not businessProfile.phones.empty %}
                                    <div class="highlights__item">
                                        <h3>{% trans %}Phone{% endtrans %}</h3>
                                        <ul>
                                            {% for phone in businessProfile.phones %}
                                                <li {% if phone.type == BUSINESS_PROFILE_PHONE.TYPE.MAIN %}class="main-phone"{% endif %} title="{{ ('business_profile.phone.tooltip.' ~ phone.type)|trans }}">
                                                    <i class="fa {{ get_business_profile_phone_icon(phone) }}"></i>
                                                    <a href="tel:{{ phone.phone }}" class="hide-desktop phone-call" data-id="{{ businessProfile.id }}" data-type="callMobButton" data-bw-gtm-event-click data-bw-gtm-label="{{ phone.phone }}">{{ phone.phone }}</a>
                                                    <span class="hide-mobile">{{ phone.phone }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div><!-- highlights__item -->
                                {% endif %}
                                {% if businessProfile.getWebsite() %}
                                    <div class="highlights__item">
                                        <h3>{% trans %}WebsiteButton{% endtrans %}</h3>
                                        <ul>
                                            <li class="main-phone">
                                                <i class="fa fa-link"></i>
                                                <a
                                                    class="redirect-event link-pointer"
                                                    data-href="{{ businessProfile.getWebsite() }}"
                                                    data-id="{{ businessProfile.id }}"
                                                    data-type="webActionButton"
                                                    data-bw-gtm-event-click
                                                    data-bw-gtm-label="{{ businessProfile.getWebsite() }}"
                                                >
                                                    {{ businessProfile.getWebsite() |truncate(profile_action_url_span_length) }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div><!-- highlights__item -->
                                {% endif %}

                                {% if businessProfile.getEmail() %}
                                    <div class="highlights__item">
                                        <h3>{% trans %}Email{% endtrans %}</h3>
                                        <ul>
                                            <li>
                                                <i class="fa fa-envelope"></i> <a data-href="mailto:{{ businessProfile.getEmail() }}" class="link-pointer redirect-event" data-id="{{ businessProfile.id }}" data-current-tab="1" data-type="emailClick" data-bw-gtm-event-click data-bw-gtm-label="{% trans %}Contact Us{% endtrans %}">{% trans %}Contact Us{% endtrans %}</a>
                                            </li>
                                        </ul>
                                    </div><!-- highlights__item -->
                                {% endif %}

                                {% include ':redesign/blocks/workingHours:working_hours_daily_list.html.twig' with { 'businessProfile': businessProfile } %}

                                {% if businessProfile.getBrands() %}
                                    <div class="highlights__item">
                                        <h3>{% trans %}Brands{% endtrans %}</h3>
                                        <ul>
                                            <li>
                                                {{ businessProfile.getBrands()|nl2br }}
                                            </li>
                                        </ul>
                                    </div><!-- highlights__item -->
                                {% endif %}

                                {% if businessProfile.getProduct() %}
                                    <div class="highlights__item">
                                        <h3>{% trans %}Products or Services{% endtrans %}</h3>
                                        <ul>
                                            <li>
                                                {{ businessProfile.getProduct()|nl2br }}
                                            </li>
                                        </ul>
                                    </div><!-- highlights__item -->
                                {% endif %}
                            </div><!-- container -->
                        </section>

                        {% if businessProfile.paymentMethods|length > 0 %}
                            <section class="page-section payment-methods">
                                <h3>{% trans %}Payment methods{% endtrans %}</h3>
                                <ul>
                                    {% for paymentMethod in businessProfile.paymentMethods %}
                                        <li>
                                            {% if paymentMethod.type in PAYMENT_METHOD_TYPE %}
                                                {% set path = 'redesign/img/payment/' ~ paymentMethod.type ~ '.svg' %}

                                                <img src="{{ absolute_url(asset(path)) }}" alt="{{ paymentMethod.getName }}">
                                            {% endif %}

                                            <span>{{ paymentMethod.getName }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </section>
                        {% endif %}

                        {% if businessProfile.getDescription() %}
                            <section class="page-section description-section">
                                <div class="container">
                                    <div class="business-view-description">{{ businessProfile.getDescription()|purify }}</div>
                                </div>
                            </section>
                        {% endif %}

                        {% if photos|length > 0 and hasSubscription(businessProfile, "CODE_PREMIUM_GOLD") %}
                            <section class="page-section photos slider section--slider hide-before">
                                {% for photo in photos %}
                                    <div class="slider__item">
                                        <img src="{% path photo.getMedia(), 'normal' %}" alt="{% if photo.description %}{{ photo.description }}{% else %}{{ businessProfile.getName() }}{% endif %}">
                                    </div>
                                {% endfor %}
                            </section>
                        {% endif %}


                        {% if hasSubscription(businessProfile, SUBSCRIPTION.CODE.FREE) and suggestedResult and suggestedResult.resultSet %}
                            <div class="suggested-slider-section hide-before" data-bw-gtm-component="business-profile-suggested">
                                <div class="slider-title container">
                                    <h3>{% trans %}slider.title{% endtrans %}</h3>
                                </div>
                                <span class="arrow prev slick-arrow">
                                    <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                                </span>
                                <section class="page-section photos slider suggested-slider section--slider hide-before">
                                    {% for suggestedBusiness in suggestedResult.resultSet %}
                                        <div class="slider__item">
                                            <a href="{{ absolute_url(path('domain_business_profile_view', { 'citySlug' : suggestedBusiness.citySlug, slug: suggestedBusiness.slug })) }}" title="{{ suggestedBusiness.name }}" class="suggested-link" target="_blank" data-bw-gtm-event-click data-bw-gtm-label="item-suggested::{{ suggestedBusiness.name }}::{{ absolute_url(path('domain_business_profile_view', { 'citySlug' : suggestedBusiness.citySlug, slug: suggestedBusiness.slug })) }}">
                                                <div class="slide-title">
                                                    <p>{{ suggestedBusiness.name|truncate(suggested_title_max_length) }}</p>
                                                </div>
                                                <div class="slide-image">
                                                    {% if suggestedBusiness.logo %}
                                                        <img src="{% path suggestedBusiness.logo, 'preview' %}" alt="{{ suggestedBusiness.name }}">
                                                    {% else %}
                                                        <span class="default-image"><i class="fa fa-camera" aria-hidden="true"></i></span>
                                                    {% endif %}
                                                </div>
                                            </a>

                                            <div class="slide-actions">
                                                {% if not suggestedBusiness.phones.empty %}
                                                    {% set hasPhone = true %}
                                                    {% if suggestedBusiness.mainPhone %}
                                                        {% set phoneToCall = suggestedBusiness.mainPhone.phone %}
                                                    {% else %}
                                                        {% set phoneToCall = suggestedBusiness.phones.first.phone %}
                                                    {% endif %}

                                                    <div class="item__actions">
                                                        <a href="tel:{{ phoneToCall }}" class="slide-button button button--small button--featured hide-desktop phone-call {% if suggestedBusiness.isAd %}svm-callmobile{% endif %}" data-id="{{ suggestedBusiness.id }}" data-type="callMobButton" data-bw-gtm-event-click data-bw-gtm-label="{{ phoneToCall }}" data-bname="{{ suggestedBusiness.name }}">
                                                            <i class="fa fa-phone"></i>
                                                            {% trans %}Call{% endtrans %}
                                                        </a>
                                                        <button class="btn btn-default dropdown-call-button phone-call link-pointer {% if suggestedBusiness.isAd %}svm-calldesktop{% endif %} hide-mobile" type="button" data-id="{{ suggestedBusiness.id }}" data-type="callDeskButton" data-bw-gtm-event-click data-bw-gtm-label="{{ phoneToCall }}" data-bname="{{ suggestedBusiness.name }}">
                                                            <i class="fa fa-phone"></i>
                                                            {{ phoneToCall }}
                                                        </button>
                                                    </div>
                                                {% else %}
                                                    {% set hasPhone = false %}
                                                {% endif %}
                                                <a class="slide-button get-dir button button--small button--featured link-pointer {% if suggestedBusiness.isAd %}svm-getdir{% endif %} {% if not hasPhone %}empty-phone{% endif %}" data-id="{{ suggestedBusiness.id }}" data-latlng="{{ suggestedBusiness.latLng }}" data-bw-gtm-event-click data-bw-gtm-label="{% trans %}Directions{% endtrans %}" data-bname="{{ suggestedBusiness.name }}">
                                                    <i class="fa fa-location-arrow"></i>
                                                    {% trans %}Directions{% endtrans %}
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </section>
                                <span class="arrow next slick-arrow">
                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                </span>
                            </div>
                        {% endif %}

                        {% if video_section_allowed_for_business(businessProfile)
                            and businessProfile.getVideo() is not null
                            and businessProfile.getVideo().status == 'active'
                        %}
                            <section class="page-section video">
                                {{ render_video_embed(businessProfile.getVideo()) }}
                            </section>
                        {% endif %}

                        {% if businessProfile.panoramaId %}
                            <section class="page-section panorama-frame hide-before">
                                <h3 class="panorama-title">{% trans %}business_profile.panorama.title{% endtrans %}</h3>
                                {% include ':redesign/blocks/panorama:panorama_iframe.html.twig' with {panoramaId: businessProfile.panoramaId, title: businessProfile.name} %}
                            </section>
                        {% endif %}

                        {% if businessProfile.getDiscount() is not null %}
                            <section class="page-section description-section">
                                <div class="container">
                                    <h3>{% trans %}Discounts{% endtrans %}</h3>
                                    {{ businessProfile.getDiscount()|purify }}
                                </div>
                            </section>
                        {% endif %}

                        {% if businessProfile.getCoupons()|length > 0 %}
                            <section class="page-section description-section">
                                <div class="container">
                                    {% if businessProfile.getCoupons()|length > 0 %}
                                        <div class="highlights__item highlights__item--coupon">
                                            <h3>{% trans %}Coupons{% endtrans %}</h3>
                                            <ul>
                                                {% for coupon in businessProfile.getCoupons %}
                                                    {% set media = coupon.getImage() %}
                                                    <li>
                                                        {{ coupon.title }}
                                                        <a href="{% path media, 'reference' %}" class="green-btn btn print-btn coupon">
                                                            <i class="fa fa-print" aria-hidden="true"></i>
                                                            <span>{% trans %}Print{% endtrans %}</span>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                            </section>
                        {% endif %}

                        {% include ':redesign/blocks/banners:static-page-bottom.html.twig' with { 'bannerType': BANNER_CODE.BUSINESS_PAGE_BOTTOM } %}

                        {% if not businessProfile.hideMap %}
                            <section class="page-section profile-map">
                                {% include ':redesign/blocks/mapbox:mapMenu.html.twig' %}
                                <div id="map" class="business-map">
                                    {% include ':redesign/blocks/mapbox:mapLogo.html.twig' %}
                                </div>
                                <span id="map-markers" hidden data-mapbox-markers="{{ markers }}"></span>
                            </section>
                        {% endif %}

                    </article><!-- profile -->

                    <aside class="profile__sidebar">

                        {% include ':redesign/blocks:social-share.html.twig' %}

                        {% include ':redesign/blocks/banners:side-block.html.twig' with { 'bannerType': BANNER_CODE.BUSINESS_PAGE_RIGHT } %}

                        {% if businessProfile.categories|length > 0 %}
                            <div class="sidebar__section section--tags" data-bw-gtm-component="section-tags">
                                <h2 class="section__title">{% trans %}Business categories{% endtrans %}</h2>
                                <div class="tagcloud">
                                    {% for item in businessProfile.categories %}
                                        <a href="{{ absolute_url(path('domain_search_catalog', { 'localitySlug': businessProfile.citySlug, 'categorySlug': item.getSlug() })) }}" class="tag" title="{% trans %}Go to...{% endtrans %}" data-bw-gtm-event-click data-bw-gtm-label="{{ item.name }}">{{ item.name }}</a>
                                    {% endfor %}
                                </div>
                            </div><!-- sidebar__section -->
                        {% endif %}

                        {% if showClaimButton %}
                            <div class="sidebar__section section--social">
                                <ul>
                                    <li>
                                        <a class="button" data-show-modal-id="claimBusinessModal" data-bw-gtm-event-click data-bw-gtm-label="{% trans %}claim_business.button{% endtrans %}">
                                            <i class="fa fa-suitcase"></i>
                                            <span>{% trans %}claim_business.button{% endtrans %}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            {% include ':redesign/blocks/modals:claim_business.html.twig' %}
                        {% endif %}

                    </aside>
                </div><!-- container -->
            </div><!-- profile-body_-container -->

        </div><!-- main -->
    </div><!-- main__container -->
{% endblock %}

{% block scripts %}
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

    {{ parent() }}

    <script type="text/javascript">
        var map;

        requirejs(['{{ absolute_url(asset("assetic/require_common_js.js")) }}'], function(common) {
            requirejs([
                '{{ absolute_url(asset("assetic/require_business_profile_view_js.js")) }}'
            ], function(businessProfileView, interactionsReport) {
                var businessProfileView = new businessProfileView();
            })
        });
    </script>

    {% include ':widgets:mapbox_script.html.twig' %}
{% endblock%}
