{% extends "redesign/layout/base.html.twig" %}

{% block breadcrumbs %}
    {% include ':redesign/blocks:breadcrumbs.html.twig' with {'catalogLocality': currentLocality, 'category': currentCategory1, 'category2': currentCategory2, 'category3': currentCategory3} %}
{% endblock %}

{% block bodyClass %}results-list{% endblock %}

{% block body %}
    <div class="main__container">

        <section class="main" id="searchResults">
            <div class="results">
                {% if catalogLevelItems and showCatalog %}
                    <div class="catalog-list clearfix">
                        {% for key, list in catalogLevelItems %}
                            <div class="catalog-list__section">
                                <div class="catalog-list__index">
                                    {{ key }}
                                </div><!-- index -->
                                <ul>
                                    {% for item in list %}
                                        <li {% if currentLocality is null %}id="{{ item.id }}"{% endif %}>
                                            {% include ':redesign/blocks:catalog_link.html.twig' %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div><!-- catalog section -->
                        {% endfor %}
                    </div>
                {% endif %}
                {% if showResults %}
                    {% include ':redesign/blocks/banners:search-page-top.html.twig' with { 'bannerType': BANNER_CODE.SEARCH_PAGE_TOP } %}

                    {% if results.resultSet is defined and results.resultSet is not empty and results.resultSet is not null %}
                        {% for item in results.resultSet %}
                            {% include ':redesign/blocks:search_result_item.html.twig' with { 'item' : item, 'iterator' : loop.index } %}
                        {% endfor %}

                        <div>
                            {% block pagination %}
                                {% include ':redesign/layout/widgets:pagination.html.twig' with { 'page' : results.page, 'pageCount' : results.pageCount } %}
                            {% endblock %}
                        </div>
                    {% else %}
                        {% embed ':redesign/errors:error-body.html.twig' with {'errorTitle': 'error.404.title', 'errorMessage': 'error.404.message', 'errorSearchText': 'error.404.search.text', 'errorSearchCatalog': 'error.404.search.catalog'} %}
                            {% block searchErrorInput %}{% endblock %}
                            {% block errorContainerClass %}{% endblock %}
                        {% endembed %}
                    {% endif %}

                    {% include ':redesign/blocks/banners:search-page-down.html.twig' with { 'bannerType': BANNER_CODE.SEARCH_PAGE_BOTTOM } %}
                {% endif %}

                <button id="show-map" type="button" class="button button-round button--show-map button- floating-offset">
                    <i class="fa fa-map"></i>
                    <span>{% trans %}Map view{% endtrans %}</span>
                </button>

                <button id="hide-map" type="button" class="button button-round button--hide-map">
                    <i class="fa fa-list"></i>
                    <span>{% trans %}List view{% endtrans %}</span>
                </button>
            </div><!-- results -->
        </section><!-- main -->

        <section class="results-map">
            <div id="map" class="map"></div>
            <span id="map-markers" hidden data-google-markers="{{ markers }}"></span>
        </section><!-- results-map -->

    </div><!-- main container -->

{% endblock %}

{% block scripts %}
    {{ parent() }}

    {% include ':widgets:google_map_script.html.twig' %}

    <script type="text/javascript">
        var map;

        requirejs(['{{ absolute_url(asset("bundles/domainsite/scripts/common.js")) }}'], function(common) {
            require(['{{ absolute_url(asset("bundles/domainsite/scripts/modules/mapsearchpage.js")) }}'], function(mapSearchPage) {
                var mapSearchPage = new mapSearchPage();
            });
        });
    </script>

    {% include "GoogleBundle:Analytics:async_universal.html.twig" %}
{% endblock%}
