{% extends "redesign/layout/base.html.twig" %}

{% block breadcrumbs %}
    {% embed ':redesign/blocks:breadcrumbs.html.twig' with {'catalogLocality': currentLocality, 'category': currentCategory} %}
        {% block searchFilters %}
            {% include ':redesign/blocks:search-filters.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />
{% endblock %}

{% block bodyClass %}results-list{% endblock %}

{% block body %}
    <div class="main__container">
        <section class="main" id="searchResults" data-bw-gtm-component="search-results">
            <div class="results {% if showResults %}active__toggle{% endif %}">
                {% if catalogLevelItems and showCatalog %}
                    <div class="catalog-list clearfix">
                        {% for key, list in catalogLevelItems %}
                            <div class="catalog-list__section">
                                <div class="catalog-list__index">
                                    {{ key }}
                                </div><!-- index -->
                                <ul>
                                    {% include ':redesign/blocks:clickbait-title.html.twig' %}
                                    {% for item in list %}
                                        <li {% if currentLocality is null %}id="{{ item.id }}"{% endif %}>
                                            {% include ':redesign/blocks:catalog_link.html.twig' %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div><!-- catalog section -->
                        {% endfor %}
                    </div>
                {% endif %}
                {% if showResults %}
                    {% if results.resultSet is defined and results.resultSet is not empty and results.resultSet is not null %}
                        {% include ':redesign/blocks/banners:search-page-top.html.twig' with { 'bannerType': BANNER_CODE.SEARCH_PAGE_TOP } %}

                        <div class="number-results">
                            {% trans with {'{-count-}': results.resultCount} %}search_results.count.total{% endtrans %}
                            <h1>{{ seoData.title }}</h1>
                        </div>

                        {% for item in results.resultSet %}
                            {% include ':redesign/blocks:search_result_item.html.twig' with { 'item' : item, 'iterator' : loop.index } %}
                        {% endfor %}

                        <div>
                            {% block pagination %}
                                {% include ':redesign/layout/widgets:pagination.html.twig' with { 'page' : results.page, 'pageCount' : results.pageCount } %}
                            {% endblock %}
                        </div>

                        {% include ':redesign/blocks/banners:search-page-down.html.twig' with { 'bannerType': BANNER_CODE.SEARCH_PAGE_BOTTOM } %}
                    {% else %}
                        {% embed ':redesign/errors:error-body.html.twig' with {'errorTitle': 'error.404.title', 'errorMessage': 'error.404.message', 'errorSearchText': 'error.404.search.text', 'errorSearchCatalog': 'error.404.search.catalog'} %}
                            {% block searchErrorInput %}{% endblock %}
                            {% block errorContainerClass %}{% endblock %}
                        {% endembed %}
                    {% endif %}
                {% endif %}
                <button id="show-map" type="button" class="button button-round button--show-map button- floating-offset" data-bw-gtm-event-click data-bw-gtm-label="{% trans %}Map view{% endtrans %}">
                    <i class="fa fa-map"></i>
                    <span>{% trans %}Map view{% endtrans %}</span>
                </button>
            </div><!-- results -->
        </section><!-- main -->

        <section class="results-map">
            <button id="hide-map" type="button" class="button button-round button--hide-map" data-bw-gtm-event-click data-bw-gtm-label="{% trans %}List view{% endtrans %}">
                <i class="fa fa-list"></i>
                <span>{% trans %}List view{% endtrans %}</span>
            </button>
            <div id="menu" class="default-menu">
                {% include ':redesign/blocks/mapbox:mapMenu.html.twig' %}
            </div>
            <div id="map" class="map">
                {% include ':redesign/blocks/mapbox:mapLogo.html.twig' %}
            </div>
            <span id="map-markers" hidden data-mapbox-markers="{{ markers }}"></span>
        </section><!-- results-map -->

        {% include ':redesign/blocks/banners:search-page-float.html.twig' with { 'bannerType': BANNER_CODE.SEARCH_FLOAT_BOTTOM } %}
    </div><!-- main container -->
{% endblock %}

{% block scripts %}
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

    {{ parent() }}

    <script type="text/javascript">
        requirejs(['{{ absolute_url(asset("assetic/require_common_js.js")) }}'], function(common) {
            require(['{{ absolute_url(asset("assetic/js/modules/tools/mapSpin.min.js")) }}'], function(spin) {
                var spin = new spin('map');
            });
            require(['{{ absolute_url(asset("assetic/js/modules/tools/redirect.min.js")) }}'], function(redirect) {
                var redirect = new redirect();
            });
        });
    </script>

    {% include ':widgets:mapbox_script.html.twig' %}
{% endblock%}
