{% extends ":redesign/layout:emergency.html.twig" %}

{% block bodyClass %}emergency-main{% endblock %}

{% block body %}
    <div class="emergency-title">
        <h1>{{ page.title }}</h1>
    </div>

    {% if page.description %}
        <div class="description">
            <p>{{ page.description }}</p>
        </div>
    {% endif %}

    <div class="add-item">
        {% if page.useActionLink and page.actionLink %}
            {% set actionLink = page.actionLink %}
        {% else %}
            {% set actionLink = absolute_url(path('emergency_business_draft_create')) %}
        {% endif %}

        <a href="{{ actionLink }}">
            <button class="button">{{ 'emergency.add_item.title'|trans }}</button>
        </a>
    </div>

    <div class="emergency-catalog">
        <ul class="area-block">
            {% for catalogItem in catalogItems %}
                <li>
                    <h3>{{ catalogItem.area.name }}</h3>
                    <ul class="category-block">
                        {% for item in catalogItem.categories %}
                            <li>
                                <a href="{{ absolute_url(path('emergency_catalog', {areaSlug: catalogItem.area.slug, categorySlug: item.category.slug})) }}">{{ item.category.name }}</a>
                                {% if item.updatedAt %}
                                    <span class="catalog-item-updated">&nbsp;{{ item.updatedAt|date(emergency_catalog_update_date_format) }}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="emergency-links">
        <h2>{{ 'emergency.page_link.title'|trans }}</h2>

        {% if not page.links.empty %}
            <ul>
                {% for link in page.links %}
                    <li>
                        <a href="{{ link.link }}" target="_blank">{{ link.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
