{% set hideHeaderSearch = true %}
{% extends "redesign/layout/base.html.twig" %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('assetic/app_emergency_css.css')) }}" />
{% endblock %}

{% block googleTagManagerScript %}{% endblock %}
{% block googleTagManagerNoScript %}{% endblock %}

{% import '::widgets/custom_form_label_redesign.html.twig' as custom_form_label %}

{% block bodyClass %}generic-page user-profile{% endblock %}

{% block breadcrumbs %}
    {% include ':redesign/blocks/emergency:breadcrumbs.html.twig' %}
{% endblock %}

{% block body %}
    <div class="main__container main__container--centered">
        <div class="main">
            <div class="container clearfix">
                <section class="page-section emergency-draft-form" id="profile-user">
                    <form class="form user-profile-form" id="businessRequestForm" novalidate="novalidate" name="{{ businessForm.vars.name }}">
                        <div id="new-profile-loading-spinner-container-id"></div>

                        <div class="tab-content">
                            <div class="tab-pane active" id="general">
                                {% include ':redesign/blocks/emergency:create-form.html.twig' %}
                            </div>
                        </div>

                        <div style="display:none;">
                            {{ form_rest(businessForm) }}
                        </div>

                        <div class="form__actions">
                            <a href="{{ absolute_url(path('emergency_business_draft_create')) }}" class="button button--text">{% trans %}Reset{% endtrans %}</a>
                            <button type="submit" class="button button--action" id="saveBusiness">{% trans %}Save changes{% endtrans %}</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>

    {% include ':redesign/blocks/emergency:draft-created-pop-up.html.twig' %}
{% endblock %}

{% block emergencyPopUp %}{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="text/javascript">
        requirejs(['{{ absolute_url(asset("assetic/require_common_js.js")) }}'], function(common) {
            requirejs(['{{ absolute_url(asset("assetic/require_emergency_business_js.js")) }}'], function(businessDraft) {
                var profile = new businessDraft();
            })
        })
    </script>
{% endblock%}
