{% extends "redesign/layout/base.html.twig" %}

{% block bodyClass %}index{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block searchBlock %}{% endblock %}

{% block body %}
    <div class="main__container main__container--centered" data-bw-gtm-component="homepage">
        <div class="main">
            <div class="video-header__container" data-desktop-background="{% if landingPage.getBackground() %}{% path landingPage.getBackground(), 'normal' %}{% else %}{{ absolute_url(asset('redesign/img/home-header.jpg')) }}{% endif %}">

                {% block homePageSearch %}
                    {% include ':redesign/blocks:homepage_search.html.twig' %}
                {% endblock %}

                {% include ':redesign/blocks/banners:homepage.html.twig' with { 'bannerType': BANNER_CODE.HOME_VERTICAL } %}
            </div><!-- container -->
            <div class="profile-body__container">
                <div class="container columns-container clearfix">
                    <div class="main-column">
                        {% if carouselBusinesses and showCarousel %}
                            {% include ':redesign/blocks:homepage_carousel.html.twig' with {carouselBusinesses: carouselBusinesses} %}
                        {% endif %}

                        {{ render(controller('DomainSiteBundle:Home:popularMenuItems', {'type': SHORT_CUT_ITEMS.LANDING, 'title': 'popular_searches.title'})) }}

                        {% embed ':redesign/blocks:homepage_article_list.html.twig' %}
                            {% block titleTag %}
                                <h2 class="section__title">{% trans %}Articles{% endtrans %}</h2>
                            {% endblock %}
                        {% endembed %}

                        <section class="section__title">
                            <a href="{{ absolute_url(path('domain_article_homepage')) }}">
                                {% trans %}View more articles{% endtrans %}
                            </a>
                        </section>
                    </div><!-- main-column -->

                    {% include ':redesign/blocks:side-ads-block.html.twig' with { 'bannerType': BANNER_CODE.LANDING_PAGE_RIGHT_LARGE } %}
                </div><!-- container -->
            </div><!-- body container -->
        </div>
    </div>
    {% include ':redesign/blocks:footer.html.twig' %}
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="text/javascript">
        requirejs(['{{ absolute_url(asset("assetic/require_common_js.js")) }}'], function(common) {
            require(['{{ absolute_url(asset("assetic/js/modules/tools/homepageCarousel.min.js")) }}'], function() {});
            require(['{{ absolute_url(asset("assetic/js/modules/tools/redirect.min.js")) }}'], function(redirect) {
                var redirect = new redirect();
            });
            require(['{{ absolute_url(asset("assetic/js/modules/tools/videojsCustomize.min.js")) }}'], function () {});
        });
    </script>
{% endblock%}
