{% extends "redesign/layout/base.html.twig" %}

{% block bodyClass %}index{% endblock %}

{% block videoJs %}
    {% include ':redesign/layout/widgets:video-js.html.twig' %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block searchBlock %}{% endblock %}

{% block body %}
    <div class="main__container main__container--centered" data-bw-gtm-component="homepage">
        <div class="main">
            <div class="video-header__container" data-desktop-background="{% if landingPage.getBackground() %}{% path landingPage.getBackground(), 'normal' %}{% else %}{{ absolute_url(asset('redesign/img/home-header.jpg')) }}{% endif %}">

                {% block homePageSearch %}
                    {% include ':redesign/blocks:homepage_search.html.twig' %}
                {% endblock %}

                {% include ':redesign/blocks/banners:homepage.html.twig' with { 'bannerType': BANNER_CODE.HOME_VERTICAL } %}
            </div><!-- container -->
            <div class="profile-body__container">
                <div class="container columns-container clearfix">
                    <div class="main-column">
                        {{ render(controller('DomainSiteBundle:Home:popularMenuItems', {'type': SHORT_CUT_ITEMS.LANDING, 'title': 'popular_searches.title'})) }}

                        {% if carouselBusinesses and showCarousel %}
                            <div class="suggested-slider-section hide-before" data-bw-gtm-component="business-profile-suggested">
                                <span class="arrow prev slick-arrow">
                                    <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                                </span>
                                <section class="page-section photos slider suggested-slider homepage-slider-main section--slider hide-before">
                                    {% for carouselBusiness in carouselBusinesses %}
                                        {% if carouselBusiness.businessProfile.isActive %}
                                            <div class="slider__item homepage-slider__item">
                                                <a href="{{ absolute_url(path('domain_business_profile_view', { 'citySlug' : carouselBusiness.businessProfile.citySlug, slug: carouselBusiness.businessProfile.slug })) }}" title="{{ carouselBusiness.businessProfile.name }}" class="suggested-link" target="_blank" data-bw-gtm-event-click data-bw-gtm-label="item-suggested::{{ carouselBusiness.businessProfile.name }}::{{ absolute_url(path('domain_business_profile_view', { 'citySlug' : carouselBusiness.businessProfile.citySlug, slug: carouselBusiness.businessProfile.slug })) }}">
                                                    <div class="slide-title">
                                                        <h3>{{ carouselBusiness.businessProfile.name|truncate(suggested_title_max_length) }}</h3>
                                                    </div>
                                                    {% if not carouselBusiness.getVideo() %}
                                                        <div class="">
                                                            <img src="{% path carouselBusiness.image, 'normal' %}" alt="{{ carouselBusiness.businessProfile.name }}">
                                                        </div>
                                                    {% endif %}
                                                </a>
                                                <div class="slide-image slide-image-homepage-carousel">
                                                    {% if carouselBusiness.getVideo() %}
                                                        <section class="page-section video homepage-carousel-video">
                                                            {{ render_video_embed(carouselBusiness.getVideo()) }}
                                                        </section>
                                                    {% endif %}
                                                </div>
                                                <div class="slide-actions">
                                                    {% if not carouselBusiness.businessProfile.phones.empty %}
                                                        {% set hasPhone = true %}
                                                        {% if carouselBusiness.businessProfile.mainPhone %}
                                                            {% set phoneToCall = carouselBusiness.businessProfile.mainPhone.phone %}
                                                        {% else %}
                                                            {% set phoneToCall = carouselBusiness.businessProfile.phones.first.phone %}
                                                        {% endif %}

                                                        <a href="tel:{{ phoneToCall }}" class="slide-button homepage-carousel-action button button--small button--featured hide-desktop phone-call {% if carouselBusiness.businessProfile.isAd %}svm-callmobile{% endif %}" data-id="{{ carouselBusiness.businessProfile.id }}" data-type="callMobButton" data-bw-gtm-event-click data-bw-gtm-label="{{ phoneToCall }}" data-bname="{{ carouselBusiness.businessProfile.name }}">
                                                            <i class="fa fa-phone"></i>
                                                            <span class="hide-mobile">{% trans %}Call{% endtrans %}</span>
                                                        </a>
                                                        <button class="btn btn-default dropdown-call-button phone-call link-pointer {% if carouselBusiness.businessProfile.isAd %}svm-calldesktop{% endif %} hide-mobile" type="button" data-id="{{ carouselBusiness.businessProfile.id }}" data-type="callDeskButton" data-bw-gtm-event-click data-bw-gtm-label="{{ phoneToCall }}" data-bname="{{ carouselBusiness.businessProfile.name }}">
                                                            <i class="fa fa-phone"></i>
                                                            {{ phoneToCall }}
                                                        </button>

                                                    {% else %}
                                                        {% set hasPhone = false %}
                                                    {% endif %}
                                                    <a class="slide-button get-dir homepage-carousel-action redirect-event button button--small button--featured link-pointer {% if carouselBusiness.businessProfile.isAd %}svm-getdir{% endif %}" data-href="{{ path('domain_search_show_directions', {'slug': carouselBusiness.businessProfile.slug }) }}" data-id="{{ carouselBusiness.businessProfile.id }}" data-latlng="{{ carouselBusiness.businessProfile.latLng }}" data-type="directionButton" data-bw-gtm-event-click data-bw-gtm-label="{% trans %}Directions{% endtrans %}" data-bname="{{ carouselBusiness.businessProfile.name }}">
                                                        <i class="fa fa-location-arrow"></i>
                                                        <span class="hide-mobile">{% trans %}Directions{% endtrans %}</span>
                                                    </a>
                                                    {% if carouselBusiness.businessProfile.actionUrl %}
                                                        <a class="homepage-opentable-button slide-button button button--small button--featured redirect-event link-pointer homepage-carousel-action" data-href="{{ carouselBusiness.businessProfile.actionUrl }}" data-id="{{ carouselBusiness.businessProfile.id }}" data-type="webActionButton" data-bw-gtm-event-click data-bw-gtm-label="{{ carouselBusiness.businessProfile.actionUrl }}">
                                                            {% if carouselBusiness.businessProfile.actionUrlType in BUSINESS_PROFILE.ACTION_TYPE %}
                                                                {% set path = 'redesign/img/icons/' ~ carouselBusiness.businessProfile.actionUrlType ~ '.svg' %}

                                                                <img class="homepage-opentable-image" src="{{ absolute_url(asset(path)) }}" alt="{{ carouselBusiness.businessProfile.actionUrlTypes[carouselBusiness.businessProfile.actionUrlType]|trans|purify }}">
                                                            {% endif %}
                                                            <span class="hide-mobile">{{ carouselBusiness.businessProfile.actionUrlTypes[carouselBusiness.businessProfile.actionUrlType]|trans|purify }}</span>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </section>
                                <span class="arrow next slick-arrow">
                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                </span>
                            </div>
                        {% endif %}

                        {% embed ':redesign/blocks:homepage_article_list.html.twig' %}
                            {% block titleTag %}
                                <h2 class="section__title">{% trans %}Articles{% endtrans %}</h2>
                            {% endblock %}
                        {% endembed %}

                        <section class="section__title">
                            <a href="{{ absolute_url(path('domain_article_homepage')) }}">
                                {% trans %}View more articles{% endtrans %}
                            </a>
                        </section>
                    </div><!-- main-column -->

                    {% include ':redesign/blocks:side-ads-block.html.twig' with { 'bannerType': BANNER_CODE.LANDING_PAGE_RIGHT } %}
                </div><!-- container -->
            </div><!-- body container -->
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="text/javascript">
        requirejs(['{{ absolute_url(asset("assetic/require_common_js.js")) }}'], function(common) {
            require(['{{ absolute_url(asset("assetic/js/modules/tools/homepageCarousel.min.js")) }}'], function() {});
            require(['{{ absolute_url(asset("assetic/js/modules/tools/redirect.min.js")) }}'], function(redirect) {
                var redirect = new redirect();
            });
        });
    </script>
{% endblock%}
