{% extends "redesign/layout/base.html.twig" %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />
{% endblock %}

{% block bodyClass %}results-list{% endblock %}

{% block body %}
    <span data-target-coordinates="{{ targetCoordinates }}"></span>
    <span data-current-coordinates="{{ currentCoordinates }}"></span>
    <div id="map" class="map">
        {% include ':redesign/blocks/mapbox:mapLogo.html.twig' %}
    </div>
    <div>
        <div id="profile">
            <input id='driving-traffic' type='radio' name='rtoggle' value='driving-traffic' checked='checked' data-project>
            <label for='driving-traffic'>{% trans %}mapbox.profile.driving_traffic{% endtrans %}</label>
            <br>
            <span>{% trans %}mapbox.profile.driving_traffic_info{% endtrans %}</span>
            <br>
            <input id='cycling' type='radio' name='rtoggle' value='cycling' data-project>
            <label for='cycling'>{% trans %}mapbox.profile.cycling{% endtrans %}</label>
            <br>
            <span>{% trans %}mapbox.profile.cycling_info{% endtrans %}</span>
            <br>
            <input id='walking' type='radio' name='rtoggle' value='walking' data-project>
            <label for='walking'>{% trans %}mapbox.profile.walking{% endtrans %}</label>
            <br>
            <span>{% trans %}mapbox.profile.walking_info{% endtrans %}</span>
            <br>
            <input id='driving' type='radio' name='rtoggle' value='driving' data-project>
            <label for='driving'>{% trans %}mapbox.profile.driving{% endtrans %}</label>
            <br>
            <span>{% trans %}mapbox.profile.driving_info{% endtrans %}</span>
            <br>
            <h3>{% trans %}mapbox.profile.info{% endtrans %}</h3>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js'></script>

    {{ parent() }}

    {% include ':widgets:mapbox_script.html.twig' %}

    <script type="text/javascript">
        requirejs(['{{ absolute_url(asset("assetic/require_common_js.js")) }}'], function(common) {
            require(['{{ absolute_url(asset("assetic/js/modules/tools/mapSpin.min.js")) }}'], function(spin) {
                var spin = new spin('map');
            });
        });
    </script>
{% endblock%}
