{% set showLinkCompareView = results.resultSet is defined and results.resultSet is not empty and results.resultSet is not null %}
{% extends "redesign/layout/base.html.twig" %}

{% block breadcrumbs %}
    {% include ':redesign/blocks:search-sorting.html.twig' %}
{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />
{% endblock %}

{% block bodyClass %}results-list{% endblock %}

{% block body %}
    <div class="main__container no-page-scroll">
        <section class="main search-page" id="searchResults" data-bw-gtm-component="search-results">
            <div class="results {% if not disableFilters %}active__toggle{% endif %}">
                <div id="searchContainer">
                    {% include ':redesign/blocks:search_result_item_block.html.twig' %}
                </div>

                <button id="show-map" type="button" class="button button-round button--show-map button- floating-offset" data-bw-gtm-event-click data-bw-gtm-label="{% trans %}Map view{% endtrans %}">
                    <i class="fa fa-map"></i>
                    <span>{% trans %}Map view{% endtrans %}</span>
                </button>
            </div><!-- results -->
        </section><!-- main -->

        <section class="results-map" data-bw-gtm-component="search-results-map">
            <button id="hide-map" type="button" class="button button-round button--hide-map" data-bw-gtm-event-click data-bw-gtm-label="{% trans %}List view{% endtrans %}">
                <i class="fa fa-list"></i>
                <span>{% trans %}List view{% endtrans %}</span>
            </button>
            <div id="menu" class="default-menu">
                {% include ':redesign/blocks/mapbox:mapMenu.html.twig' %}
            </div>
            <div id="map" class="map">
                {% include ':redesign/blocks/mapbox:mapLogo.html.twig' %}
            </div>
            <span id="map-markers" hidden data-mapbox-markers="{{ markers }}"></span>
        </section><!-- results-map -->

        {% include ':redesign/blocks/banners:search-page-float.html.twig' with { 'bannerType': BANNER_CODE.SEARCH_FLOAT_BOTTOM } %}
    </div><!-- main container -->
    {% include':redesign/blocks:footer.html.twig' %}
{% endblock %}

{% block scripts %}
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js'></script>

    {{ parent() }}

    <script type="text/javascript">
        var autoSearchEnabled = true;

        requirejs(['{{ absolute_url(asset("assetic/require_common_js.js")) }}'], function(common) {
            require(['{{ absolute_url(asset("assetic/js/modules/tools/mapSpin.min.js")) }}'], function(spin) {
                var spin = new spin('map');
            });
            require(['{{ absolute_url(asset("assetic/js/modules/tools/redirect.min.js")) }}'], function(redirect) {
                var redirect = new redirect();
            });
        });
    </script>

    {% include ':widgets:mapbox_script.html.twig' %}
{% endblock%}