{% extends "redesign/layout/base.html.twig" %}
{% import '::widgets/custom_form_label_redesign.html.twig' as custom_form_label %}

{% block bodyClass %}generic-page user-profile{% endblock %}

{% block body %}
    <div class="main__container main__container--centered">
        <div class="main">
            <div class="container clearfix">
                <section class="page-section" id="profile-user">
                    <form class="form user-profile-form" name="{{ profileForm.vars.name }}" id="userProfileForm">
                        <div class="form__section">
                            <h2>{% trans %}Personal information{% endtrans %}</h2>
                            <div class="form-column__container clearfix">
                                <div class="form__column">
                                    <div class="form__row">
                                        <div class="form__field field--user">
                                            {{ custom_form_label.widget(profileForm.firstname) }}
                                            {{ form_widget(profileForm.firstname, {'attr': {'placeholder':''}}) }}
                                        </div><!-- form-field -->
                                        <div class="form__field field--user">
                                            {{ custom_form_label.widget(profileForm.lastname) }}
                                            {{ form_widget(profileForm.lastname, {'attr': {'placeholder':''}}) }}
                                        </div><!-- form-field -->
                                    </div><!-- form__row -->

                                    <div class="form__row">
                                        <div class="form__field field--user">
                                            {{ form_label(profileForm.advertiserId) }}
                                            {{ form_widget(profileForm.advertiserId, {'attr': {'placeholder':''}}) }}
                                        </div><!-- form-field -->
                                    </div><!-- form__row -->

                                    <div class="form__row">
                                        <div class="form__field field--password button--field field-active field-didabled">
                                            <label for="password">{% trans %}Password{% endtrans %}</label>
                                            <input type="password" name="password" value="*******" disabled="">
                                            <button type="button" class="button" data-show-modal-id="updatePasswordModal">{% trans %}Change Password{% endtrans %}</button>
                                        </div><!-- form-field -->
                                    </div><!-- form__row -->

                                </div><!-- form__column -->

                                <div class="form__column">
                                    <div class="form__row">
                                        <div class="form__field field--user field-active">
                                            {{ form_label(profileForm.location) }}
                                            {{ form_widget(profileForm.location, {'attr': {'placeholder':''}}) }}
                                        </div><!-- form-field -->
                                    </div><!-- form__row -->
                                    <div class="form__row">
                                        <div class="form__field field--phone">
                                            {{ form_label(profileForm.phone) }}
                                            {{ form_widget(profileForm.phone, {'attr': {'placeholder':''}}) }}
                                        </div><!-- form-field -->
                                    </div><!-- form__row -->
                                    <div class="form__actions">
                                        <button type="button" class="button button--action" id="saveProfile">{% trans %}Save changes{% endtrans %}</button>
                                    </div><!-- form-actions -->
                                </div><!-- form__column -->
                            </div><!-- form-column__container -->
                        </div><!-- form section -->

                        <div class="form__section">
                            <div class="form__row form__row-bps">
                                <h2>{% trans %}My Business Profiles{% endtrans %}</h2>
                                <a class="btn green-btn request button" href="{{ absolute_url(path('domain_business_profile_create')) }}">
                                    {% trans %}Request Business Profile{% endtrans %}
                                </a>
                            </div><!-- form__row -->

                            <div class="bps">
                                <div class="bps__table">
                                    <div class="bps__row">
                                        <div class="bps__head bps__head--empty"></div>
                                        <div class="bps__head bps__head--stat">
                                            {% trans %}user_profile.label.last_month_statistics{% endtrans %}
                                            <div class="bps__tooltip">
                                                <i class="fa fa-question-circle"></i>
                                                <span>
                                                    {% trans %}From{% endtrans %} {{ '-1 month'|date(user_profile_date_format) }}
                                                    {% trans %}To{% endtrans %} {{ 'now'|date(user_profile_date_format) }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bps__row">
                                        <div class="bps__head bps__head--empty"></div>
                                        <div class="bps__head bps__head--status">
                                            {% trans %}Status{% endtrans %}
                                            <div class="bps__tooltip">
                                                <i class="fa fa-question-circle"></i>
                                                <span>{% trans %}user_profile.tooltip.status{% endtrans %}</span>
                                            </div>
                                        </div>
                                        <div class="bps__head bps__head--actions">{% trans %}Actions{% endtrans %}</div>
                                        {% for action, translation in actions %}
                                            <div class="bps__head">
                                                {{ translation|trans }}
                                                <div class="bps__tooltip">
                                                    <i class="fa fa-question-circle"></i>
                                                    <span>{{ tooltips[action]|trans }}</span>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="bps__table__data">
                                    {% if userBusinessProfiles|length > 0 %}
                                        {% set businessesPerColumn = ((userBusinessProfiles|length) / 2)|round %}
                                        {% for row in userBusinessProfiles|batch(businessesPerColumn) %}
                                            {% for business in row %}
                                                <div class="bps__row">
                                                    <div class="bps__business">
                                                        {{ business.getName() }}
                                                    </div>
                                                    {% if business.getIsActive() %}
                                                        <div class="bps__status active">
                                                            {{ business.getActiveStatus()|capitalize }}
                                                        </div>
                                                    {% else %}
                                                        {% if not business.getIsClosed() %}
                                                            <div class="bps__status pending">
                                                                {% trans %}Pending{% endtrans %}
                                                            </div>
                                                        {% else %}
                                                            <div class="bps__status closed">
                                                                {% trans %}Closed{% endtrans %}
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}

                                                    {% for action, translation in actions %}
                                                        <div class="bps__mobile">{{ translation|trans }}</div>
                                                        <div>
                                                            {{ summaryData[business.id][action]|default(0)|number_format }}
                                                        </div>
                                                    {% endfor %}

                                                    <div class="bps__edit">
                                                        {% if business.getIsActive() %}
                                                            <a href="{{ absolute_url(path('domain_business_profile_edit', {id: business.getId()})) }}">
                                                                {% trans %}user_profile.label.edit_business{% endtrans %}
                                                            </a>
                                                        {% else %}
                                                            {% if not business.getIsClosed() %}
                                                                <div class="bps__status pending">
                                                                    {{ business.getName() }} ({% trans %}Pending{% endtrans %})
                                                                </div>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="bps__delete">
                                                        {% if business.getIsActive() %}
                                                            <a href="#" data-close-business-id="{{ business.getId() }}">
                                                                {% trans %}user_profile.label.delete_business{% endtrans %}
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                    {% else %}
                                        <div class="form__row">
                                            <div class="empty-message">
                                                <p>{% trans %}No business profiles found.{% endtrans %}</p>
                                            </div><!-- empty-message -->
                                        </div><!-- form__row -->
                                    {% endif %}
                                    </div>
                                </div>
                                <div class="bps__upgrade">
                                    <div>
                                        <p>{% trans %}user_profile.text.to_make_more_popular{% endtrans %}</p>
                                    </div>
                                    <div>
                                        <button type="button" id="upgradeBusiness" class="button">{% trans %}user_profile.label.upgrade_now!{% endtrans %}</button>
                                    </div>
                                </div>
                            </div>
                        </div><!-- form section -->
                        {{ form_rest(profileForm) }}
                    </form>
                </section>

            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div class="user-profile-modals">
        {{ parent() }}
        {% include ':redesign/blocks/modals:password_update.html.twig' with { 'passwordUpdateForm' : passwordUpdateForm} %}

        {% if closeBusinessProfileForm is defined %}
            {% include ':redesign/blocks/modals:close_business_profile.html.twig' %}
        {% endif %}

        {% include ':redesign/blocks/modals:upgrade_profile.html.twig' %}
        {% include ':redesign/layout/widgets:flash.html.twig' with {'flashMessages': app.session.flashBag.get(MESSAGE_BUSINESS_PROFILE_FLASH_GROUP)} %}
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="text/javascript">
        requirejs(['{{ absolute_url(asset("assetic/require_common_js.js")) }}'], function(common) {
            requirejs(['{{ absolute_url(asset("assetic/require_user_profile_js.js")) }}'], function(userProfile) {
                var siteHomepage = new userProfile();
            })
        })
    </script>
{% endblock%}

