<h1>User's feedback:</h1>
<ul>
    <li>Full Name: {{ fullName }}</li>
    <li>Business name: {{ businessName }}</li>
    <li>Phone number: {{ phone }}</li>
    <li>Email: {{ email }}</li>
    <li>Subject: {{ subject }}</li>
    <li>UserId: {% if userId %}<a href="{{ absolute_url(path('admin_sonata_user_user_show', {'id': userId})) }}">{{ userId }}</a>{% endif %}</li>
    <li>Locale: {{ locale }}</li>
</ul>
