{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
    <a href="{{ admin.generateObjectUrl('edit', object) }}" class="btn btn-sm btn-default edit_link btn-list-action"
       title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}">
        <i class="glyphicon glyphicon-pencil"></i>
    </a>
{% endif %}
{% if admin.isGranted('EDIT', object) and admin.hasRoute('create') and admin.copyAvailable is defined and admin.copyAvailable %}
    <a href="{{ admin.generateObjectUrl('create', object) }}" class="btn btn-sm btn-default btn-list-action"
       title="{{ 'action_copy'|trans({}, 'SonataAdminBundle') }}">
        <i class="glyphicon glyphicon-subtitles"></i>
    </a>
{% endif %}
{% if admin.isGranted('SHOW', object) and admin.hasRoute('show') %}
    <a href="{{ admin.generateObjectUrl('show', object) }}" class="btn btn-sm btn-default show_link btn-list-action"
       title="{{ 'action_show'|trans({}, 'SonataAdminBundle') }}">
        <i class="glyphicon glyphicon-eye-open"></i>
    </a>
{% endif %}
{% if admin.isGranted('DELETE', object) and admin.hasRoute('delete') and (object.isDeleted is defined and not object.isDeleted or object.isDeleted is not defined) %}
    <a href="{{ admin.generateObjectUrl('delete', object) }}" class="btn btn-sm btn-default delete_link btn-list-action"
       title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}">
        <i class="glyphicon glyphicon-trash"></i>
    </a>
{% endif %}
{% if admin.isGranted('DELETE', object) and admin.hasRoute('restore') and object.isDeleted is defined and object.isDeleted %}
    <a href="{{ admin.generateObjectUrl('restore', object) }}" class="btn btn-sm btn-default delete_link btn-list-action"
       title="{{ 'action_restore'|trans({}, 'SonataAdminBundle') }}">
        <i class="glyphicon glyphicon-upload"></i>
    </a>
{% endif %}
