<div class="toolbar">
    <div class="toolbar__nav" data-bw-gtm-component="breadcrumbs">
        <a href="{{ absolute_url(path('domain_search_catalog')) }}" title="{% trans %}Catalog{% endtrans %}">
            <button id="breadcrumb_location" type="button" class="button button--action button--location">
                <i class="fa fa-list"></i>
                <span>{% trans %}Catalog{% endtrans %}</span>
            </button>
        </a>

        {% if catalogLocality %}
            <a href="{{ absolute_url(path('domain_search_catalog', {'localitySlug':  catalogLocality.slug })) }}" title="{{ catalogLocality.name }}" data-bw-gtm-event-click data-bw-gtm-label="{{ catalogLocality.name|truncate(breadcrumb_max_length) }}::{{ absolute_url(path('domain_search_catalog', {'localitySlug':  catalogLocality.slug })) }}">
                <button id="breadcrumb_location" type="button" class="button button--action button--location">
                    <i class="fa fa-map-marker"></i>
                    <span>{{ catalogLocality.name|truncate(breadcrumb_max_length) }}</span>
                </button>
            </a>

            {% if category %}
                <a href="{{ absolute_url(path('domain_search_catalog', {'localitySlug':  catalogLocality.slug, 'categorySlug': category.slug })) }}" title="{{ category.name }}" data-bw-gtm-event-click data-bw-gtm-label="{{ category.name|truncate(breadcrumb_max_length) }}::{{ absolute_url(path('domain_search_catalog', {'localitySlug':  catalogLocality.slug, 'categorySlug': category.slug })) }}">
                    <button id="category-toggle" type="button" class="button button--action category__toggle">
                        {{ category.name|truncate(breadcrumb_max_length) }}
                    </button>
                </a>

                {% block searchFilters %}{% endblock %}
            {% endif %}
        {% endif %}
    </div><!-- toolbar__nav -->
</div><!-- toolbar -->
