{% if currentLocality %}
    {% if currentCategory %}
        <a href="{{ path('domain_search_catalog', {'localitySlug':  currentLocality.getSlug(), 'categorySlug': currentCategory.getSlug(), 'subcategorySlug': item.getSlug() }) }}" title="{{ item.name }}">
            {{ item.name }}
        </a>
    {% else %}
        <a href="{{ path('domain_search_catalog', {'localitySlug':  currentLocality.getSlug(), 'categorySlug': item.getSlug() }) }}" title="{{ item.name }}">
            {{ item.name }}
        </a>
    {% endif %}
{% else %}
    <a href="{{ path('domain_search_catalog', {'localitySlug':  item.getSlug() }) }}" title="{{ item.name }}">
        {{ item.name }}
    </a>
{% endif %}
