{% if currentLocality %}
    <a href="{{ absolute_url(path('domain_search_catalog', { 'localitySlug':  currentLocality.slug, 'categorySlug': item.slug })) }}" title="{{ item.name }}" data-bw-gtm-event-click data-bw-gtm-label="{{ item.name }}::{{ absolute_url(path('domain_search_catalog', { 'localitySlug':  currentLocality.slug, 'categorySlug': item.slug })) }}" >
        {{ item.name }}
    </a>
{% else %}
    <a href="{{ absolute_url(path('domain_search_catalog', { 'localitySlug':  item.getSlug() })) }}" title="{{ item.name }}" data-bw-gtm-event-click data-bw-gtm-label="{{ item.name }}::{{ absolute_url(path('domain_search_catalog', { 'localitySlug':  item.getSlug() })) }}">
        {{ item.name }}
    </a>
{% endif %}
