{% import '::widgets/custom_form_label_redesign.html.twig' as custom_form_label %}

<section class="page-section" data-bw-gtm-component="contact-form">
    <form id="feedbackForm" class="form feedback-form" action="{{ absolute_url(path('domain_page_feedback')) }}" method="post">
        {% if contactForm.subject is defined %}
            <h3 class="language-title">{{ 'contact.form.title'|trans }}</h3>
        {% else %}
            <h3 class="language-title">{% trans %}Report a problem{% endtrans %}</h3>
        {% endif %}
        <span class="feedback-message"></span>
        <div class="form__section">
            <div class="form-column__container clearfix">
                <div class="form__column">
                    <div class="form__row">
                        <div class="form__field field--fullname">
                            {{ custom_form_label.widget(contactForm.fullName) }}
                            {{ form_widget(contactForm.fullName) }}
                        </div>
                    </div>
                    {% if contactForm.businessName is defined %}
                        <div class="form__row">
                            <div class="form__field field--businessname">
                                {{ custom_form_label.widget(contactForm.businessName) }}
                                {{ form_widget(contactForm.businessName) }}
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="form__column">
                    {% if contactForm.phone is defined %}
                        <div class="form__row">
                            <div class="form__field field--phone">
                                {{ custom_form_label.widget(contactForm.phone) }}
                                {{ form_widget(contactForm.phone) }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="form__row">
                        <div class="form__field field--email">
                            {{ custom_form_label.widget(contactForm.email) }}
                            {{ form_widget(contactForm.email) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form__section">
            {% if contactForm.subject is defined %}
                <div class="form__row vertical__row">
                    {{ custom_form_label.widget(contactForm.subject) }}
                    {{ form_widget(contactForm.subject) }}
                </div>
            {% endif %}

            <div class="form__row">
                <div class="form__field field--message">
                    {{ custom_form_label.widget(contactForm.message) }}
                    {{ form_widget(contactForm.message) }}
                </div>
            </div>
        </div>

        <div class="form__actions" data-bw-gtm-event-click>
            {{ form_rest(contactForm) }}
            <button type="submit" id="feedbackButton" class="button button--action" data-bw-gtm-label="{{ 'contact.form.submit_button'|trans }}">{{ 'contact.form.submit_button'|trans }}</button>
        </div>
    </form>
</section>
