<header class="header" data-bw-gtm-component="header">
    <div class="logo">
        <a href="{{ absolute_url(path('domain_site_home_index')) }}" data-bw-gtm-event-click data-bw-gtm-label="Logo::{{ absolute_url(path('domain_site_home_index')) }}">
            <img class="logo__icon" src="{{ absolute_url(asset('redesign/img/infopaginas.svg')) }}" width="52" alt="{% trans %}infopaginos.image.alt{% endtrans %}">
            <img class="logo__iso" src="{{ absolute_url(asset('redesign/img/infopaginas-iso.svg')) }}" alt="{% trans %}infopaginos.image.alt{% endtrans %}">
        </a>
    </div>

    {% if hideHeaderSearch is not defined or not hideHeaderSearch %}
        {% block searchBlock %}
            {% include ':redesign/blocks:search.html.twig' %}
        {% endblock %}
    {% endif %}

    <button id="nav-toggle" type="button" aria-label="{% trans %}Navigation Toggle{% endtrans %}" class="nav__toggle button button--text" data-bw-gtm-event-click data-bw-gtm-label="nav-toggle">
        <i class="fa fa-bars"></i>
    </button>

    <nav id="nav" class="main-nav" data-bw-gtm-component="main-nav">
        {% if (app.user) %}

            <div class="user-logged">
                <div class="user__tools">
                    <a href="{{ absolute_url(path('sonata_user_security_logout')) }}" class="logout"
                       data-bw-gtm-event-click data-bw-gtm-label="{% trans %}Logout{% endtrans %}">
                        <i class="fa fa-sign-out"></i>{% trans %}Logout{% endtrans %}
                    </a>
                </div>
                <div class="user">
                    <a href="{{ absolute_url(path('domain_site_user_profile')) }}" data-bw-gtm-event-click data-bw-gtm-label="site-user-profile">
                        <span>{{ app.user.getFirstname() }} {{ app.user.getLastname() }}</span>
                    </a>
                </div>
            </div>
        {% endif %}

        <ul class="language-nav">
            {% for language in languages %}
                <li class="{% if language.active %}nav-current{% endif %}">
                    <a href="{{ language.url }}" data-bw-gtm-event-click data-bw-gtm-label="{{ language.title|purify }}">{{ language.title|purify }}</a>
                </li>
            {% endfor %}
        </ul>

        {% if not app.user %}
            <ul class="nav-user">
                <li>
                    <button type="button" data-show-modal-id="regModal" data-bw-gtm-event-click data-bw-gtm-label="{% trans %}Create account{% endtrans %}"><i class="fa fa-user-plus"></i> {% trans %}Create account{% endtrans %}</button>
                </li>
                <li class="login-link desc-menu home">
                    <button type="button" data-show-modal-id="loginModal" data-bw-gtm-event-click data-bw-gtm-label="{% trans %}Login{% endtrans %}">
                        <i class="fa fa-sign-in"></i>{% trans %}Login{% endtrans %}
                    </button>
                </li>
            </ul>
        {% endif %}

        <ul class="nav-pages" data-bw-gtm-event-click>
            <li>
                <a href="{{ absolute_url(path('domain_site_home_index')) }}" data-bw-gtm-label="Home::{{ absolute_url(path('domain_site_home_index')) }}"><i class="fa fa-home"></i>Home</a>
            </li>
            <li>
                <a href="{{ absolute_url(path('domain_article_homepage')) }}" data-bw-gtm-label="Articles::{{ absolute_url(path('domain_article_homepage')) }}"><i class="fa fa-file-text-o"></i>{% trans %}Articles{% endtrans %}</a>
            </li>
            <li>
                <a href="{{ absolute_url(path('domain_business_video_list')) }}" data-bw-gtm-label="Videos::{{ absolute_url(path('domain_business_video_list')) }}"><i class="fa fa-play"></i>{% trans %}Videos{% endtrans %}</a>
            </li>
            <li>
                <a href="{{ absolute_url(path('domain_search_catalog')) }}" data-bw-gtm-label="Catalog::{{ absolute_url(path('domain_search_catalog')) }}"><i class="fa fa-sitemap"></i>{% trans %}Catalog{% endtrans %}</a>
            </li>
            <li>
                <a href="https://www.infopaginasmedia.com/" target="_blank" data-bw-gtm-label="About Us::https://www.infopaginasmedia.com/" rel="noopener">{% trans %}About Us{% endtrans %}</a>
            </li>
            <li>
                <a href="{{ absolute_url(path('domain_page_view_contact')) }}" data-bw-gtm-label="Contact Us::{{ absolute_url(path('domain_page_view_contact')) }}" target="_blank">{% trans %}Contact Us{% endtrans %}</a>
            </li>
            <li>
                <a href="{{ absolute_url(path('domain_page_view_privacy')) }}" target="_blank" data-bw-gtm-label="Privacy Statement::{{ absolute_url(path('domain_page_view_privacy')) }}">{% trans %}Privacy Statement{% endtrans %}</a>
            </li>
            <li>
                <a href="{{ absolute_url(path('domain_page_view_terms')) }}" target="_blank" data-bw-gtm-label="Terms of Use::{{ absolute_url(path('domain_page_view_terms')) }}">{% trans %}Terms of Use{% endtrans %}</a>
            </li>
            {% if config(CONFIG.EMERGENCY_SITUATION_ON) %}
                <li>
                    <a href="{{ absolute_url(path('emergency_main')) }}" title="{{ 'emergency.menu.link'|trans }}">{{ 'emergency.menu.link'|trans }}</a>
                </li>
            {% endif %}
        </ul>
        <div class="google-badge">
            <div class="google-badge-block">
                <script src="https://apis.google.com/js/platform.js" async defer></script>
                <div class="g-partnersbadge" data-agency-id="{{ google_badge_partner_id }}"></div>
            </div>
        </div>
        <div class="tripadvisor-logo">
            <a href="https://tripadvisor.com" target="_blank">
                <img src="{{ asset('assets/images/ta-tagline_justified_on-white-bkg-01-300x116.png') }}" alt="TripAdvisor logo">
            </a>
        </div>
        <button id="nav-close" type="button" aria-label="{% trans %}Navigation Close{% endtrans %}" class="button--square nav-close" data-bw-gtm-event-click data-bw-gtm-label="nav-close">
            <i class="fa fa-remove"></i>
        </button>
    </nav>
</header>