{% from 'widgets/picture_macros.html.twig' import picture %}

<section class="page-section page-section--no-box articles-section" data-bw-gtm-component="homepage-articles-list">
    {% block titleTag %} {% endblock %}
    <div class="articles__container clearfix">
        {% for article in articles %}
            <a href="{{ absolute_url(path('domain_article_view', { 'slug' : article.getSlug() })) }}"
               title="{% trans %}Go to read...{% endtrans %}"
               class="news__item clearfix"
               data-bw-gtm-event-click
               data-bw-gtm-label="{{ article.title }}::{{ absolute_url(path('domain_article_view', { 'slug' : article.getSlug() })) }}">
                {{ picture(article.getImage(), 'list', true, article.title, 'news__img') }}
                <h2 class="news__title">{{ article.title }}</h2>
                <p class="news__text">{{ cut_body_extension(article.getBody()) }}</p>
            </a>
        {% endfor %}
    </div>
</section>
