<div class="featured-categories clearfix">
    {% for item in menuItems %}
        <div class="featured-categories__list">
            <h3>
                <a href="{{ absolute_url(path('domain_search_catalog', {'localitySlug': item.locality.slug})) }}" title="item.locality.name">{{ item.locality.name }}</a>
            </h3>
            <ul>
                {% for category in item.categories %}
                    <li class="cat-list__item">
                        <a href="{{ absolute_url(path('domain_search_catalog', {'localitySlug': item.locality.slug, 'categorySlug': category.slug})) }}" title="{{ category.name }}">
                            <span>{{ category.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div><!-- featured-categories__list -->
    {% endfor %}
</div><!-- fratured-categories -->
