<div class="toolbar">
    <div class="toolbar__nav">
        <a href="{{ absolute_url(path('domain_site_home_index')) }}" title="{% trans %}Home{% endtrans %}">
            <button id="breadcrumb_location" type="button" class="button button--action button--location">
                <i class="fa fa-list"></i>
                <span>{% trans %}Homepage{% endtrans %}</span>
            </button>
        </a>

        <a href="{{ absolute_url(path('domain_business_profile_view', {'citySlug': businessProfile.catalogLocality.slug, 'slug': businessProfile.slug})) }}" title="{{ businessProfile.name }}">
            <button id="breadcrumb_location" type="button" class="button button--action button--location">
                <span>{{ businessProfile.name|truncate }}</span>
            </button>
        </a>

        <div class="breadcrumb">
            <a href="#" title="{{ page.title }}" class="button categorie__item categorie__parent">
                <span>{{ page.title|truncate }}</span>
            </a>
        </div>
    </div><!-- toolbar__nav -->
</div><!-- toolbar -->
