{% from 'widgets/picture_macros.html.twig' import picture %}

{% set hasVideo = video_section_allowed_for_business(item) and item.getVideo() is not null %}
{% set hasImages = item.logo or item.background or item.images|length > 0 and hasSubscription(item, "CODE_PREMIUM_PLUS") %}
{% set itemSubscriptionClass = getItemSubscriptionClass(item) %}

<div class="results__item results__item--{{ itemSubscriptionClass }}" id="{{ item.id }}" data-bw-gtm-component="search-results-item">
    <div class="item__content clearfix" data-item-content>
        <div class="item__img">
            {% if (hasSubscription(item, "CODE_PREMIUM_PLUS") and item.getLogo()) %}
                <a href="{{ absolute_url(path('domain_business_profile_view', { 'citySlug' : item.citySlug, 'slug' : item.slug })) }}" title="{% trans %}Go to information page{% endtrans %}" data-bw-gtm-event-click data-bw-gtm-label="item-image::{{ item.name }}::{{ absolute_url(path('domain_business_profile_view', { 'citySlug' : item.citySlug, 'slug' : item.slug })) }}">
                    {{ picture(item.getLogo(), 'preview', true, item.name()) }}
                </a>
            {% endif %}
        </div>

        <div class="item__summary {% if hasSubscription(item, 'CODE_PREMIUM_PLUS') == false or item.getLogo() == null %}item__summary-no-logo{% endif %}">
            <a href="{{ absolute_url(path('domain_business_profile_view', { 'citySlug' : item.citySlug, 'slug' : item.slug })) }}" title="{% trans %}Go to information page{% endtrans %}" class="phantom-link" data-bw-gtm-event-click data-bw-gtm-label="item-summary::{{ item.name }}::{{ absolute_url(path('domain_business_profile_view', { 'citySlug' : item.citySlug, 'slug' : item.slug })) }}">
                <div class="item__header header-align-stars">
                    {% set workingHoursData = get_business_profile_open_status(item) %}
                    {% include ':redesign/blocks/workingHours:working_hours_current_status.html.twig' with { 'workingHoursData': workingHoursData } %}
                </div>
                <div class="item__info">
                    <h2>{% if item.isAd %} <i class="fa fa-star"></i> {% endif %} <span class="{{ seoTags.name }}">{{ item.name }}</span></h2>
                    {% if (hasSubscription(item, "CODE_PREMIUM_PLUS") and item.slogan) %}
                        <p>{{ item.slogan }}</p>
                    {% endif %}
                    {% if not item.getHideAddress() %}
                        <address>
                            {% if item.getCustomAddress() %}
                                {{ item.getCustomAddress() }}
                            {% else %}
                                {{ item.getCity() }}, {{ item.getStreetAddress() }}
                            {% endif %}
                            <span class="how-far">
                                {{ item.getDistanceUX() }}
                                {% if search.locationValue.userGeo %}
                                    {% trans %}search.miles_to.user{% endtrans %}
                                {% else %}
                                    {% trans %}search.miles_to.location{% endtrans %} {{ search.locationValue.locality.name }}
                                {% endif %}
                            </span>
                        </address>
                    {% endif %}
                </div>
            </a>
        </div><!-- item__summary -->
    </div><!-- item__content -->
    <div class="item__actions">
        <div class="item__primary-actions" data-bw-gtm-component="search-results-primary-action">
            <a data-bname="{{ item.name }}" class="get-dir redirect-event button button--small button--featured link-pointer {% if item.isAd %}svm-getdir{% endif %}" data-href="{{ path('domain_search_show_directions', {'slug': item.getSlug() }) }}" data-id="{{ item.getId() }}" data-latlng="{{ item.getLatLng() }}" data-type="directionButton" data-bw-gtm-event-click data-bw-gtm-label="{% trans %}Directions{% endtrans %}">
                <i class="fa fa-location-arrow"></i>
                {% trans %}Directions{% endtrans %}
            </a>
            <a class="button button--small button--featured hide-mobile link-pointer {% if item.isAd %}svm-showmap{% endif %}" id="show-on-map-{{ item.id }}" data-bw-gtm-event-click data-bw-gtm-label="{% trans %}Show on Map{% endtrans %}">
                <i class="fa fa-location-arrow"></i>
                {% trans %}Show on Map{% endtrans %}
            </a>
            {% if not item.phones.empty %}
                {% if item.mainPhone %}
                    {% set phoneToCall = item.mainPhone.phone %}
                {% else %}
                    {% set phoneToCall = item.phones.first.phone %}
                {% endif %}
                <a data-bname="{{ item.name }}" href="tel:{{ phoneToCall }}" class="button button--small button--featured hide-desktop phone-call {% if item.isAd %}svm-callmobile{% endif %}" data-id="{{ item.id }}" data-type="callMobButton" data-bw-gtm-event-click data-bw-gtm-label="{% trans %}ActionButtonCall{% endtrans %}">
                    <i class="fa fa-phone"></i>
                    {% trans %}ActionButtonCall{% endtrans %}
                </a>
                <div class="dropdown dropdown-call hide-mobile">
                    <button class="btn btn-default dropdown-toggle dropdown-call-button phone-call link-pointer {% if item.isAd %}svm-calldesktop{% endif %}" type="button" id="dropdownMenuCall" data-id="{{ item.id }}" data-type="callDeskButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-bw-gtm-event-click data-bw-gtm-label="{% trans %}Call{% endtrans %}">
                        <i class="fa fa-phone"></i>
                        {% trans %}Call{% endtrans %}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-call-list" aria-labelledby="dropdownMenuCall">
                        {% for phone in item.phones %}
                            <li {% if phone.type == BUSINESS_PROFILE_PHONE.TYPE.MAIN %}class="main-phone"{% endif %} title="{{ ('business_profile.phone.tooltip.' ~ phone.type)|trans }}">
                                <i class="fa {{ get_business_profile_phone_icon(phone) }}"></i>
                                {{ phone.phone }}
                            </li>
                            <li role="separator" class="divider"></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div><!-- item__primary-actions -->
    </div>
</div><!-- results__item -->
