<div class="comparison__item" id="business-{{ item.id }}">
    <div class="comparison__row comparison__where">
        <span class="where">{{ item.getDistanceUX() }} {% trans %}miles away{% endtrans %}</span>
    </div>

    <div class="comparison__row comparison__rating">
        <div class="rank">
            <div class="rank-ta rank-ta--5">
            </div>
            <div class="stars rank__item">
                {% set reviewsAvgRating = get_business_profile_reviews_avg_rating(item) %}
                {% if reviewsAvgRating|number_format(0) %}
                    {% for i in 1 .. reviewsAvgRating|number_format(0) %}
                        <i class="fa fa-star"></i>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div><!-- comparison-row -->

    <div class="comparison__row comparison__description">
        <h1><a href="{{ absolute_url(path('domain_business_profile_view', { 'citySlug' : item.catalogLocality.slug, 'slug' : item.slug })) }}" title="{% trans %}Go to...{% endtrans %}">{{ item.name }}</a></h1>
        <p>
            {% if (hasSubscription(item, "CODE_PREMIUM_PLUS") and item.slogan) %}
               {{ item.slogan }}
            {% endif %}
        </p>
        <div class="detail-link">
            <a href="{{ absolute_url(path('domain_business_profile_view', { 'citySlug' : item.catalogLocality.slug, 'slug' : item.slug })) }}" class="button button--small button--text">{% trans %}Details{% endtrans %} <i class="fa fa-angle-right"></i></a>
        </div>
    </div><!-- comparison-row -->

    <div class="comparison__row comparison__highlights">
        <div class="highlights container">
            {% if not item.getHideAddress() %}
                <div class="highlights__item highlights__item_address-row highlights__item_fixed-height highlights__item--address">
                    <h3>{% trans %}Address{% endtrans %}</h3>
                    <ul>
                        <li>
                            {% if item.getCustomAddress() %}
                                {{ item.getCustomAddress() }}
                            {% else %}
                                <strong>{{ item.getStreetAddress() }}</strong>,
                                {{ item.getCity() }}, {{ item.getCountry() }} {{ item.getZipCode() }}
                            {% endif %}
                        </li>
                    </ul>
                </div><!-- highlights__item -->
            {% else %}
                <div class="highlights__item highlights__item--checklist highlights__item_address-row highlights__item_fixed-height empty">
                  <ul></ul>
                </div>
            {% endif %}

            {% if item.getPhones()|length > 0 %}
                <div class="highlights__item highlights__item_phone-row highlights__item_fixed-height highlights__item--phone">
                    <h3>{% trans %}Phone{% endtrans %}</h3>
                    <ul>
                        {% for phone in item.getPhones() %}
                            <li>
                                <i class="fa fa-phone"></i>
                                <a href="tel:{{ phone.getPhone() }}" class="hide-desktop phone-call" data-id="{{ item.getId() }}" data-type="callMobButton">{{ phone.getPhone() }}</a>
                                <span class="hide-mobile">{{ phone.getPhone() }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div><!-- highlights__item -->
            {% else %}
                <div class="highlights__item highlights__item--checklist highlights__item_phone-row highlights__item_fixed-height empty">
                  <ul></ul>
                </div>
            {% endif %}

            {% if item.getBrands() %}
                <div class="highlights__item highlights__item--checklist highlights__item_brands-row highlights__item_fixed-height highlights__item--brand">
                    <h3>{% trans %}Brands{% endtrans %}</h3>
                    <ul>
                        <li>
                            {{ item.getBrands() }}
                        </li>
                    </ul>
                </div><!-- highlights__item -->
            {% else %}
                <div class="highlights__item highlights__item--checklist highlights__item_brands-row highlights__item_fixed-height empty">
                  <ul></ul>
                </div>
            {% endif %}

            {% if item.getWorkingHours() %}
                <div class="highlights__item highlights__item--hours highlights__item_hours-row highlights__item_fixed-height">
                    <h3>{% trans %}Business hours{% endtrans %}</h3>
                    <ul>
                        <li>
                            {{ item.getWorkingHours() }}
                        </li>
                    </ul>
                </div><!-- highlights__item -->

            {% else %}
                <div class="highlights__item highlights__item--checklist highlights__item_hours-row highlights__item_fixed-height empty">
                  <ul></ul>
                </div>
            {% endif %}

            {% if item.paymentMethods|length > 0 %}
                <div class="highlights__item highlights__item--checklist highlights__item_payment-row highlights__item_fixed-height highlights__item--payment">
                    <h3>{% trans %}Payment methods{% endtrans %}</h3>
                    <ul>
                        {% for paymentMethod in item.paymentMethods %}
                            <li>{{ paymentMethod.getName }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div class="highlights__item highlights__item--checklist highlights__item_payment-row highlights__item_fixed-height empty">
                  <ul></ul>
                </div>
            {% endif %}

            {% set socialLinksExists = item.getFacebookURL()
                or item.getGoogleURL()
                or item.getTwitterURL()
                or item.getYoutubeURL()
            %}

            {% if socialLinksExists %}
                <div class="highlights__item highlights__item--checklist highlights__item_share-row highlights__item_fixed-height">
                    <div class="share">
                        {% if item.getFacebookURL() %}
                            <div class="share__item facebook">
                                <a data-href="{{ item.getFacebookURL() }}" class="redirect-event" data-id="{{ item.id }}" data-type="facebookVisit" title="{% trans %}Visit business profile on...{% endtrans %}"><i class="fa fa-facebook"></i></a>
                            </div><!-- share__item -->
                        {% endif %}
                        {% if item.getTwitterURL() %}
                            <div class="share__item twitter">
                                <a data-href="{{ item.getTwitterURL() }}" class="redirect-event" data-id="{{ item.id }}" data-type="twitterVisit" title="{% trans %}Visit business profile on...{% endtrans %}"><i class="fa fa-twitter"></i></a>
                            </div><!-- share__item -->
                        {% endif %}
                        {% if item.getGoogleURL() %}
                            <div class="share__item google-plus">
                                <a data-href="{{ item.getGoogleURL() }}" class="redirect-event" data-id="{{ item.id }}" data-type="googleVisit" title="{% trans %}Visit business profile on...{% endtrans %}"><i class="fa fa-google-plus"></i></a>
                            </div><!-- share__item -->
                        {% endif %}
                        {% if item.getYoutubeURL() %}
                            <div class="share__item youtube">
                                <a data-href="{{ item.getYoutubeURL() }}" class="redirect-event" data-id="{{ item.id }}" data-type="youtubeVisit" title="{% trans %}Visit business profile on...{% endtrans %}"><i class="fa fa-youtube"></i></a>
                            </div><!-- share__item -->
                        {% endif %}
                    </div>
                </div>
            {% else %}
            <div class="highlights__item highlights__item--checklist highlights__item_share-row highlights__item_fixed-height"></div>
            {% endif %}
        </div><!-- container -->
    </div><!-- comparison-row -->

    <div class="comparison__row comparison__actions no-flex">
        <section class="actions-section">
            <div class="header-actions">
                {% if not item.getHideAddress() %}
                    <button class="get-dir button button--small button--featured" data-id="{{ item.getId() }}" data-latlng="{{ item.getLatLng() }}">
                        <i class="fa fa-location-arrow"></i>
                        <span>{% trans %}Directions{% endtrans %}</span>
                    </button>
                {% endif %}
                {% if item.getPhones()|length > 0 %}
                    <a href="tel:{{ item.phones|first.phone }}" class="button button--small button--featured hide-desktop phone-call" data-id="{{ item.getId() }}" data-type="callMobButton">
                        <i class="fa fa-phone"></i>
                        <span>{% trans %}Call{% endtrans %}</span>
                    </a>
                {% endif %}
                {% if item.getWebsite() %}
                    <button class="button button--small button--featured redirect-event" data-href="{{ item.getWebsiteLink() }}" data-id="{{ item.id }}" data-type="webButton">
                        <i class="fa fa-external-link"></i>
                        <span>{% trans %}Web{% endtrans %}</span>
                    </button>
                {% endif %}
            </div><!-- header-actions -->
        </section>
    </div><!-- comparison-row -->
    <button class="button--remove remove-compare-item"><i class="fa fa-remove"></i></button>
</div><!-- comparison__item -->