{% from 'widgets/phone_number_macros.html.twig' import phoneNumber %}
{% from ':widgets:url_item_rel_attributes_macros.html.twig' import relAttributes %}

<div class="comparison__item" id="business-{{ item.id }}" data-bw-gtm-component="search-results-item-compare">
    <div class="comparison__row comparison__where">
        {% set workingHoursData = get_business_profile_open_status(item) %}
        {% include ':redesign/blocks/workingHours:working_hours_current_status.html.twig' with { 'workingHoursData': workingHoursData } %}
    </div>

    <div class="comparison__row comparison__where">
        <span class="where">
            {{ item.getDistanceUX() }}
            {% if search.locationValue.userGeo %}
                {% trans %}search.miles_to.user{% endtrans %}
            {% else %}
                {% trans %}search.miles_to.location{% endtrans %} {{ search.locationValue.locality.name }}
            {% endif %}
        </span>
    </div>

    <div class="comparison__row comparison__description">
        <h2>
            <a href="{{ absolute_url(path('domain_business_profile_view', { 'citySlug' : item.citySlug, 'slug' : item.slug })) }}" title="{% trans %}Go to...{% endtrans %}" data-bw-gtm-event-click data-bw-gtm-label="{{ item.name }}::{{ absolute_url(path('domain_business_profile_view', { 'citySlug' : item.citySlug, 'slug' : item.slug })) }}">{{ item.displayedPosition }}. <span class="{{ seoTags.name }}-full">{{ item.name }}</span></a>
        </h2>
        <p>
            {% if (hasSubscription(item, "CODE_PREMIUM_PLUS") and item.slogan) %}
               {{ item.slogan }}
            {% endif %}
        </p>
        <div class="detail-link">
            <a href="{{ absolute_url(path('domain_business_profile_view', { 'citySlug' : item.citySlug, 'slug' : item.slug })) }}" class="button button--small button--text" data-bw-gtm-event-click data-bw-gtm-label="{% trans %}Details{% endtrans %}">{% trans %}Details{% endtrans %} <i class="fa fa-angle-right"></i></a>
        </div>
    </div><!-- comparison-row -->

    <div class="comparison__row comparison__highlights">
        <div class="highlights container">
            {% if not item.getHideAddress() %}
                <div class="highlights__item highlights__item_address-row highlights__item_fixed-height highlights__item--address">
                    <h3>{% trans %}Address{% endtrans %}</h3>
                    <ul>
                        <li>
                            {% if item.getCustomAddress() %}
                                {{ item.getCustomAddress() }}
                            {% else %}
                                <strong>{{ item.getStreetAddress() }}</strong>,
                                {{ item.getCity() }}, {{ item.getCountry() }} {{ item.getZipCode() }}
                            {% endif %}
                        </li>
                    </ul>
                </div><!-- highlights__item -->
            {% else %}
                <div class="highlights__item highlights__item--checklist highlights__item_address-row highlights__item_fixed-height empty">
                  <ul></ul>
                </div>
            {% endif %}

            {% if not item.phones.empty %}
                <div class="highlights__item highlights__item_phone-row highlights__item_fixed-height highlights__item--phone">
                    <h3>{% trans %}Phone{% endtrans %}</h3>
                    <ul>
                        {% for phone in item.phones %}
                            <li {% if phone.type == BUSINESS_PROFILE_PHONE.TYPE.MAIN %}class="main-phone"{% endif %} title="{{ ('business_profile.phone.tooltip.' ~ phone.type)|trans }}">
                                <i class="fa {{ get_business_profile_phone_icon(phone) }}"></i>
                                <a data-bname="{{ item.name }}" class="hide-desktop phone-call"
                                   href="tel:{{ phone.phone }}"
                                   data-id="{{ item.id }}" data-type="callMobButton"
                                   data-bw-gtm-event-click>
                                    {{ phoneNumber(phone, true) }}
                                </a>
                                <span class="hide-mobile">
                                    {{ phoneNumber(phone) }}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div><!-- highlights__item -->
            {% else %}
                <div class="highlights__item highlights__item--checklist highlights__item_phone-row highlights__item_fixed-height empty">
                  <ul></ul>
                </div>
            {% endif %}

            {% if item.websiteItem and item.websiteItem.url %}
                <div class="highlights__item highlights__item_phone-row highlights__item_fixed-height highlights__item--phone">
                    <h3>{% trans %}WebsiteButton{% endtrans %}</h3>
                    <ul>
                        <li class="main-phone">
                            <i class="fa fa-link"></i>
                            <a
                                    class="redirect-event link-pointer"
                                    data-href="{{ item.websiteItem.url }}"
                                    data-id="{{ item.id }}"
                                    data-type="webActionButton"
                                    data-bw-gtm-event-click
                                    data-bw-gtm-label="{{ item.websiteItem.url }}"
                                    rel="{{ relAttributes(item.websiteItem) }}"
                            >
                                {{ item.websiteItem.url|truncate(profile_action_url_span_length) }}
                            </a>
                        </li>
                    </ul>
                </div><!-- highlights__item -->
            {% else %}
                <div class="highlights__item highlights__item--checklist highlights__item_phone-row highlights__item_fixed-height empty">
                    <ul></ul>
                </div>
            {% endif %}

            <div class="highlights__item highlights__item--checklist highlights__item_brands-row highlights__item_fixed-height empty">
                <ul></ul>
            </div>

            {% include ':redesign/blocks/workingHours:working_hours_daily_list.html.twig' with { 'businessProfile': item, 'isCompare': true } %}

            {% if item.paymentMethods|length > 0 %}
                <div class="highlights__item highlights__item--checklist highlights__item_payment-row highlights__item_fixed-height highlights__item--payment">
                    <h3>{% trans %}Payment methods{% endtrans %}</h3>
                    <ul>
                        {% for paymentMethod in item.paymentMethods %}
                            <li>{{ paymentMethod.getName }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div class="highlights__item highlights__item--checklist highlights__item_payment-row highlights__item_fixed-height empty">
                  <ul></ul>
                </div>
            {% endif %}

            {% set socialLinksExists = (item.linkedInURLItem and item.linkedInURLItem.url)
                or (item.facebookURLItem and item.facebookURLItem.url)
                or (item.twitterURLItem and item.twitterURLItem.url)
                or (item.googleURLItem and item.googleURLItem.url)
                or (item.youtubeURLItem and item.youtubeURLItem.url)
                or (item.instagramURLItem and item.instagramURLItem.url)
                or (item.tripAdvisorURLItem and item.tripAdvisorURLItem.url)
            %}

            {% if socialLinksExists %}
                <div class="highlights__item highlights__item--checklist highlights__item_share-row highlights__item_fixed-height">
                    {% include ':redesign/blocks/businessProfile/view:social-buttons.html.twig' %}
                </div>
            {% else %}
            <div class="highlights__item highlights__item--checklist highlights__item_share-row highlights__item_fixed-height"></div>
            {% endif %}
        </div><!-- container -->
    </div><!-- comparison-row -->

    <div class="comparison__row comparison__actions no-flex">
        <section class="actions-section" data-bw-gtm-component="actions-sections">
            <div class="header-actions">
                {% include ':redesign/blocks/businessProfile/view:action-buttons.html.twig' %}
            </div>
        </section>
    </div><!-- comparison-row -->
    <button class="button--remove remove-compare-item" aria-label="{% trans %}Remove Compare Item{% endtrans %}" data-bw-gtm-event-click data-bw-gtm-label="remove-compare-item"><i class="fa fa-remove"></i></button>
</div><!-- comparison__item -->