{% if searchData is defined and searchData %}
    {% set qValue = searchData.q %}
    {% set geoValue = searchData.geo %}
{% else %}
    {% if app.request.query.get('q') is not null %}
        {% set qValue = app.request.query.get('q') %}
    {% else %}
        {% set qValue = '' %}
    {% endif %}

    {% if app.request.query.get('geo') is not null %}
        {% set geoValue = app.request.query.get('geo') %}
    {% else %}
        {% set geoValue = '' %}
    {% endif %}
{% endif %}

<form class="header__search search-form" action="{{ absolute_url(path('domain_search_index')) }}" id="header-search-form" {% if isHomePage is defined and isHomePage %}data-homepage="1"{% endif %} data-bw-gtm-component="search-form">
    <div class="form__field field--search">
        <input id="searchBox" type="text" name="q" value="{{ qValue }}" aria-label="{% trans %}Search Box{% endtrans %}" class="search-trigger" placeholder="{% trans %}What?{% endtrans %}" data-error-placeholder="{% trans %}Please enter a search term{% endtrans %}">
    </div>
    <div class="form__field field--geo">
        <input id='searchLocation' value="{{ geoValue }}" type="text" name="geo" aria-label="{% trans %}Search Location{% endtrans %}" class="search-geo" placeholder="{% trans %}Where?{% endtrans %}">
    </div>
    <div class="form__action" data-bw-gtm-event-click>
        <button id="searchButton" type="submit" class="button button--action button--search" data-bw-gtm-event-click data-bw-gtm-label="{% trans %}Search{% endtrans %}">
            {% trans %}Search{% endtrans %}
            <i class="fa fa-angle-right"></i>
        </button>
        <button id="close-search" type="button" aria-label="{% trans %}Close Search{% endtrans %}" class="button close-search button--text" data-bw-gtm-event-click data-bw-gtm-label="close-search">
            <i class="fa fa-remove"></i>
        </button>
    </div>
    <input type="hidden" id='searchLat' name='lat' value="{{ app.request.query.get('lat', '') }}">
    <input type="hidden" id='searchLng' name='lng' value="{{ app.request.query.get('lng', '') }}">
    <input type="hidden" id='searchLocationGeoLoc' name='geoLoc' value="{{ app.request.query.get('geoLoc', '') }}">
</form><!-- header__search -->

{% if showLinkListView is defined and showLinkListView %}
    <div class="views">
        {% set listHref %}
            {% if app.request.attributes.get('localitySlug') and app.request.attributes.get('categorySlug') %}
                {{ absolute_url(path('domain_search_catalog', {
                    'localitySlug' : app.request.attributes.get('localitySlug'),
                    'categorySlug' : app.request.attributes.get('categorySlug'),
                })) }}
            {% else %}
                {{ absolute_url(path('domain_search_index', app.request.query.all)) }}
            {% endif %}
        {% endset %}
        <a id="searchListView" href="{{ listHref }}"
           class="button" data-bw-gtm-event-click data-bw-gtm-label="{% trans %}List view{% endtrans %}">
            {% trans %}List view{% endtrans %}
        </a>
    </div><!-- views -->
{% endif %}

{% if showLinkCompareView is defined and showLinkCompareView %}
    <div class="views">
        {% set compareHref %}
            {% if catalogView is defined and catalogView %}
                {{ absolute_url(path('domain_search_compare_catalog', {
                    'localitySlug' : app.request.attributes.get('localitySlug'),
                    'categorySlug' : app.request.attributes.get('categorySlug'),
                })) }}
            {% else %}
                {{ absolute_url(path('domain_search_compare', app.request.query.all)) }}
            {% endif %}
        {% endset %}
        <a id="compareListView" href="{{ compareHref }}"
           class="button" data-bw-gtm-event-click data-bw-gtm-label="{% trans %}compare.view{% endtrans %}">
            {% trans %}compare.view{% endtrans %}
        </a>
    </div><!-- views -->
{% endif %}
