{% from 'widgets/picture_macros.html.twig' import picture %}

<section class="page-section page-section--no-box articles-section" data-bw-gtm-component="video-list">
    <h1 class="section__title">{% trans %}Videos{% endtrans %}</h1>
    <div class="articles__container clearfix">
        {% for item in businessProfiles %}
            <a href="{{ absolute_url(path('domain_business_profile_view', { 'citySlug' : item.citySlug, 'slug' : item.slug })) }}" title="{% trans %}Go to watch...{% endtrans %}" class="news__item clearfix" data-bw-gtm-event-click data-bw-gtm-label="avatar::{{ item.name }}::{{ absolute_url(path('domain_business_profile_view', { 'citySlug' : item.citySlug, 'slug' : item.slug })) }}">
                {% if item.getLogo() %}
                    <div class="avatar">
                        {{ picture(item.getLogo(), 'normal', true, item.name()) }}
                    </div>
                {% endif %}
                <h3 class="news__title {{ seoTags.name }}">{{ item.getName() }}</h3>
                {% if item.getDescription() %}
                    <p>{{ cut_body_extension(item.getDescription()) }}</p>
                {% endif %}
            </a>
        {% endfor %}
    </div>
</section>
