{% extends "DomainSiteBundle:Layout:homepage.html.twig" %}

{% block doubleClickHeader %}
    {% if bannerFactory is not null %}
        {% include 'DomainBannerBundle:Default:doubleClickHeaderTemplate.html.twig' with { 'bannerHeaders' : bannerFactory.getItemsHeaders } %}
    {% endif %}
{% endblock %}

{% block homapageHeaderHexagonDesc %}
    {% include 'DomainSiteBundle:Home:Widgets/hexagonMenuWidget.html.twig' %}
{% endblock %}

{% block  homapageHeaderHexagonMobile %}
    {% include 'DomainSiteBundle:Home:Widgets/hexagonMenuMobileWidget.html.twig' %}
{% endblock %}

{% block  homapageHeaderSearchBlock %}
    {% include 'DomainSiteBundle:Home:Widgets/searchWidget.html.twig' %}
{% endblock %}

{% block homepageHeaderTopBarNavigation %}
    <ul class="nav navbar-nav navbar-right">
        {% include 'DomainSiteBundle:Home:Widgets/languageWidget.html.twig' %}
        {% if (app.user) %}
            <li class="login-link desc-menu logged">
                <a href="{{ path('domain_site_user_profile') }}" class="login-button">
                    <span class="welcome">
                        Welcome,
                    </span>
                    <span class="user-name">
                        {{ app.user.getFirstname() }} {{ app.user.getLastname() }}
                    </span>
                </a>
            </li>
             {% else %}
            <li class="login-link desc-menu btn">
                <a href="#" class="login-button" data-toggle="modal" data-target="#loginModal">
                    login
                </a>
            </li>
        {% endif %}

        <li class="ad mobile-menu">
            <a href="">
                Advertise with us
            </a>
        </li>
    </ul>
{% endblock %}

{% block mainColumnBanner %}
    <section id="banner" class="banner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 banner-block desc-banner">
                    {% if bannerFactory is not null %}
                        {% include 'DomainSiteBundle:Layout:Widgets/bannerDoubleClickWidget.html.twig' with { 'banner' :
                            bannerFactory.retrieve(constant('Domain\\BannerBundle\\Model\\TypeInterface::CODE_PORTAL_LEADERBOARD')) }
                        %}
                    {% endif %}
                </div>
                <div class="col-xs-12 mobile-banner">

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block  mainColumnContainers %}
    <section id="articles-videos" class="articles-videos">
        <div class="container">
            <div class="row">
                <div class="col-md-6 articles-section">
                    <div class="section-title">
                        <span class="blue-c">{% trans %}Articles{% endtrans %}</span>
                        <hr>
                        <a href="{{ path('domain_article_homepage') }}" class="btn">{% trans %}View more articles{% endtrans %}</a>
                    </div>
                    {% include 'DomainSiteBundle:Home:Widgets/articlesWidget.html.twig' %}
                </div>
                <div class="col-md-6 videos-section">
                    <div class="section-title">
                        <span class="blue-c">{% trans %}Videos{% endtrans %}</span>
                        <hr>
                        <a href="#" class="btn">{% trans %}View more videos{% endtrans %}</a>
                    </div>
                    {% include 'DomainSiteBundle:Home:Widgets/videosWidget.html.twig' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block mainContainerBanners %}
    <!-- Banners -->
    <section id="banners" class="banners">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 banner-small">
                        {% if bannerFactory is not null %}
                            {% include 'DomainSiteBundle:Layout:Widgets/bannerDoubleClickWidget.html.twig' with { 'banner' :
                                bannerFactory.retrieve(constant('Domain\\BannerBundle\\Model\\TypeInterface::CODE_PORTAL_LEFT'))  }
                            %}
                        {% endif %}
                    </div>
                    <div class="col-xs-6 banner-small">
                        {% if bannerFactory is not null %}
                            {% include 'DomainSiteBundle:Layout:Widgets/bannerDoubleClickWidget.html.twig' with { 'banner' :
                                bannerFactory.retrieve(constant('Domain\\BannerBundle\\Model\\TypeInterface::CODE_PORTAL_RIGHT'))  }
                            %}
                        {% endif %}
                    </div>
                </div>
            </div>
    </section>
{% endblock %}

{% block homeModals %}
    {% include 'DomainSiteBundle:Home:Modals/login.html.twig' with { 'loginForm' : loginForm } %}
    {% include 'DomainSiteBundle:Home:Modals/registration.html.twig' with { 'registrationForm' : registrationForm } %}
    {% include 'DomainSiteBundle:Home:Modals/forgotten_password.html.twig' with { 'resetPasswordRequestForm' : resetPasswordRequestForm} %}
    {% include 'DomainSiteBundle:Home:Modals/reset_password.html.twig' with { 'resetPasswordForm' : resetPasswordForm} %}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        requirejs(['./{{ asset("/bundles/domainsite/scripts/common.js")}}'], function(common) {
            requirejs(['{{asset("/bundles/domainsite/scripts/modules/homepage.js")}}'], function(Homepage) {
                var siteHomepage = new Homepage({
                    'locale'       : '{{ locale }}'
                });
            })
        })
    </script>
{% endblock%}
