<div class="card-item">
    <div class="card-title fields-item">
        <label class="control-label card-label" for="card-check2">
            <span class="card-number">{{ iterator }}.</span> &nbsp;
            <a href="{{ path('domain_business_profile_view', { 'citySlug' : item.catalogLocality.slug, 'slug' : item.slug }) }}">
                <h1 class="card-name">{{ item.name }}</h1>
            </a>
        </label>
    </div>
    <div class="company-contact fields-item">
        <ul class="company-info">
            <li>
                {% if item.website is not null and item.website is not empty %}
                    <a href="{{ item.getWebsiteLink() }}">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>{{ item.getWebsiteLink() }}</span>
                    </a>
                {% endif %}
            </li>
            <li>
                {% if item.email is not null and item.email is not empty %}
                    <a href="mailto:{{ item.email }}">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span>{{ item.email }}</span>
                    </a>
                {% endif %}
            </li>
            <li>
                {% if item.phones is not null %}
                    <div class="dropdown filter-drop">
                        <i class="fa fa-phone" aria-hidden="true"></i>

                        <div class="select-container">
                            <select class="form-control select-control view-phone" data-business="{{ item.id }}">
                                <option>{% trans %}phone number{% endtrans %}</option>
                                {% for phone in item.phones %}
                                    <option>{{ phone }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% endif %}
            </li>
        </ul>
    </div>
    <div class="schedule fields-item">
        <div class="address">
            {% if not item.getHideAddress() %}
                {% if item.getCustomAddress() %}
                    {{ item.getCustomAddress() }}
                {% else %}
                    {{ item.getCountry() }}, {{ item.getCity() }}, {{ item.getStreetAddress() }} {{ item.getZipCode() }}
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="distance fields-item">
        {% if not item.getHideAddress() %}
            <span>{{ item.getDistanceUX() }} {% trans %}miles{% endtrans %}</span>
        {% endif %}
    </div>
    <div class="additional-info fields-item">
        {% include ':blocks/business:business_profile_reviews.html.twig' with {'business': item} %}
    </div>
    <div class="schedule fields-item">
        <div class="shift">
            {{ item.workingHours }}
        </div>
    </div>
    <div class="schedule fields-item">
        <div class="address">
            {% for method in item.paymentMethods %}
                {{ method.getName() }}{% if not loop.last %}, {% endif %}
            {% endfor%}
        </div>
    </div>
    <div class="social fields-item">
        <ul class="social-icons">
            {% if item.getFacebookURL() %}
                <li>
                    <a class="blue-c" target="_blank" href="{{ item.getFacebookURL() }}">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
            {% endif %}
            {% if item.getTwitterURL() %}
                <li>
                    <a class="blue-c" target="_blank" href="{{ item.getTwitterURL() }}">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
            {% endif %}
            {% if item.getGoogleURL() %}
                <li>
                    <a class="blue-c" target="_blank" href="{{ item.getGoogleURL() }}">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                </li>
            {% endif %}
            {% if item.getYoutubeURL() %}
                <li>
                    <a class="blue-c" target="_blank" href="{{ item.getYoutubeURL() }}">
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="close-icon">
        <span class="times">&#10005;</span>
    </div>
</div>
