<div class="card-item premium" id="{{ item.id }}" data-id="{{ item.id }}">
    <div class="col-xs-8 card-title">
        <label class="control-label card-label" for="card-check">
                <span class="card-number">{{ iterator }}.</span>&nbsp;
            <a href="{{ path('domain_business_profile_view', { 'citySlug' : item.citySlug, 'slug' : item.slug }) }}">
                <h1 class="card-name">{{ item.name }}</h1>
            </a>
        </label>
    </div>
    <div class="col-xs-8 schedule">
        <div class="address">
            <span class="map-address">{{ item.city }}, {{ item.state }} {{ item.zipCode }}</span>
            <a class="get-dir" data-latlng="{{ item.getLatLng }}" >Get Direction <span>&#187;</span></a>
        </div>
    </div>
    <div class="col-xs-9 company-mail">
        {% if item.website is not null %}
        <a href="//{{ item.website }}">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span>{{ item.website }}</span>
        </a>
        {% endif %}
    </div>
    <div class="col-xs-12 additional-info">
        {% include ':blocks/business:business_profile_reviews.html.twig' with {'business': item} %}
    </div>
    {% if (hasSubscription(item, "CODE_PREMIUM_PLUS")) %}
        {% if item.getIsSetLogo() %}
            <div class="company-logo">
                {% thumbnail item.getLogo(), 'preview' %}
            </div>
        {% endif %}
    {% endif %}
</div>
