<div class="card-item premium" id="{{ item.id }}" data-id="{{ item.id }}">
    <div class="col-xs-8 card-title">
        <label class="control-label card-label" for="card-check">
            <a href="{{ path('domain_business_default_view', { 'slug' : item.slug }) }}">
                <span class="card-number">{# item.order #}.</span>
            </a>
                &nbsp;
            <a href="{{ path('domain_business_default_view', { 'slug' : item.slug }) }}">
                <span class="card-name">{{ item.name }}</span>
            </a>
        </label>
    </div>
    <div class="col-xs-8 schedule">
        <div class="address">
            <span class="map-address">{{ item.city }}, {{ item.state }} {{ item.zipCode }}</span>
            <a href="">Get Direction <span>&#187;</span></a>
        </div>
    </div>
    <div class="col-xs-9 company-mail">
        <a href="//{{ item.website }}"><i class="fa fa-home"
                      aria-hidden="true"></i><span>{{ item.website }}</span></a>
    </div>
    <div class="col-xs-12 additional-info">
        <div class="reviews">
            <div class="star-rating">
                <span class="fa fa-star-o" data-rating="1"></span>
                <span class="fa fa-star-o" data-rating="2"></span>
                <span class="fa fa-star-o" data-rating="3"></span>
                <span class="fa fa-star-o" data-rating="4"></span>
                <span class="fa fa-star-o" data-rating="5"></span>
                <input type="hidden" name="whatever" class="rating-value" value="{{ item.getBusinessReviewsAvgMark }}">
            </div>
            <span>{{ item.getBusinessReviewsCount }}  Reviews</span>
        </div>
    </div>
    {% if (hasSubs(item, "CODE_PREMIUM_PLUS")) %}
        <div class="company-logo"><img src="http://placehold.it/120x120"></div>
    {% endif %}
</div>
