<div class="card-item
    {% if (hasSubscription(item, 'CODE_PREMIUM_PLUS')) %}
        premium
    {% endif %}
    ">
    <div class="card-title">
        <label class="control-label card-label" for="card-check">
            <span class="card-number">{{ iterator }}.</span>
            <a href="{{ path('domain_business_profile_view', { 'citySlug' : item.catalogLocality.slug, 'slug' : item.slug }) }}">
                <h1 class="card-name">{{ item.name }}</h1>
            </a>
                &nbsp;
            {% if (hasSubscription(item, "CODE_PREMIUM_PLUS") and item.slogan) %}
                <a href="{{ path('domain_business_profile_view', { 'citySlug' : item.catalogLocality.slug, 'slug' : item.slug }) }}">
                    <span class="card-slogan">{{ item.slogan }}</span>
                </a>
            {% endif %}
        </label>
    </div>
    <div class="col-xs-5 schedule">
        <div class="address">
            {% if not item.getHideAddress() %}
                <a href="{{ path('domain_business_profile_view', { 'citySlug' : item.catalogLocality.slug, 'slug' : item.slug }) }}#address" class="address-link">
                    <span class="address-info">
                        {% if item.getCustomAddress() %}
                            {{ item.getCustomAddress() }}
                        {% else %}
                            {{ item.getCountry() }}, {{ item.getCity() }}, {{ item.getStreetAddress() }} {{ item.getZipCode() }}
                        {% endif %}
                    </span>
                </a>

                <a class="get-dir direction" data-latlng="{{ item.getLatLng }}">{% trans %}Get Direction{% endtrans %} <span>&#187;</span></a>
            {% endif %}

            {% if item.phones is not null %}
                {% for phone in item.phones %}
                    <a href="tel:{{ phone }}" class="btn green-btn mobile-btn"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp; {% trans %}Call{% endtrans %}<span></span></a>
                {% endfor %}
            {% endif %}

            <a class="get-dir get-direction mobile-btn btn" data-latlng="{{ item.getLatLng }}">{% trans %}Get Direction{% endtrans %}<span></span></a>
        </div>
        <div class="shift">
            {{ item.getWorkingHours() }}
        </div>
    </div>
    <div class="col-xs-7 company-contact">
        <ul class="company-info">
            {% if item.website is not null %}
                <li><a href="{{ path('domain_business_profile_view', { 'citySlug' : item.catalogLocality.slug, 'slug' : item.slug }) }}#website"><i class="fa fa-home" aria-hidden="true"></i><span>{{ item.website }}</span></a>
                </li>
            {% endif %}
            {% if item.email is not null %}
                <li><a href="{{ path('domain_business_profile_view', { 'citySlug' : item.catalogLocality.slug, 'slug' : item.slug }) }}#email"><i class="fa fa-envelope"
                                                                aria-hidden="true"></i><span>{{ item.email }}</span></a>
                </li>
            {% endif %}
            {% if item.phones is not null %}
            <li>
                <div class="dropdown filter-drop">
                    <i class="fa fa-phone" aria-hidden="true"></i>

                    <div class="select-container">
                        <select class="form-control select-control view-phone" data-business="{{ item.id }}">
                            <option>{% trans %}phone number{% endtrans %}</option>
                            {% for phone in item.phones %}
                                <option>{{ phone }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="col-xs-12 additional-info">
        {% include ':blocks/business:business_profile_info_icons.html.twig'
            with { 'business': item, 'photos': get_business_profile_images(item), 'advertisements': get_business_profile_ads(item) } %}
    </div>
    {% if (hasSubscription(item, "CODE_PREMIUM_PLUS") and item.getLogo()) %}
        <div class="company-logo">
            {% thumbnail item.getLogo(), 'preview' %}
        </div>
    {% endif %}
</div>
