<div class="card-item
    {% if (hasSubs(item[0], 'CODE_PREMIUM_PLUS')) %}
        premium
    {% endif %}
    ">
    <div class="card-title">
        <label class="control-label card-label" for="card-check">
            <a href="{{ path('domain_business_default_view', { 'slug' : item[0].slug }) }}">
                <span class="card-number">{# item.order #}.</span>
            </a>
                &nbsp;
            <a href="{{ path('domain_business_default_view', { 'slug' : item[0].slug }) }}">
                <span class="card-name">{{ item[0].name }}</span>
            </a>
                &nbsp;
            {% if (hasSubs(item[0], "CODE_PREMIUM_PLUS")) %}
                <a href="{{ path('domain_business_default_view', { 'slug' : item[0].slug }) }}">
                    <span class="card-slogan"><q>{{ item[0].slogan }}</q></span>
                </a>
            {% endif %}
        </label>
    </div>
    <div class="col-xs-5 schedule">
        <div class="address">
            <span class="address-info">{{ item[0].city}}, {{ item[0].state }} {{ item[0].zipCode }}</span>
            <a href="" class="direction">Get Direction <span>&#187;</span></a>
            <a href="" class="btn green-btn mobile-btn"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp; Call<span></span></a>
            <a href="" class="get-direction mobile-btn btn">Get Direction<span></span></a>
        </div>
        <div class="shift">
            <span>Mon - Fri  9 a.m. - 7 p.m.</span>
            <span>Sat 9:00 am-2:00pm</span>
        </div>
    </div>
    <div class="col-xs-7 company-contact">
        <ul class="company-info">
            <li><a href="//{{ item[0].website }}"><i class="fa fa-home" aria-hidden="true"></i><span>{{ item[0].website }}</span></a>
            </li>
            <li><a href="mailto:sonsnotebooks@yahoo.com"><i class="fa fa-envelope"
                                                            aria-hidden="true"></i><span>{{ item[0].email }}</span></a>
            </li>
            <li>
                <div class="dropdown filter-drop">
                    <i class="fa fa-phone" aria-hidden="true"></i>

                    <div class="select-container">
                        <select class="form-control select-control">
                            <option>phone number</option>
                            <option>NY</option>
                        </select>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 additional-info">
        <div class="icons">
            {% if (hasSubs(item[0], "CODE_PREMIUM_GOLD")) %}
                <a href=""><i class="photo"></i></a>
            {% endif %}
            {% if (hasSubs(item[0], "CODE_PREMIUM_PLATINUM")) %}
                <a href=""><i class="video"></i></a>
            {% endif %}
            {% if (hasSubs(item[0], "CODE_PRIORITY")) %}
                <a href=""><i class="ad"></i></a>
            {% endif %}
        </div>
        <div class="reviews">
            <div class="star-rating">
                <span class="fa fa-star-o" data-rating="1"></span>
                <span class="fa fa-star-o" data-rating="2"></span>
                <span class="fa fa-star-o" data-rating="3"></span>
                <span class="fa fa-star-o" data-rating="4"></span>
                <span class="fa fa-star-o" data-rating="5"></span>
                <input type="hidden" name="whatever" class="rating-value" value="3">
            </div>
            <span>16 Reviews</span>
        </div>
    </div>
    {% if (hasSubs(item[0], "CODE_PREMIUM_PLUS")) %}
        <div class="company-logo"><img src="http://placehold.it/120x120"></div>
    {% endif %}
</div>
