{% for key, image in images %}

    {% if image.vars.data.id is empty %}
        {% set id = 'media_' ~ image.vars.data.media.id %}
    {% else %}
        {% set id = image.vars.data.id %}
    {% endif %}

    <div class="media__item image-item" id="images-form-{{ image.vars.data.media.id }}">
        <div class="media__item--left">
            <div class="media__field media__thumbnail">
                {% thumbnail image.vars.data.media, 'preview' %}
            </div>
        </div>
        <!-- item__left -->

        <div class="media__item--right image-row">
            <div class="media__field">
                <div class="form__field">
                    {{ form_widget(image.type, {'id': 'domain_business_bundle_business_profile_form_type_images_' ~ key ~ '_type', 'full_name': 'domain_business_bundle_business_profile_form_type[images][' ~ key ~ '][type]' }) }}
                </div>
            </div>
            <!-- media__field -->
            <div class="media__field">
                <div class="form__field">
                    {{ form_label(image.description) }}
                    {{ form_widget(image.description, {'id': 'domain_business_bundle_business_profile_form_type_images_' ~ key ~ '_description', 'full_name': 'domain_business_bundle_business_profile_form_type[images][' ~ key ~ '][description]' }) }}
                </div>
            </div>
            <!-- media__field -->
            <div class="media__field remove">
                <button type="button" class="button button--text remove-image-link" data-id="{{ image.vars.data.media.id }}">
                    <i class="fa fa-remove"></i>
                    {% trans %}Remove{% endtrans %}
                </button>
            </div>
            {{ form_widget(image.media, {'id': 'domain_business_bundle_business_profile_form_type_images_' ~ key ~ '_media', 'full_name': 'domain_business_bundle_business_profile_form_type[images][' ~ key ~ '][media]' }) }}
        </div>
        <!-- item--right -->
    </div>
{% endfor %}