{% for key, image in images %}

    {% if image.vars.data.id is empty %}
        {% set id = 'media_' ~ image.vars.data.media.id %}
    {% else %}
        {% set id = key %}
    {% endif %}

    <div class="media__item image-item" id="images-form-{{ image.vars.data.media.id }}">
        <div class="media__item--left">
            <div class="media__field media__thumbnail">
                {% thumbnail image.vars.data.media, 'preview' %}
            </div>
        </div>
        <!-- item__left -->

        <div class="media__item--right image-row">
            <div class="media__field">
                <div class="form__field">
                    {% trans %}Photo{% endtrans %}
                </div>
            </div>
            <!-- media__field -->
            <div class="media__field">
                <div class="form__field">
                    {{ form_label(image.description) }}
                    {{ form_widget(image.description, {'id': 'domain_business_bundle_business_profile_form_type_images_' ~ id ~ '_description', 'full_name': 'domain_business_bundle_business_profile_form_type[images][' ~ id ~ '][description]' }) }}
                </div>
            </div>
            <!-- media__field -->
            <div class="media__field remove">
                <button type="button" class="button button--text remove-image-link" data-id="{{ image.vars.data.media.id }}">
                    <i class="fa fa-remove"></i>
                    {% trans %}Remove{% endtrans %}
                </button>
            </div>
            {{ form_widget(image.media, {'id': 'domain_business_bundle_business_profile_form_type_images_' ~ id ~ '_media', 'full_name': 'domain_business_bundle_business_profile_form_type[images][' ~ id ~ '][media]' }) }}
        </div>
        <!-- item--right -->
    </div>
{% endfor %}

{% if logo.vars.data %}
    <div class="media__item image-item image-form-logo" id="images-form-{{ logo.vars.data.id }}">
        <div class="media__item--left">
            <div class="media__field media__thumbnail">
                {% thumbnail logo.vars.data, 'preview' %}
            </div>
        </div>

        <div class="media__item--right image-row">
            <div class="media__field">
                <div class="form__field">
                    {% trans %}Logo{% endtrans %}
                </div>
            </div>
            <div class="media__field">
                <div class="form__field">
                    {{ form_widget(logo.id) }}
                </div>
            </div>
            <div class="media__field display-none">
                <div class="form__field">
                    {{ form_label(logo.name) }}
                    {{ form_widget(logo.name) }}
                </div>
            </div>
            <div class="media__field remove">
                <button type="button" class="button button--text remove-image-link" data-id="{{ logo.vars.data.id }}">
                    <i class="fa fa-remove"></i>
                    {% trans %}Remove{% endtrans %}
                </button>
            </div>
        </div>
    </div>
{% endif %}

{% if background.vars.data %}
    <div class="media__item image-item image-form-background" id="images-form-{{ background.vars.data.id }}">
        <div class="media__item--left">
            <div class="media__field media__thumbnail">
                {% thumbnail background.vars.data, 'preview' %}
            </div>
        </div>

        <div class="media__item--right image-row">
            <div class="media__field">
                <div class="form__field">
                    {% trans %}Background{% endtrans %}
                </div>
            </div>
            <div class="media__field">
                <div class="form__field">
                    {{ form_widget(background.id) }}
                </div>
            </div>
            <div class="media__field display-none">
                <div class="form__field">
                    {{ form_label(background.name) }}
                    {{ form_widget(background.name) }}
                </div>
            </div>
            <div class="media__field remove">
                <button type="button" class="button button--text remove-image-link" data-id="{{ background.vars.data.id }}">
                    <i class="fa fa-remove"></i>
                    {% trans %}Remove{% endtrans %}
                </button>
            </div>
        </div>
    </div>
{% endif %}
