<div class="sonata-ba-view">

    {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

    <table class="table table-bordered">
        <thead>
        <tr class="sonata-ba-view-title">
            <th colspan="2">
                {{ admin.trans(title) }}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="sonata-ba-view-container">
            <td>{{ admin.trans('Name') }}</td>
            <td>{{ business.getName() }}</td>
        </tr>
        <tr class="sonata-ba-view-container">
            <td>{{ admin.trans('Categories') }}</td>
            <td>
                {% for category in business.getCategories() %}
                    {{ category }}{% if not loop.last %},{% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr class="sonata-ba-view-container">
            <td>{{ admin.trans('Phone') }}</td>
            <td>
                {% for phone in business.getPhones() %}
                    {{ phone }}{% if not loop.last %},{% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr class="sonata-ba-view-container">
            <td>{{ admin.trans('Address') }}</td>
            <td>
                {{ business.getStreetAddress() }} {{ business.getStreetNumber() }},
                {{ business.getCity() }} {{ business.getZipCode() }},
                {{ business.getState() }} {{ business.getCountry() }}
            </td>
        </tr>
        <tr class="sonata-ba-view-container">
            <td>{{ admin.trans('Email') }}</td>
            <td>{{ business.getEmail() }}</td>
        </tr>
        <tr class="sonata-ba-view-container">
            <td>{{ admin.trans('Website') }}</td>
            <td>{{ business.getWebsite() }}</td>
        </tr>
        <tr class="sonata-ba-view-container">
            <td>{{ admin.trans('Social networks') }}</td>
            <td>
                {% if business.getTwitterURL() %}
                    {{ business.getTwitterURL() }}<br>
                {% endif %}
                {% if business.getFacebookURL() %}
                    {{ business.getFacebookURL() }}<br>
                {% endif %}
                {% if business.getGoogleURL() %}
                    {{ business.getGoogleURL() }}<br>
                {% endif %}
                {% if business.getYoutubeURL() %}
                    {{ business.getYoutubeURL() }}
                {% endif %}
            </td>
        </tr>
        <tr class="sonata-ba-view-container">
            <td>{{ admin.trans('Description') }}</td>
            <td>{{ business.getDescription() }}</td>
        </tr>
        <tr class="sonata-ba-view-container">
            <td>{{ admin.trans('Working Hours') }}</td>
            <td>{{ business.getWorkingHours() }}</td>
        </tr>
        <tr class="sonata-ba-view-container">
            <td>{{ admin.trans('Products') }}</td>
            <td>{{ business.getProduct() }}</td>
        </tr>
        <tr class="sonata-ba-view-container">
            <td>{{ admin.trans('Brands') }}</td>
            <td>{{ business.getBrands() }}</td>
        </tr>
        <tr class="sonata-ba-view-container">
            <td>{{ admin.trans('Payment methods') }}</td>
            <td>
                {% for paymentMethod in business.getPaymentMethods() %}
                    {{ paymentMethod }}{% if not loop.last %},{% endif %}
                {% endfor %}
            </td>
        </tr>
        {% if (object.type == constant('Domain\\BusinessBundle\\DBAL\\Types\\TaskType::TASK_PROFILE_CLOSE')) %}
            <tr class="sonata-ba-view-container">
                <td>{{ admin.trans('Subscription') }}</td>
                <td>{{ business.getSubscription().getSubscriptionPlan().getName()}}</td>
            </tr>
            <tr class="sonata-ba-view-container">
                <td>{{ admin.trans('Closure Reason') }}</td>
                <td>{{ object.getClosureReason() }}</td>
            </tr>
        {% endif %}
        {% if object.reviewer %}
            <tr class="sonata-ba-view-container">
                <td>{{ admin.trans('Submitted by') }}</td>
                <td>{{ object.reviewer.firstname }} {{ object.reviewer.lastname }}</td>
            </tr>
            <tr class="sonata-ba-view-container">
                <td>{{ admin.trans('Submitted on') }}</td>
                <td>{{ object.updatedAt|date(task_date_format) }}</td>
            </tr>
        {% endif %}
        {% if object.reviewer %}
        <tr class="sonata-ba-view-container">
            <td>{{ admin.trans('Profile') }}</td>
            <td>
                <a target="_blank" href="{{ absolute_url(path('domain_business_profile_view', { 'citySlug' : business.catalogLocality.slug, slug: business.slug })) }}">
                    {{ admin.trans('View') }}
                </a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
