<div class="sonata-ba-view">
    {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

    {% set data = object.getChangeSet().getEntries() %}

    <table class="table table-bordered">
        <thead>
        <tr class="sonata-ba-view-title">
            <th colspan="4">
                {{ admin.trans('Business Profile Changes') }}
            </th>
        </tr>
        <tr class="sonata-ba-view-title">
            <th>
                {{ admin.trans('Changed attribute') }}
            </th>
            <th>
                {{ admin.trans('Change action') }}
            </th>
            <th>
                {{ admin.trans('Old value') }}
            </th>
            <th>
                {{ admin.trans('New value') }}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            {% if row.fieldName == 'translations' %}
                {% set translations = get_business_profile_translation_changes(row.oldValue, row.newValue) %}

                {% if translations is not empty %}
                    <tr class="sonata-ba-view-container">
                        <td>{{ normalize_task_fieldname_label(row.fieldName) }}</td>
                        <td>{{ normalize_task_changeaction_label(row.action) }}</td>
                        <td>
                            {% for item in translations %}
                                {{ item.old }}<br/>
                            {% endfor %}
                        </td>
                        <td>
                            {% for item in translations %}
                                {{ item.new }}<br/>
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% elseif row.fieldName != 'latitude' and row.fieldName != 'longitude' and
                row.fieldName != 'seoTitle' and row.fieldName != 'seoDescription'
            %}
                <tr class="sonata-ba-view-container">
                    <td>{{ normalize_task_fieldname_label(row.fieldName) }}</td>

                    <td>{{ normalize_task_changeaction_label(row.action) }}</td>

                    {% if row.action == constant('Domain\\BusinessBundle\\Util\\ChangeSetCalculator::IMAGE_UPDATE')
                        or
                        row.action == constant('Domain\\BusinessBundle\\Util\\ChangeSetCalculator::PROPERTY_IMAGE_UPDATE') %}
                        {% set newData = get_business_profile_image_changes(row.newValue) %}
                        {% set changes = prepare_image_diff(newData) %}
                        <td>
                            {% for change in changes['old'] %}
                                {{ change }}
                            {% endfor %}
                        </td>
                        <td>
                            {% for change in changes['new'] %}
                                {{ change }}
                            {% endfor %}
                        </td>
                    {% elseif row.action == PROPERTY_IMAGE_PROPERTY_UPDATE %}
                        {# get view of BusinessGallery updated properties #}
                        {% set imageChanges = get_business_profile_image_property_changes(row.oldValue, row.newValue) %}
                        <td>
                            {% for item in imageChanges %}
                                {{ item.old }}<br/>
                            {% endfor %}
                        </td>
                        <td>
                            {% for item in imageChanges %}
                                {{ item.new }}<br/>
                            {% endfor %}
                        </td>
                    {% elseif row.action == constant('Domain\\BusinessBundle\\Util\\ChangeSetCalculator::VIDEO_ADD') %}
                        {% set changes = get_business_profile_image_changes(row.newValue) %}
                        <td></td>
                        <td>{{ changes.name }}</td>
                    {% elseif row.action == constant('Domain\\BusinessBundle\\Util\\ChangeSetCalculator::VIDEO_REMOVE') %}
                        {% set changes = get_business_profile_image_changes(row.oldValue) %}
                        <td>{{ changes.name }}</td>
                        <td></td>
                    {% elseif row.action == constant('Domain\\BusinessBundle\\Util\\ChangeSetCalculator::VIDEO_UPDATE') %}
                        {% set oldData = get_business_profile_image_changes(row.oldValue) %}
                        {% set newData = get_business_profile_image_changes(row.newValue) %}
                        {% if oldData != '' %}
                            <td>
                                {{ oldData.name }}
                            </td>
                            <td>
                                {{ newData.name }}
                            </td>
                        {% else %}
                            {% set changes = prepare_image_diff(newData) %}
                            <td>
                                {% for change in changes['old'] %}
                                    {{ change }}
                                {% endfor %}
                            </td>
                            <td>
                                {% for change in changes['new'] %}
                                    {{ change }}
                                {% endfor %}
                            </td>
                        {% endif %}
                    {% elseif row.action == constant('Domain\\BusinessBundle\\Util\\ChangeSetCalculator::IMAGE_REMOVE')
                        or
                        row.action == constant('Domain\\BusinessBundle\\Util\\ChangeSetCalculator::PROPERTY_IMAGE_REMOVE')
                     %}
                        {% set changes = get_business_profile_image_changes(row.oldValue) %}
                        <td> {{ changes.name }} </td>
                        <td>-</td>
                    {% elseif row.action == constant('Domain\\BusinessBundle\\Util\\ChangeSetCalculator::IMAGE_ADD')
                        or
                        row.action == constant('Domain\\BusinessBundle\\Util\\ChangeSetCalculator::PROPERTY_IMAGE_ADD')
                      %}
                        {% set changes = get_business_profile_image_changes(row.newValue) %}
                        <td>-</td>
                        <td> {{ changes.name }} </td>
                    {% else %}
                        <td>{{ get_business_profile_changes_string(row.oldValue) }}</td>
                        <td>{{ get_business_profile_changes_string(row.newValue) }}</td>
                    {% endif %}
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>