<div class="sonata-ba-view">
    {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

    {% set data = object.getChangeSet().getEntries() %}

    <table class="table table-bordered">
        <thead>
        <tr class="sonata-ba-view-title">
            <th colspan="4">
                {{ admin.trans('Business Profile Changes') }}
            </th>
        </tr>
        <tr class="sonata-ba-view-title">
            <th>
                {{ admin.trans('Changed attribute') }}
            </th>
            <th>
                {{ admin.trans('Change action') }}
            </th>
            <th>
                {{ admin.trans('Old value') }}
            </th>
            <th>
                {{ admin.trans('New value') }}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            {% if row.action == CHANGE_SET_TYPE.COMMON_PROPERTY and row.fieldName not in BUSINESS_PROFILE_FIELD %}
                <tr class="sonata-ba-view-container">
                    <td>{{ normalize_task_fieldname_label(row.fieldName)|trans }}</td>
                    <td>{{ normalize_task_changeaction_label(row.action) }}</td>

                    {% if row.fieldName == BUSINESS_PROFILE_FIELD_PANORAMA_ID %}
                        <td>{% include 'DomainBusinessBundle:TaskAdmin/fields:panorama_field.html.twig' with {panoramaId: row.oldValue} %}</td>
                        <td>{% include 'DomainBusinessBundle:TaskAdmin/fields:panorama_field.html.twig' with {panoramaId: row.newValue} %}</td>
                    {% else %}
                        <td>{{ row.oldValue }}</td>
                        <td>{{ row.newValue }}</td>
                    {% endif %}
                </tr>
            {% elseif row.action == CHANGE_SET_TYPE.TRANSLATION %}
                <tr class="sonata-ba-view-container">
                    <td>{{ normalize_task_fieldname_label(row.fieldName)|trans }}</td>
                    <td>{{ normalize_task_changeaction_label(row.action) }}</td>

                    {% set oldData = get_business_profile_translation_changes_string(row.oldValue) %}
                    {% set newData = get_business_profile_translation_changes_string(row.newValue) %}

                    {% if row.fieldName == BUSINESS_PROFILE_FIELD.DESCRIPTION %}
                        <td>
                            {% if oldData %}
                                {{ oldData.locale }}
                                <br/>
                                {{ get_wysiwyg_preview_block(row.fieldName ~ loop.index ~ 'old', oldData.value) }}
                                <br/>
                                {{ oldData.value }}
                            {% endif %}
                        </td>
                        <td>
                            {% if newData %}
                                {{ newData.locale }}
                                <br/>
                                {{ get_wysiwyg_preview_block(row.fieldName ~ loop.index ~ 'new', newData.value) }}
                                <br/>
                                {{ newData.value }}
                            {% endif %}
                        </td>
                    {% else %}
                        <td>{% if oldData %}{{ oldData.locale }} - {{ oldData.value }}{% endif %}</td>
                        <td>{% if newData %}{{ newData.locale }} - {{ newData.value }}{% endif %}</td>
                    {% endif %}
                </tr>
            {% elseif row.action == CHANGE_SET_TYPE.RELATION_MANY_TO_ONE %}
                <tr class="sonata-ba-view-container">
                    <td>{{ normalize_task_fieldname_label(row.fieldName)|trans }}</td>
                    <td>{{ normalize_task_changeaction_label(row.action) }}</td>
                    <td>{{ get_business_profile_many_to_one_relations_changes_string(row.oldValue) }}</td>
                    <td>{{ get_business_profile_many_to_one_relations_changes_string(row.newValue) }}</td>
                </tr>
            {% elseif row.action == CHANGE_SET_TYPE.RELATION_ONE_TO_MANY %}
                <tr class="sonata-ba-view-container">
                    <td>{{ normalize_task_fieldname_label(row.fieldName)|trans }}</td>
                    <td>{{ normalize_task_changeaction_label(row.action) }}</td>
                    <td>{{ get_business_profile_related_entity_changes_html(row.oldValue) }}</td>
                    <td>{{ get_business_profile_related_entity_changes_html(row.newValue) }}</td>
                </tr>
            {% elseif row.action == CHANGE_SET_TYPE.RELATION_MANY_TO_MANY %}
                <tr class="sonata-ba-view-container">
                    <td>{{ normalize_task_fieldname_label(row.fieldName)|trans }}</td>
                    <td>{{ normalize_task_changeaction_label(row.action) }}</td>
                    <td>{{ get_business_profile_changes_string(row.oldValue) }}</td>
                    <td>{{ get_business_profile_changes_string(row.newValue) }}</td>
                </tr>
            {% elseif row.action == CHANGE_SET_TYPE.MEDIA_RELATION_MANY_TO_ONE %}
                <tr class="sonata-ba-view-container">
                    <td>{{ normalize_task_fieldname_label(row.fieldName)|trans }}</td>
                    <td>{{ normalize_task_changeaction_label(row.action) }}</td>

                    {% set oldData = get_business_profile_media_changes(row.oldValue, row) %}
                    {% set newData = get_business_profile_media_changes(row.newValue, row) %}

                    <td>{{ render_task_media_link(oldData) }}</td>
                    <td>{{ render_task_media_link(newData) }}</td>
                </tr>
            {% elseif row.action == CHANGE_SET_TYPE.MEDIA_RELATION_ONE_TO_MANY %}
                <tr class="sonata-ba-view-container">
                    <td>{{ normalize_task_fieldname_label(row.fieldName)|trans }}</td>
                    <td>{{ normalize_task_changeaction_label(row.action) }}</td>

                    {% set oldData = get_business_profile_images_changes(row.oldValue, row) %}
                    {% set newData = get_business_profile_images_changes(row.newValue, row) %}

                    <td>{{ render_task_images_link(oldData) }}</td>
                    <td>{{ render_task_images_link(newData) }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
