{% extends "DomainSiteBundle:Layout:base.html.twig" %}

{% block breakcrumbs %} {% endblock %}

{% block header %}
    {{ parent() }}
    <div class="container">
        <div class="row profile-managment">
            <div class="col-xs-12">
                <div class="notice-block blue-c">Please note: changes will be applied after approval
                </div>
            </div>
             {% if businessProfile is defined %}
            <div class="menu-collapsed">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar-buttons" aria-expanded="false">
                        <div class="icons-bar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </div>
                        <span class="menu-label">{% trans %}Menu{% endtrans %}</span>
                    </button>
                </div>
                    <div class="collapse navbar-collapse" id="navbar-buttons">
                        <ul class="nav navbar-nav navbar-left buttons-block">
                            <li>
                                <a href="{{ path('domain_business_profile_view', { 'citySlug' : businessProfile.citySlug, slug: businessProfile.getSlug() }) }}"
                                   class="green-btn"
                                   target="_blank">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    <span>{% trans %}Profile{% endtrans %}</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.google.com/dfp/" class="green-btn" target="_blank">
                                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                    <span>{% trans %}Manage Ads{% endtrans %}</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('domain_business_reports_index', { businessProfileId: businessProfile.getId() }) }}" class="green-btn" target="_blank">
                                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                                    <span>{% trans %}Reports{% endtrans %}</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('domain_business_reviews_list', { businessProfileId: businessProfile.getId() }) }}" class="green-btn" target="_blank">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    <span>{% trans %}Reviews{% endtrans %}</span>
                                </a>
                            </li>
                            {% if app.security.token and is_granted('ROLE_CONTENT_MANAGER') %}
                                <li>
                                    <a href="{{ path('admin_domain_business_subscription_edit', { id: businessProfile.getId() }) }}" class="green-btn" target="_blank" >
                                        <i class="fa fa-tag" aria-hidden="true"></i>
                                        <span>{% trans %}Subscriptions{% endtrans %}</span>
                                    </a>
                                </li>
                                <li>
                                    {%
                                        set couponParams = {
                                            filter: {
                                                businessProfile: {
                                                    value: businessProfile.getId()
                                                },
                                                _page: 1,
                                                _per_page: 25
                                            }
                                        }
                                    %}
                                    <a href="{{ path('admin_domain_business_coupon_list', couponParams) }}" target="_blank" class="green-btn">
                                        <i class="fa fa-percent" aria-hidden="true"></i>
                                        <span>{% trans %}Discounts{% endtrans %}</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="#" class="green-btn" data-toggle="modal" data-target="#closeBusinessProfileModal">
                                    <i class="fa fa-close" aria-hidden="true"></i>
                                    <span>{% trans %}Close Profile{% endtrans %}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endif %}
            <div class="dropdown-col">
                {% if businessProfile is defined %}
                    <span class="language-content-label">Content:</span>
                    <div class="language-content">
                        <span>
                            <a href="#" class="language-selector" data-locale="en_US">{% trans %}Eng{% endtrans %}</a>
                        </span>
                        <span>
                            <a href="#" class="language-selector" data-locale="es">{% trans %}Esp{% endtrans %}</a>
                        </span>
                    </div>
                {% endif %}
            </div>
            <div class="col-xs-12 tabs-block-wrap">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabs-block">
                    <li class="active">
                        <a href="#general" aria-controls="general" role="tab"
                           data-toggle="tab">
                            {% trans %}General{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="#businessAddress" aria-controls="businessAddress" role="tab"
                           data-toggle="tab">
                            {% trans %}Business Address{% endtrans %}
                        </a>
                    </li>
                    {% if businessProfile is defined %}
                        {% if media_tab_allowed_for_business(businessProfile) %}
                            <li>
                                <a href="#media" aria-controls="media" role="tab"
                                   data-toggle="tab">
                                    {% trans %}Media{% endtrans %}
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li>
                        <a href="#socialNetworks" aria-controls="socialNetworks" role="tab"
                           data-toggle="tab">
                            {% trans %}Social Networks{% endtrans %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block main %}
    {% include 'DomainBusinessBundle:Profile:blocks/edit_form.html.twig' %}
{% endblock %}

{% block modals %}
    {{ parent() }}
    {% if closeBusinessProfileForm is defined %}
        {% include 'DomainBusinessBundle:Profile/modals:close_business_profile.html.twig' %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript" src="{{ asset('/assets/scripts/require.js')}}"></script>
    <script type="text/javascript">
        requirejs(['./{{ asset("/bundles/domainsite/scripts/common.js")}}'], function(common) {
            requirejs(['{{asset("/bundles/domainbusiness/scripts/modules/businessProfile.js")}}'], function(businessProfile) {
                var profile = new businessProfile();
            })
        })
    </script>
{% endblock%}
