{% extends 'DomainReportBundle:Admin/Default:list.html.twig' %}

{% block list_table %}

    {% if admin.viewsAndVisitorsData|length > 0 %}
        {% if admin.viewsAndVisitorsData.dates|length >= 1 %}
            <script src="{{ asset('bundles/domainreport/js/Chart.js') }}"></script>
            <div class="box box-primary">
                <canvas id="viewsAndVisitorsDataChart" width="400" height="70"></canvas>
            </div>
            <script>
                var ctx = document.getElementById("viewsAndVisitorsDataChart");
                var data = {
                    labels: {{ admin.viewsAndVisitorsData.dates|json_encode|raw }},
                    datasets: [
                        {
                            {% set lineColor = admin.colors[6] %}

                            label: "{{ "list.label_impressions"|trans({}, "AdminReportBundle") }}",
                            fill: false,
                            lineTension: 0.1,
                            backgroundColor: "{{ lineColor }}",
                            borderColor: "{{ lineColor }}",
                            borderCapStyle: 'butt',
                            borderDashOffset: 0.0,
                            borderJoinStyle: 'miter',
                            pointBorderColor: "{{ lineColor }}",
                            pointBackgroundColor: "#fff",
                            pointBorderWidth: 1,
                            pointHoverRadius: 3,
                            pointHoverBackgroundColor: "{{ lineColor }}",
                            pointHoverBorderColor: "{{ lineColor }}",
                            pointHoverBorderWidth: 2,
                            pointRadius: 1,
                            pointHitRadius: 10,
                            data: {{ admin.viewsAndVisitorsData.views|json_encode|raw }}
                        },
                        {
                            {% set lineColor = admin.colors[4] %}

                            label: "{{ "list.label_views"|trans({}, "AdminReportBundle") }}",
                            fill: false,
                            lineTension: 0.1,
                            backgroundColor: "{{ lineColor }}",
                            borderColor: "{{ lineColor }}",
                            borderCapStyle: 'butt',
                            borderDashOffset: 0.0,
                            borderJoinStyle: 'miter',
                            pointBorderColor: "{{ lineColor }}",
                            pointBackgroundColor: "#fff",
                            pointBorderWidth: 1,
                            pointHoverRadius: 3,
                            pointHoverBackgroundColor: "{{ lineColor }}",
                            pointHoverBorderColor: "{{ lineColor }}",
                            pointHoverBorderWidth: 2,
                            pointRadius: 1,
                            pointHitRadius: 10,
                            data: {{ admin.viewsAndVisitorsData.impressions|json_encode|raw }}
                        }
                    ]
                };
                var myLineChart = new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    min: 0,
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            </script>
        {% endif %}

        <div class="col-xs-12 col-md-12">
            <div class="box box-primary">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-striped">
                        {% block table_header %}
                            <thead>
                            <tr class="sonata-ba-list-field-header">
                                {% for key, item in admin.viewsAndVisitorsData.results|first %}
                                    <th class="sonata-ba-list-field-header-text ">
                                        {% if eventList[key] is defined %}
                                            {{ eventList[key]|trans }}
                                        {% else %}
                                            {{ key|trans }}
                                        {% endif %}
                                    </th>
                                {% endfor %}
                            </tr>
                            </thead>
                        {% endblock %}

                        {% block table_body %}
                            <tbody>
                            {% for row in admin.viewsAndVisitorsData.results %}
                                <tr>
                                    {% for item in row %}
                                        <td class="sonata-ba-list-field sonata-ba-list-field-string">
                                            {{ item }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% endblock %}

                        {% block table_footer %}
                            <tfoot>
                            <tr>
                                <th>{% trans %}interaction_report.total{% endtrans %}</th>
                                {% for key, item in admin.viewsAndVisitorsData.results|first %}
                                    {% if admin.viewsAndVisitorsData.total[key] is defined %}
                                        <th>{{ admin.viewsAndVisitorsData.total[key] }}</th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            </tfoot>
                        {% endblock %}
                    </table>

                    <div class="box-footer">
                        <div class="form-inline clearfix">
                            <div class="pull-left">
                                {% if admin.hasRoute('export') and admin.isGranted("EXPORT") and admin.getExportFormats()|length and admin.viewsAndVisitorsData|length > 0 %}
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            <i class="glyphicon glyphicon-export"></i>
                                            {{ "label_export_download"|trans({}, "SonataAdminBundle") }}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            {% for format in admin.getExportFormats() %}
                                                <li>
                                                    <a href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : format}) }}">
                                                        <i class="glyphicon glyphicon-download"></i>
                                                        {{ format|upper }}
                                                    </a>
                                                <li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div class="text-center">
                            <ul class="pagination"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="callout callout-info">
            {{ 'no_result'|trans({}, 'SonataAdminBundle') }}
        </div>
    {% endif %}

    {% block list_footer %}{% endblock %}
{% endblock %}



{% set showPagination = false %}

{% block pager_results %}
    {% if showPagination %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block pager_links %}
    {% if showPagination %}
        {{ parent() }}
    {% endif %}
{% endblock %}