{% extends 'OxaSonataAdminBundle:CRUD:show.html.twig' %}

{% block show %}
    <div class="sonata-ba-view">

        {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

        {% set has_tab = (admin.showtabs|length == 1 and admin.showtabs|keys[0] != 'default') or admin.showtabs|length > 1 %}

        {% if has_tab %}
            {% set tab_prefix = 'tab_' ~ admin.uniqid ~ '_' ~ random() %}
            {% set tab_query_index = app.request.query.get('_tab', 0)|split("_")|last %}
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs" role="tablist">
                    {% for name, show_tab in admin.showtabs %}
                        {% set _tab_name = tab_prefix ~ '_' ~ loop.index %}
                        <li{% if (not app.request.query.has('_tab') and loop.index == 1) or (tab_query_index == loop.index) %} class="active"{% endif %}>
                            <a href="#{{ _tab_name }}" class="changer-tab" aria-controls="{{ _tab_name }}" data-toggle="tab">
                                {{ show_tab.label|trans({}, show_tab.translation_domain ?: admin.translationDomain) }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="tab-content">
                    {% for code, show_tab in admin.showtabs %}
                        {% set _tab_name = tab_prefix ~ '_' ~ loop.index %}
                        <div
                                class="tab-pane fade{% if (not app.request.query.has('_tab') and loop.first) or (tab_query_index == loop.index) %} in active{% endif %}"
                                id="{{ _tab_name }}"
                        >
                            <div class="box-body  container-fluid">
                                <div class="sonata-ba-collapsed-fields">
                                    {% if show_tab.description != false %}
                                        <p>{{ show_tab.description|raw }}</p>
                                    {% endif %}

                                    {% set groups = show_tab.groups %}
                                    {{ block('show_groups') }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% elseif admin.showtabs is iterable %}
            {% set groups = admin.showtabs.default.groups %}
            {{ block('show_groups') }}
        {% endif %}

    </div>

    {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var uniqueId = '{{ admin.uniqid }}';
        var businessProfileId = '{{ admin.subject.id }}';
    </script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    {% include ':widgets:fos_js_routing.html.twig' %}
    <script type="text/javascript" src="{{ asset('bundles/domainbusiness/scripts/modules/reportsShowAdmin.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/domainbusiness/scripts/modules/reviewShowAdmin.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/domainsite/scripts/vendors/highcharts.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/domainbusiness/scripts/modules/tools/html2canvas.min.js')}}"></script>
{% endblock %}
