{% from ':widgets:url_item_rel_attributes_macros.html.twig' import relAttributes %}

{% if not item.phones.empty %}
    {% if item.mainPhone %}
        {% set phoneToCall = item.mainPhone.phone %}
    {% else %}
        {% set phoneToCall = item.phones.first.phone %}
    {% endif %}
    <a href="tel:{{ phoneToCall }}" data-bname="{{ item.name }}" class="button button--small button--featured hide-desktop phone-call buttons-width" data-id="{{ item.id }}" data-type="callMobButton" data-bw-gtm-event-click data-bw-gtm-label="{% trans %}ActionButtonCall{% endtrans %}">
        <i class="fa fa-phone wiggle"></i>
        <span>{% trans %}ActionButtonCall{% endtrans %}</span>
    </a>
{% endif %}
{% if not item.getHideAddress() %}
    <a data-bname="{{ item.name }}"
       class="get-dir redirect-event redirect-google-map button button--small button--featured link-pointer direction-button vertical-left-separator buttons-width"
       data-href="{{ path('domain_search_show_directions', { 'slug': item.getSlug() }) }}"
       data-id="{{ item.getId() }}" data-latlng="{{ item.getLatLng() }}" data-type="directionButton"
       data-bw-gtm-event-click data-bw-gtm-label="{% trans %}Directions{% endtrans %}" rel="nofollow">
        <i class="fa fa-location-arrow"></i>
        <span>{% trans %}Directions{% endtrans %}</span>
    </a>
{% endif %}
{% if item.actionUrlItem and item.actionUrlItem.url %}
    <a
            class="button button--small button--opentable redirect-event link-pointer vertical-left-separator buttons-width"
            data-href="{{ item.actionUrlItem.url }}"
            data-id="{{ item.id }}"
            data-type="webActionButton"
            data-bw-gtm-event-click
            data-bw-gtm-label="{{ item.actionUrlItem.url }}"
            rel="{{ relAttributes(item.actionUrlItem) }}"
    >
        {% if item.actionUrlType in BUSINESS_PROFILE.ACTION_TYPE %}
            {% set path = 'redesign/img/icons/' ~ item.actionUrlType ~ '.svg' %}

            <img src="{{ absolute_url(asset(path)) }}" alt="{{ item.actionUrlTypes[item.actionUrlType]|trans|purify }}">
        {% endif %}
        <span>{{ item.actionUrlTypes[item.actionUrlType]|trans|purify }}</span>
    </a>
{% endif %}
{% if hasSubscription(item, "CODE_PREMIUM_PLATINUM") and item.hasOwnersMessage() %}
    <a href="#" class="button button--small button--featured link-pointer vertical-left-separator buttons-width" data-show-modal-id="ownersMessageModal" data-bw-gtm-event-click data-bw-gtm-label="{% trans %}Message from the Owner{% endtrans %}">
        <i class="fa fa-video-camera"></i>
        <span>{% trans %}Message from the Owner{% endtrans %}</span>
    </a>
{% endif %}