{% if item.actionUrl %}
    <a class="button button--small button--opentable redirect-event link-pointer" data-href="{{ item.actionUrl }}" data-id="{{ item.id }}" data-type="webActionButton" data-bw-gtm-event-click data-bw-gtm-label="{{ item.actionUrl }}">
        {% if item.actionUrlType in BUSINESS_PROFILE.ACTION_TYPE %}
            {% set path = 'redesign/img/icons/' ~ item.actionUrlType ~ '.svg' %}

            <img src="{{ absolute_url(asset(path)) }}" alt="{{ item.actionUrlTypes[item.actionUrlType]|trans|purify }}">
        {% endif %}
        <span>{{ item.actionUrlTypes[item.actionUrlType]|trans|purify }}</span>
    </a>
{% endif %}
{% if not item.getHideAddress() %}
    <a class="get-dir button button--small button--featured link-pointer" data-id="{{ item.getId() }}" data-latlng="{{ item.getLatLng() }}" data-bw-gtm-event-click data-bw-gtm-label="Directions">
        <i class="fa fa-location-arrow"></i>
        <span>{% trans %}Directions{% endtrans %}</span>
    </a>
{% endif %}
{% if not item.phones.empty %}
    {% if item.mainPhone %}
        {% set phoneToCall = item.mainPhone.phone %}
    {% else %}
        {% set phoneToCall = item.phones.first.phone %}
    {% endif %}
    <a href="tel:{{ phoneToCall }}" class="button button--small button--featured hide-desktop phone-call" data-id="{{ item.id }}" data-type="callMobButton" data-bw-gtm-event-click data-bw-gtm-label="Call">
        <i class="fa fa-phone"></i>
        <span>{% trans %}Call{% endtrans %}</span>
    </a>
{% endif %}
{% if item.getWebsite() %}
    <a class="button button--small button--featured redirect-event link-pointer" data-href="{{ item.getWebsiteLink() }}" data-id="{{ item.id }}" data-type="webButton" data-bw-gtm-event-click data-bw-gtm-label="Web::{{ item.getWebsiteLink() }}">
        <i class="fa fa-external-link"></i>
        <span>{% trans %}Web{% endtrans %}</span>
    </a>
{% endif %}