{% for ratingName, rating in ratings %}
    {% if ratingName == RATING.TRIP_ADVISOR %}
        <div class="rating-trip-advisor">
            <h3>{{ rating.messages.rating }}</h3>
            <div><img src="{{ rating.data.rating_image_url }}">
                <a target="_blank"
                   href="{{ rating.data.web_url }}"><span>{{ rating.data.num_reviews }} {{ rating.messages.reviews }}</span></a>
            </div>
        </div>
    {% endif %}
    {% if ratingName == RATING.YELP %}
        <div class="rating-row rating-yelp">
            <div>{{ rating.message }}</div>
            <div class="rating-value">
                <span>{{ rating.data }}</span>
                <div class="star-ratings-sprite">
                    <span style="width: {{ rating.data / 5 * 100 }}%" class="star-ratings-sprite-rating"></span>
                </div>
            </div>
        </div>
    {% endif %}
    {% if ratingName == RATING.GOOGLE %}
        <div class="rating-row rating-google">
            <div>{{ rating.message }}</div>
            <div class="rating-value">
                <span>{{ rating.data }}</span>
                <div class="star-ratings-sprite">
                    <span style="width: {{ rating.data / 5 * 100 }}%" class="star-ratings-sprite-rating"></span>
                </div>
            </div>
        </div>
    {% endif %}
    {% if ratingName == 'rating_average' %}
        <div class="rating-row rating-average">
            <div>{{ rating.message }}</div>
            <div class="rating-value">
                <span>{{ rating.data }}</span>
                <div class="star-ratings-sprite">
                    <span style="width: {{ rating.data / 5 * 100 }}%" class="star-ratings-sprite-rating"></span>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}