{% from ':widgets:url_item_rel_attributes_macros.html.twig' import relAttributes %}

{% set socialLinksExists = (item.linkedInURLItem and item.linkedInURLItem.url)
    or (item.facebookURLItem and item.facebookURLItem.url)
    or (item.twitterURLItem and item.twitterURLItem.url)
    or (item.googleURLItem and item.googleURLItem.url)
    or (item.youtubeURLItem and item.youtubeURLItem.url)
    or (item.instagramURLItem and item.instagramURLItem.url)
    or (item.tripAdvisorURLItem and item.tripAdvisorURLItem.url)
%}

{% if socialLinksExists %}
    <div class="share" data-bw-gtm-component="social-buttons">
        {% if item.linkedInURLItem and item.linkedInURLItem.url %}
            <div class="share__item linked-in">
                <a
                        data-href="{{ item.linkedInURLItem.url }}"
                        class="redirect-event"
                        data-id="{{ item.id }}"
                        data-type="linkedInVisit"
                        title="{% trans %}Visit business profile on...{% endtrans %}"
                        data-bw-gtm-event-click
                        data-bw-gtm-label="linkedIn::{{ item.linkedInURLItem.url }}"
                        rel="{{ relAttributes(item.linkedInURLItem) }}"
                ><img class="social-icon" src="{{ asset('assets/images/icon_linkdn.png') }}"/></a>
            </div><!-- share__item -->
        {% endif %}
        {% if item.facebookURLItem and item.facebookURLItem.url %}
            <div class="share__item facebook">
                <a
                        data-href="{{ item.facebookURLItem.url }}"
                        class="redirect-event"
                        data-id="{{ item.id }}"
                        data-type="facebookVisit"
                        title="{% trans %}Visit business profile on...{% endtrans %}"
                        data-bw-gtm-event-click
                        data-bw-gtm-label="facebook::{{ item.facebookURLItem.url }}"
                        rel="{{ relAttributes(item.facebookURLItem) }}"
                ><img class="social-icon" src="{{ asset('assets/images/icon_facebook_58.png') }}"/></a>
            </div><!-- share__item -->
        {% endif %}
        {% if item.twitterURLItem and item.twitterURLItem.url %}
            <div class="share__item twitter">
                <a
                        data-href="{{ item.twitterURLItem.url }}"
                        class="redirect-event"
                        data-id="{{ item.id }}"
                        data-type="twitterVisit"
                        title="{% trans %}Visit business profile on...{% endtrans %}"
                        data-bw-gtm-event-click data-bw-gtm-label="twitter::{{ item.twitterURLItem.url }}"
                        rel="{{ relAttributes(item.twitterURLItem) }}"
                ><img class="social-icon" src="{{ asset('assets/images/icon_twitter.png') }}"/></a>
            </div><!-- share__item -->
        {% endif %}
        {% if item.googleURLItem and item.googleURLItem.url %}
            <div class="share__item google-plus">
                <a
                        data-href="{{ item.googleURLItem.url }}"
                        class="redirect-event"
                        data-id="{{ item.id }}"
                        data-type="googleVisit"
                        title="{% trans %}Visit business profile on...{% endtrans %}"
                        data-bw-gtm-event-click
                        data-bw-gtm-label="google-plus::{{ item.googleURLItem.url }}"
                        rel="{{ relAttributes(item.googleURLItem) }}"
                ><img class="social-icon" src="{{ asset('assets/images/icon_googlemybusiness.svg') }}"/></a>
            </div><!-- share__item -->
        {% endif %}
        {% if item.youtubeURLItem and item.youtubeURLItem.url %}
            <div class="share__item youtube">
                <a
                        data-href="{{ item.youtubeURLItem.url }}"
                        class="redirect-event"
                        data-id="{{ item.id }}"
                        data-type="youtubeVisit"
                        title="{% trans %}Visit business profile on...{% endtrans %}"
                        data-bw-gtm-event-click
                        data-bw-gtm-label="youtube::{{ item.youtubeURLItem.url }}"
                        rel="{{ relAttributes(item.youtubeURLItem) }}"
                ><img class="social-icon" src="{{ asset('assets/images/icon_youtube.png') }}"/></a>
            </div><!-- share__item -->
        {% endif %}
        {% if item.instagramURLItem and item.instagramURLItem.url %}
            <div class="share__item instagram">
                <a
                        data-href="{{ item.instagramURLItem.url }}"
                        class="redirect-event" data-id="{{ item.id }}"
                        data-type="instagramVisit"
                        title="{% trans %}Visit business profile on...{% endtrans %}"
                        data-bw-gtm-event-click
                        data-bw-gtm-label="instagram::{{ item.instagramURLItem.url }}"
                        rel="{{ relAttributes(item.instagramURLItem) }}"
                ><img class="social-icon" src="{{ asset('assets/images/icon_instagram.png') }}"/></a>
            </div><!-- share__item -->
        {% endif %}
        {% if item.tripAdvisorURLItem and item.tripAdvisorURLItem.url %}
            <div class="share__item tripadvisor">
                <a
                        data-href="{{ item.tripAdvisorURLItem.url }}"
                        class="redirect-event"
                        data-id="{{ item.id }}"
                        data-type="tripAdvisorVisit"
                        title="{% trans %}Visit business profile on...{% endtrans %}"
                        data-bw-gtm-event-click
                        data-bw-gtm-label="tripadvisor::{{ item.tripAdvisorURLItem.url }}"
                        rel="{{ relAttributes(item.tripAdvisorURLItem) }}"
                ><img class="social-icon" src="{{ asset('assets/images/icon_tripadvisor.png') }}"/></a>
            </div><!-- share__item -->
        {% endif %}
    </div>
{% endif %}