{% set socialLinksExists = item.linkedInURLItem or item.facebookURLItem or item.googleURLItem or item.twitterURLItem or item.youtubeURLItem or item.getInstagramURLItem or item.tripAdvisorURLItem %}

{% if socialLinksExists %}
    <div class="share" data-bw-gtm-component="social-buttons">
        {% if item.linkedInURLItem %}
            <div class="share__item linked-in">
                <a
                        data-href="{{ item.linkedInURLItem.url }}"
                        class="redirect-event"
                        data-id="{{ item.id }}"
                        data-type="linkedInVisit"
                        title="{% trans %}Visit business profile on...{% endtrans %}"
                        data-bw-gtm-event-click
                        data-bw-gtm-label="linkedIn::{{ item.linkedInURLItem.url }}"
                        rel="{% if item.linkedInURLItem.relNoFollow %}nofollow{% endif %} {% if item.linkedInURLItem.relNoOpener %}noopener{% endif %} {% if item.linkedInURLItem.relNoReferrer %}noreferrer{% endif %}"
                ><i class="fa fa-linkedin"></i></a>
            </div><!-- share__item -->
        {% endif %}
        {% if item.facebookURLItem %}
            <div class="share__item facebook">
                <a
                        data-href="{{ item.facebookURLItem.url }}"
                        class="redirect-event"
                        data-id="{{ item.id }}"
                        data-type="facebookVisit"
                        title="{% trans %}Visit business profile on...{% endtrans %}"
                        data-bw-gtm-event-click
                        data-bw-gtm-label="facebook::{{ item.facebookURLItem.url }}"
                        rel="{% if item.facebookURLItem.relNoFollow %}nofollow{% endif %} {% if item.facebookURLItem.relNoOpener %}noopener{% endif %} {% if item.facebookURLItem.relNoReferrer %}noreferrer{% endif %}"
                ><i class="fa fa-facebook"></i></a>
            </div><!-- share__item -->
        {% endif %}
        {% if item.twitterURLItem %}
            <div class="share__item twitter">
                <a
                        data-href="{{ item.twitterURLItem.url }}"
                        class="redirect-event"
                        data-id="{{ item.id }}"
                        data-type="twitterVisit"
                        title="{% trans %}Visit business profile on...{% endtrans %}"
                        data-bw-gtm-event-click data-bw-gtm-label="twitter::{{ item.twitterURLItem.url }}"
                        rel="{% if item.twitterURLItem.relNoFollow %}nofollow{% endif %} {% if item.twitterURLItem.relNoOpener %}noopener{% endif %} {% if item.twitterURLItem.relNoReferrer %}noreferrer{% endif %}"
                ><i class="fa fa-twitter"></i></a>
            </div><!-- share__item -->
        {% endif %}
        {% if item.googleURLItem %}
            <div class="share__item google-plus">
                <a
                        data-href="{{ item.googleURLItem.url }}"
                        class="redirect-event"
                        data-id="{{ item.id }}"
                        data-type="googleVisit"
                        title="{% trans %}Visit business profile on...{% endtrans %}"
                        data-bw-gtm-event-click
                        data-bw-gtm-label="google-plus::{{ item.googleURLItem.url }}"
                        rel="{% if item.googleURLItem.relNoFollow %}nofollow{% endif %} {% if item.googleURLItem.relNoOpener %}noopener{% endif %} {% if item.googleURLItem.relNoReferrer %}noreferrer{% endif %}"
                ><i class="fa fa-google-plus"></i></a>
            </div><!-- share__item -->
        {% endif %}
        {% if item.youtubeURLItem %}
            <div class="share__item youtube">
                <a
                        data-href="{{ item.youtubeURLItem.url }}"
                        class="redirect-event"
                        data-id="{{ item.id }}"
                        data-type="youtubeVisit"
                        title="{% trans %}Visit business profile on...{% endtrans %}"
                        data-bw-gtm-event-click
                        data-bw-gtm-label="youtube::{{ item.youtubeURLItem.url }}"
                        rel="{% if item.youtubeURLItem.relNoFollow %}nofollow{% endif %} {% if item.youtubeURLItem.relNoOpener %}noopener{% endif %} {% if item.youtubeURLItem.relNoReferrer %}noreferrer{% endif %}"
                ><i class="fa fa-youtube"></i></a>
            </div><!-- share__item -->
        {% endif %}
        {% if item.instagramURLItem %}
            <div class="share__item instagram">
                <a
                        data-href="{{ item.instagramURLItem.url }}"
                        class="redirect-event" data-id="{{ item.id }}"
                        data-type="instagramVisit"
                        title="{% trans %}Visit business profile on...{% endtrans %}"
                        data-bw-gtm-event-click
                        data-bw-gtm-label="instagram::{{ item.instagramURLItem.url }}"
                        rel="{% if item.instagramURLItem.relNoFollow %}nofollow{% endif %} {% if item.instagramURLItem.relNoOpener %}noopener{% endif %} {% if item.instagramURLItem.relNoReferrer %}noreferrer{% endif %}"
                ><i class="fa fa-instagram"></i></a>
            </div><!-- share__item -->
        {% endif %}
        {% if item.tripAdvisorURLItem %}
            <div class="share__item tripadvisor">
                <a
                        data-href="{{ item.tripAdvisorURLItem.url }}"
                        class="redirect-event"
                        data-id="{{ item.id }}"
                        data-type="tripAdvisorVisit"
                        title="{% trans %}Visit business profile on...{% endtrans %}"
                        data-bw-gtm-event-click
                        data-bw-gtm-label="tripadvisor::{{ item.tripAdvisorURL }}"
                        rel="{% if item.tripAdvisorURLItem.relNoFollow %}nofollow{% endif %} {% if item.tripAdvisorURLItem.relNoOpener %}noopener{% endif %} {% if item.tripAdvisorURLItem.relNoReferrer %}noreferrer{% endif %}"
                ><i class="fa fa-tripadvisor"></i></a>
            </div><!-- share__item -->
        {% endif %}
    </div>
{% endif %}