{% extends "DomainSiteBundle:Layout:base.html.twig" %}

{% block headerFilters %}
<!-- Filter -->
    <div class="container">
        <div class="row filters">
            <div class="col-md-8 filter-block">
                <a href="" data-toggle="modal"
                       data-target="#filterModal" class="filter-by"><i class="fa fa-filter" aria-hidden="true"></i><span>Filter by</span></a>

                <div class="dropdown category-drop">
                    <div class="select-container">
                        <select class="form-control select-control" id="category-select">
                            <option data-route="{{ path(app.request.get('_route'), app.request.query.all|slice(0, 2)) }}" value="" selected>Category</option>
                            {% if results.categories is not empty %}
                                {% for category in results.categories %}

                                    <option data-route="{{ path(app.request.get('_route'), app.request.query|merge({'category': category.getName() })) }}" value="{{ category.getName() }}">{{ category.getName() }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="dropdown category-drop">
                    <div class="select-container">
                        <select class="form-control select-control" id="neighborhood-select">
                            <option>Neighborhoods</option>
                            {% if results.neighborhoods is not empty %}
                                {% for neighborhood in results.neighborhoods %}

                                    <option data-route="{{ path(app.request.get('_route'), app.request.query|merge({'neighborhood': neighborhood.getName() })) }}" value="{{ neighborhood.getName() }}">{{ neighborhood.getName() }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4 tab-block">
                {% block tabMenu %}
                <ul class="tab-btn">
                    <li class="active"><a href="{{ path('domain_search_index', app.request.query.all) }}"><i class="fa fa-list" aria-hidden="true"></i><span>list</span></a>
                    </li>
                    <li><a href="{{ path('domain_search_map', app.request.query.all) }}"><i class="map-icon"></i><span>map</span></a></li>
                    <li><a href="{{ path('domain_search_compare', app.request.query.all) }}"><i class="compare-icon"></i><span>compare</span></a></li>
                </ul>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
