<div class="articles">
    {% for article in articles %}
        {% if loop.index % 4 == 1 %}
            <div class="row articles-block">
        {% endif %}
        {% if loop.index % 2 == 1 and isList is defined and isList %}
                <div class="col-md-6 articles-col">
                    <div class="articles">
        {% endif %}
                        <div class="col-xs-6 article">
                            <div class="article-pic"><a href="{{ path('domain_article_view', { 'slug' : article.getSlug() }) }}"><img src="{% path article.getImage(), 'homepage' %}"></a>
                            </div>
                            <div class="article-info">
                                <a href="{{ path('domain_article_view', { 'slug' : article.getSlug() }) }}" class="article-title blue-c">
                                    {{ article.getTitle() }}
                                </a>

                                <div class="article-area green-c">{{ article.getCategory().getName() }}</div>
                                <div class="article-text">
                                    {{ cut_body_extension(article.getBody()) }}
                                </div>
                            </div>
                        </div>
            {% if (loop.index % 2 == 0 or loop.last) and isList is defined and isList %}
                    </div>
                </div>
            {% endif %}
        {% if loop.index % 4 == 0 or loop.last %}
            </div>
        {% endif %}
    {% endfor %}
</div>
