<div class="col-md-6 menu-hexagon menu-desc">
    <ol class="even">
        <li class="r-hex">
            <div class="r-hex-inner"><a class="r-hex-inner-2 green-bk sol-icon" data-search="{{ menuItems[1].getcategory().getName() }}"><span>{{ menuItems[1].getcategory().getName() }}</span></a></div>
        </li>
        <li class="r-hex photo-hex">
            <div class="r-hex-inner"><a class="r-hex-inner-2 photo-bk-build" data-search="{{ menuItems[2].getcategory().getName() }}"><span>{{ menuItems[2].getcategory().getName() }}</span></a>
            </div>
        </li>
    </ol>
    <ol class="odd">
        <li class="r-hex photo-hex">
            <div class="r-hex-inner"><a class="r-hex-inner-2 photo-bk-pharma" data-search="{{ menuItems[3].getcategory().getName() }}"><span>{{ menuItems[3].getcategory().getName() }}</span></a></div>
        </li>
        <li class="r-hex">
            <div class="r-hex-inner"><a class="r-hex-inner-2 grey-bk el-icon" data-search="{{ menuItems[4].getcategory().getName() }}"><span>{{ menuItems[4].getcategory().getName() }}</span></a></div>
        </li>
        <li class="r-hex">
            <div class="r-hex-inner"><a class="r-hex-inner-2 blue-bk plum-icon" data-search="{{ menuItems[5].getcategory().getName() }}"><span>{{ menuItems[5].getcategory().getName() }}</span></a></div>
        </li>
    </ol>
    <ol class="odd">
        <li class="r-hex">
            <div class="r-hex-inner"><a class="r-hex-inner-2 blue-bk mech-icon" data-search="{{ menuItems[6].getcategory().getName() }}"><span>{{ menuItems[6].getcategory().getName() }}</span></a></div>
        </li>
        <li class="r-hex photo-hex">
            <div class="r-hex-inner"><a class="r-hex-inner-2 photo-bk-dent" data-search="{{ menuItems[7].getcategory().getName() }}"><span>{{ menuItems[7].getcategory().getName() }}</span></a></div>
        </li>
        <li class="r-hex">
            <div class="r-hex-inner"><a class="r-hex-inner-2 green-bk rest-icon" data-search="{{ menuItems[8].getcategory().getName() }}"><span>{{ menuItems[8].getcategory().getName() }}</span></a></div>
        </li>
    </ol>
    <ol class="odd">
        <li class="r-hex photo-hex">
            <div class="r-hex-inner"><a class="r-hex-inner-2 photo-bk-flor" data-search="{{ menuItems[9].getcategory().getName() }}"><span>{{ menuItems[9].getcategory().getName() }}</span></a></div>
        </li>
        <li class="r-hex">
            <div class="r-hex-inner"><a class="r-hex-inner-2 green-bk salon-icon" data-search="{{ menuItems[10].getcategory().getName() }}"><span>{{ menuItems[10].getcategory().getName() }}</span></a>
            </div>
        </li>
        <li class="r-hex photo-hex">
            <div class="r-hex-inner"><a class="r-hex-inner-2 photo-bk-hair" data-search="{{ menuItems[11].getcategory().getName() }}"><span>{{ menuItems[11].getcategory().getName() }}</span></a></div>
        </li>
        <li class="r-hex">
            <div class="r-hex-inner"><a class="r-hex-inner-2 blue-bk doc-icon" data-search="{{ menuItems[12].getcategory().getName() }}"><span>{{ menuItems[12].getcategory().getName() }}</span></a>
            </div>
        </li>
    </ol>
</div>
