{% extends "@SonataAdmin/CRUD/base_edit.html.twig" %}

{% block form %}
    {% if not form.vars.valid %}
        {% set htmlErrorToFlash = '<ul>' %}
        {% for item in form if not item.vars.valid %}
            {% set htmlErrorToFlash=htmlErrorToFlash~'<li>' %}
            {% set htmlErrorToFlash=htmlErrorToFlash~ item.vars.label|trans~': ' %}
            {% for e in item.vars.errors %}
                {% set htmlErrorToFlash=htmlErrorToFlash~e.message %}
            {% endfor %}
            {% set htmlErrorToFlash=htmlErrorToFlash~'</li>' %}
        {% endfor %}
        {% set htmlErrorToFlash=htmlErrorToFlash~'</ul>' %}
        <script type="text/javascript">
            $('.alert-danger').append('{{ htmlErrorToFlash|raw }}');
        </script>
    {% endif %}
    {{ block('parentForm') }}
{% endblock %}

{% block formactions %}
    <div class="well well-small form-actions">
        {% if app.request.isxmlhttprequest %}
            {% if admin.id(object) is not null %}
                <button type="submit" class="btn btn-success" name="btn_update"><i
                            class="fa fa-save"></i> {{ 'btn_update'|trans({}, 'SonataAdminBundle') }}</button>
            {% else %}
                <button type="submit" class="btn btn-success" name="btn_create"><i
                            class="fa fa-plus-circle"></i> {{ 'btn_create'|trans({}, 'SonataAdminBundle') }}</button>
            {% endif %}
        {% else %}
            {% if admin.supportsPreviewMode %}
                <button class="btn btn-info persist-preview" name="btn_preview" type="submit">
                    <i class="fa fa-eye"></i>
                    {{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}
                </button>
            {% endif %}
            {% if admin.id(object) is not null %}
                <button type="submit" class="btn btn-success" name="btn_update_and_edit"><i
                            class="fa fa-save"></i> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}
                </button>

                {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                    <button type="submit" class="btn btn-success" name="btn_update_and_list"><i class="fa fa-save"></i>
                        <i class="fa fa-list"></i> {{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}
                    </button>
                {% endif %}

                {% if admin.isAclEnabled() and admin.hasroute('acl') and admin.isGranted('MASTER', object) %}
                    <a class="btn btn-info" href="{{ admin.generateObjectUrl('acl', object) }}"><i
                                class="fa fa-users"></i> {{ 'link_edit_acl'|trans({}, 'SonataAdminBundle') }}</a>
                {% endif %}
            {% else %}
                {% if admin.hasroute('edit') and admin.isGranted('EDIT') %}
                    <button class="btn btn-success" type="submit" name="btn_create_and_edit"><i
                                class="fa fa-save"></i> {{ 'btn_create'|trans({}, 'SonataAdminBundle') }}</button>
                {% endif %}
                {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                    <button type="submit" class="btn btn-success" name="btn_create_and_list"><i class="fa fa-save"></i>
                        <i class="fa fa-list"></i> {{ 'btn_create_and_return_to_list'|trans({}, 'SonataAdminBundle') }}
                    </button>
                {% endif %}
                <button class="btn btn-success" type="submit" name="btn_create_and_create"><i class="fa fa-save"></i> <i
                            class="fa fa-plus-circle"></i> {{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}
                </button>
            {% endif %}
            <a class="btn btn-danger" style="float: right" href="{{ admin.generateUrl('list') }}"><i
                        class="fa fa-minus-circle"></i> {{ 'btn_cancel'|trans({}, 'ApplicationSonataAdminBundle') }}</a>
        {% endif %}
    </div>
{% endblock formactions %}

{% block nav_bar_right %}
    <li class="dropdown sonata-actions">
        {% if admin.hasRoute('list') and admin.isGranted('LIST') %}
            <a href="{{ admin.generateUrl('list') }}">
                <i class="fa fa-list"></i>
                {{ 'link_action_list'|trans({}, 'ApplicationSonataAdminBundle') }}
            </a>
        {% endif %}
    </li>
{% endblock %}