<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css', null, true) }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sonataadmin/vendor/admin-lte/dist/css/AdminLTE.min.css', null, true) }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/oxasonataadmin/css/admin.css', null, true) }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/oxasonataadmin/css/export.css', null, true) }}">
</head>
<div>
    <b>{{ businessProfile.name }}</b>,
    {{ 'now'|date(report_generated_datetime_format) }}
</div>

<br>

<div>{{ businessProfile.fullAddress }}</div>

<br>

<div class="box box-primary box-pdf">
    {% for image in charts %}
        <div class="{% if not loop.last %}page-break{% endif %} page-break-border">
            <img src="{{ image }}">
        </div>
    {% endfor %}
</div>
