<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css', null, true) }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sonataadmin/vendor/admin-lte/dist/css/AdminLTE.min.css', null, true) }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/oxasonataadmin/css/admin.css', null, true) }}">
</head>
<style>
    table, th, td {
        border: 1px solid black;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even){background-color: #f2f2f2}

    div.box.box-primary.box-pdf {
        display: block;
        clear: both;
        page-break-after: always;
    }
</style>
<div>
    <b>
        {{ businessProfile.getName() }}
    </b>,
    {{ "now"|date(report_generated_datetime_format) }}
</div>

<br>

<div>{{ businessProfile.getFullAddress() }}</div>

<br>

<div class="box box-primary box-pdf">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="sonata-ba-list-field-header">
                <th colspan="2" class="export-date-period">
                    {{ 'export.date_period'|trans({}, 'AdminReportBundle') }}
                </th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td class="sonata-ba-list-field sonata-ba-list-field-string">
                {{ 'export.start_date'|trans({}, 'AdminReportBundle') }}
            </td>
            <td class="sonata-ba-list-field sonata-ba-list-field-string">
                {{ 'export.end_date'|trans({}, 'AdminReportBundle') }}
            </td>
        </tr>
        <tr>
            <td class="sonata-ba-list-field sonata-ba-list-field-string">
                {{ interactionCurrentData.dates|first }}
            </td>
            <td class="sonata-ba-list-field sonata-ba-list-field-string">
                {{ interactionCurrentData.dates|last }}
            </td>
        </tr>
        </tbody>
    </table>
</div>

<br>

<div class="box box-primary box-pdf">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Impressions</th>
                <th>Views</th>
            </tr>
        </thead>
        <tbody>
            {% for i in 0..interactionCurrentData.results|length - 1 %}
                <tr>
                    <td>{{ interactionCurrentData.dates[i] }}</td>
                    <td>{{ interactionCurrentData.impressions[i] }}</td>
                    <td>{{ interactionCurrentData.views[i] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br>

<div class="box box-primary box-pdf">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Keyword</th>
                <th>Number of searches</th>
            </tr>
        </thead>
        <tbody>
            {% for keyword, searches in keywordsData.results %}
                <tr>
                    <td>{{ keyword|truncate(keyword_max_length) }}</td>
                    <td>{{ searches }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br>

<div class="box box-primary box-pdf">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Current Year</th>
                <th>Current Year Impressions</th>
                <th>Current Year Views</th>
                <th>Previous Year</th>
                <th>Previous Year Impressions</th>
                <th>Previous Year Views</th>
            </tr>
        </thead>
        <tbody>
            {% for i in 0..interactionCurrentYearData.dates|length - 1 %}
                <tr>
                    <td>{{ convert_monthly_formatted_date(interactionCurrentYearData.dates[i], monthly_report_date_format) }}</td>
                    <td>{{ interactionCurrentYearData.impressions[i] }}</td>
                    <td>{{ interactionCurrentYearData.views[i] }}</td>
                    <td>{{ convert_monthly_formatted_date(interactionPreviousYearData.dates[i], monthly_report_date_format) }}</td>
                    <td>{{ interactionPreviousYearData.impressions[i] }}</td>
                    <td>{{ interactionPreviousYearData.views[i] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br>

{% if businessProfile.dcOrderId %}
    <div class="box box-primary box-pdf">
        <table class="table table-bordered table-striped">
            <thead>
            <tr class="sonata-ba-list-field-header">
                <th>{% trans %}Date{% endtrans %}</th>
                <th>{% trans %}ad_usage_report.device_category{% endtrans %}</th>
                <th>{% trans %}ad_usage_report.clicks{% endtrans %}</th>
                <th>{% trans %}ad_usage_report.impressions{% endtrans %}</th>
                <th>{% trans %}ad_usage_report.ctr{% endtrans %}</th>
            </tr>
            </thead>

            <tbody>
            {% for key, date in adUsageData.dates %}
                {% for id, deviceCategory in adUsageData.deviceCategories %}
                    <tr>
                        {% for item in adUsageData.results[id][key] %}
                            <td>{{ item|trans }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <th>{% trans %}ad_usage_report.total{% endtrans %}</th>
                {% for item in adUsageData.total %}
                    <th>{{ item }}</th>
                {% endfor %}
                <th></th>
            </tr>
            </tfoot>
        </table>
    </div>

    <br>
{% endif %}

{% for page in paginatedInteractionData.results %}
    <div class="box box-primary box-pdf">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    {% for key, pageItem in page|first %}
                        <th>
                            {% if eventList[key] is defined %}
                                {{ eventList[key]|trans }}
                            {% else %}
                                {{ key|trans }}
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in page %}
                    <tr>
                        {% for item in row %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>{% trans %}interaction_report.total{% endtrans %}</th>
                    {% for key, item in page|first %}
                        {% if interactionCurrentData.total[key] is defined %}
                            <th>{{ interactionCurrentData.total[key] }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </tfoot>
        </table>
    </div>
    <br>
{% endfor %}
