<head>
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css')) }}">
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('bundles/sonataadmin/vendor/admin-lte/dist/css/AdminLTE.min.css')) }}">
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('bundles/oxasonataadmin/css/admin.css')) }}">
</head>

<style>
    table, th, td {
        border: 1px solid black;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even){background-color: #f2f2f2}

    div.box.box-primary.box-pdf {
        display: block;
        clear: both;
        page-break-after: always;
    }
</style>

<div>
    {{ 'export.title.category_report'|trans({}, 'AdminReportBundle') }},

    {{ "now"|date(report_generated_datetime_format) }}
</div>

<br>

<div class="box box-primary box-pdf">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="sonata-ba-list-field-header">
                <th colspan="2" class="export-date-period">
                    {{ 'export.date_period'|trans({}, 'AdminReportBundle') }}
                </th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td class="sonata-ba-list-field sonata-ba-list-field-string">
                {{ 'export.start_date'|trans({}, 'AdminReportBundle') }}
            </td>
            <td class="sonata-ba-list-field sonata-ba-list-field-string">
                {{ 'export.end_date'|trans({}, 'AdminReportBundle') }}
            </td>
        </tr>
        <tr>
            <td class="sonata-ba-list-field sonata-ba-list-field-string">
                {{ categoryData.dates.startDate|date(category_report_date_format) }}
            </td>
            <td class="sonata-ba-list-field sonata-ba-list-field-string">
                {{ categoryData.dates.endDate|date(category_report_date_format) }}
            </td>
        </tr>
        </tbody>
    </table>
</div>


<div class="box box-primary box-pdf">
    <table class="table table-bordered table-striped">
        <thead>
        <tr class="sonata-ba-list-field-header">
            <th>
                {% trans %}category_report.label{% endtrans %}
            </th>
            <th>
                {% trans %}interaction_report.event.impression{% endtrans %}
            </th>
            <th>
                {% trans %}interaction_report.button.call_mob{% endtrans %}
            </th>
            <th>
                {% trans %}interaction_report.button.direction{% endtrans %}
            </th>
            <th>
                {% trans %}category_report.counter{% endtrans %}
            </th>
            {% for area in areas %}
                <th>{{ area.name }}</th>
            {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for item in categoryData.results %}
            <tr>
                <td class="sonata-ba-list-field sonata-ba-list-field-string">
                    {{ item.name }}
                </td>
                <td class="sonata-ba-list-field sonata-ba-list-field-string">
                    {{ item.impressions }}
                </td>
                <td class="sonata-ba-list-field sonata-ba-list-field-string">
                    {{ item.callMobButton }}
                </td>
                <td class="sonata-ba-list-field sonata-ba-list-field-string">
                    {{ item.directionButton }}
                </td>
                <td class="sonata-ba-list-field sonata-ba-list-field-string">
                    {{ item.count }}
                </td>
                {% for area in areas %}
                    <td>{{ item[area.name] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
