{% extends "DomainSiteBundle:Layout:base.html.twig" %}

{% block breakcrumbs %}
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="crumbs">
                    <a href="{{ path('domain_site_home_index') }}">
                        {% trans %}Homepage{% endtrans %}
                        <span>&nbsp; » &nbsp; </span>
                    </a>
                    <span>
                        {% trans %}User profile{% endtrans %}
                    </span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block main %}
    <!-- User Profile -->
    <section id="profile-user" class="profile-manage profile-manage-general">
        <div class="container">
            <div class="row">
                <form class="form-horizontal general-manage" name="{{ profileForm.vars.name }}" id="userProfileForm">
                    <div id="spin-container" class="spinner-container"></div>
                    <div class="col-md-12">
                        <div class="cards">
                            <div class="form-group card-item">
                                <div class="card-item-name">
                                    <span>
                                        {% trans %}Personal Information{% endtrans %}
                                    </span>
                                </div>
                                <div class="col-xs-6 form-col">
                                    <div class="col-xs-4">
                                        <span>
                                            {{ form_label(profileForm.firstname) }}
                                            <i class="fa fa-asterisk" aria-hidden="true"></i>:
                                        </span>
                                    </div>
                                    <div class="col-xs-8">
                                        {{ form_widget(profileForm.firstname) }}
                                        <span class="help-block"></span>
                                    </div>
                                    <div class="col-xs-4">
                                        <span>
                                            {{ form_label(profileForm.lastname) }}
                                            <i class="fa fa-asterisk" aria-hidden="true"></i>:
                                        </span>
                                    </div>
                                    <div class="col-xs-8">
                                        {{ form_widget(profileForm.lastname) }}
                                        <span class="help-block"></span>
                                    </div>
                                    <div class="col-xs-4">
                                        <span>
                                            {% trans %}Password{% endtrans %}:
                                        </span>
                                    </div>
                                    <div class="col-xs-8">
                                        <a class="btn green-btn" href="#" data-dismiss="modal"
                                           data-toggle="modal" data-target="#updatePasswordModal">
                                            <i class="fa fa-exchange" aria-hidden="true"></i>
                                            {% trans %}Change Password{% endtrans %}
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6 form-col">
                                    <div class="col-xs-4">
                                        <span>
                                            {{ form_label(profileForm.location) }}:
                                        </span>
                                    </div>
                                    <div class="col-xs-8">
                                        {{ form_widget(profileForm.location) }}
                                        <span class="help-block"></span>
                                    </div>
                                    <div class="col-xs-4">
                                        <span>
                                            {{ form_label(profileForm.phone) }}:
                                        </span>
                                    </div>
                                    <div class="col-xs-8">
                                        {{ form_widget(profileForm.phone) }}
                                        <span class="help-block"></span>
                                    </div>
                                    <div class="col-xs-4">
                                        <span>
                                            {% trans %}Logout{% endtrans %}:
                                        </span>
                                    </div>
                                    <div class="col-xs-8">
                                        <a class="btn green-btn" href="{{ path('fos_user_security_logout') }}">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                                            {% trans %}Logout{% endtrans %}
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group card-item">
                                <div class="card-item-name">
                                    <span>Social Networks</span>
                                </div>
                                <div class="col-xs-6 form-col">
                                    <div class="col-xs-4">
                                        <span>
                                            {{ form_label(profileForm.twitterURL) }}:
                                        </span>
                                    </div>
                                    <div class="col-xs-8">
                                        {{ form_widget(profileForm.twitterURL) }}
                                        <span class="help-block"></span>
                                    </div>
                                    <div class="col-xs-4">
                                        <span>
                                            {{ form_label(profileForm.facebookURL) }}:
                                        </span>
                                    </div>
                                    <div class="col-xs-8">
                                        {{ form_widget(profileForm.facebookURL) }}
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="col-xs-6 form-col">
                                    <div class="col-xs-4">
                                        <span>
                                            {{ form_label(profileForm.googleURL) }}:
                                        </span>
                                    </div>
                                    <div class="col-xs-8">
                                        {{ form_widget(profileForm.googleURL) }}
                                        <span class="help-block"></span>
                                    </div>
                                    <div class="col-xs-4">
                                        <span>
                                            {{ form_label(profileForm.youtubeURL) }}:
                                        </span>
                                    </div>
                                    <div class="col-xs-8">
                                        {{ form_widget(profileForm.youtubeURL) }}
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group card-item titles-only">
                                <div class="card-item-name">
                                    <span>
                                        {% trans %}Reviews{% endtrans %}
                                    </span>
                                </div>
                                {% if userReviews|length > 0 %}
                                    {% set reviewsPerColumn = ((userReviews|length) / 2)|round %}

                                    {% for row in userReviews|batch(reviewsPerColumn) %}
                                        <div class="col-xs-6 form-col">
                                            {% for review in row %}
                                                <div class="col-xs-12">
                                                    <span>
                                                        <a href="{{ path('domain_business_profile_view', { 'citySlug' : review.business.getCitySlug(), slug: review.slug }) }}#reviews">
                                                            {{ review.business.name }}
                                                        </a>
                                                    </span>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="col-xs-12">
                                        <div class="alert alert-warning" role="alert">
                                            {% trans %}No reviews found.{% endtrans %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>

                            <div class="form-group card-item titles-only">
                                <div class="card-item-name">
                                    <span>
                                        {% trans %}My Business Profiles{% endtrans %}
                                    </span>
                                </div>
                                {% if userBusinessProfiles|length > 0 %}
                                    {% set businessesPerColumn = ((userBusinessProfiles|length) / 2)|round %}

                                    {% for row in userBusinessProfiles|batch(businessesPerColumn) %}
                                        <div class="col-xs-6 form-col">
                                            {% for business in row %}
                                                <div class="col-xs-12">
                                                    <span>
                                                        {% if business.getIsActive() and not business.isLocked() %}
                                                            <a href="{{ path('domain_business_profile_edit', {id: business.getId()}) }}">
                                                                {{ business.getName() }}
                                                            </a>
                                                        {% else %}
                                                            {% if not business.getIsClosed() %}
                                                                <a href="#">
                                                                    {{ business.getName() }} ({% trans %}Pending{% endtrans %})
                                                                </a>
                                                            {% endif %}
                                                        {% endif %}
                                                    </span>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="col-xs-12">
                                        <div class="alert alert-warning" role="alert">
                                            {% trans %}No business profiles found.{% endtrans %}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="col-xs-12">
                                    <a class="btn green-btn request" href="{{ path('domain_business_profile_create') }}">
                                        {% trans %}Request Business Profile{% endtrans %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-footer col-xs-12">
                        <div class="form-btn">
                            <button type="reset" class="btn btn-default grey-light-bk">
                                <i class="fa fa-times-circle" aria-hidden="true"></i>
                                {% trans %}Cancel{% endtrans %}
                            </button>
                            <button type="submit" class="btn green-btn" id="saveProfile">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                {% trans %}Save{% endtrans %}
                            </button>
                        </div>
                    </div>
                    {{ form_rest(profileForm) }}
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {{ parent() }}
    {% include 'DomainSiteBundle:User:modals/password_update.html.twig' with { 'passwordUpdateForm' : passwordUpdateForm} %}
{% endblock %}

{% block scripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/domainsite/scripts/require.js')}}"></script>
    <script type="text/javascript">
        requirejs(['./{{ asset("/bundles/domainsite/scripts/common.js")}}'], function(common) {
            requirejs(['{{asset("/bundles/domainsite/scripts/modules/tools/userProfile.js")}}'], function(userProfile) {
                var siteHomepage = new userProfile();
            })
        })
    </script>
{% endblock%}

