{% block field %}
    {% if object.id is not null %}
        <div class="total-block">
            <div class="form__section" id="{{ admin.uniqid }}_{{ field_description.name }}StatisticsContainer"></div>
        </div>

        <div class="chart-block">
            <div class="chart-container" id="{{ admin.uniqid }}_{{ field_description.name }}ChartContainer"></div>
        </div>

        <div class="hint-block">
            <div id="{{ admin.uniqid }}_{{ field_description.name }}ChartHintContainer"></div>
        </div>
        {% if field_description.name == 'keyword' %}
            <div class="form__section scrollable-table"
                 id="{{ admin.uniqid }}_{{ field_description.name }}StatisticsKeywordsContainer"></div>
        {% endif %}
    {% endif %}
{% endblock %}
