{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if object.id is not null %}
        <button type="button" data-format="{{ field_description.options.exportPdf }}" class="btn green-btn">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            PDF
        </button>
        <button type="button" data-route="{{ field_description.options.exportRoute }}" data-format="{{ field_description.options.exportExcel }}" data-export-type="export-excel" class="btn green-btn">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
            Excel
        </button>
        <button type="button" data-format="{{ field_description.options.exportPdf }}" data-export-type="print" class="btn green-btn">
            <i class="fa fa-print" aria-hidden="true"></i>
            Print
        </button>

        <form id="exportForm" class="hidden" action="{{ path('domain_business_admin_chart_reports_export') }}" method="post"></form>
    {% endif %}
{% endblock %}
