{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if object.id is not null %}
        <button type="button" data-route="{{ field_description.options.exportRoute }}" data-format="{{ field_description.options.exportPdf }}" data-export-type="export-pdf" class="btn green-btn">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            PDF
        </button>
        <button type="button" data-route="{{ field_description.options.exportRoute }}" data-format="{{ field_description.options.exportExcel }}" data-export-type="export-excel" class="btn green-btn">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
            Excel
        </button>
        <button type="button" data-route="{{ field_description.options.exportRoute }}" data-format="{{ field_description.options.exportPdf }}" data-export-type="print" class="btn green-btn">
            <i class="fa fa-print" aria-hidden="true"></i>
            Print
        </button>
        {% if admin.isGranted('EXPORT', object) and admin.hasRoute('exportPreview') %}
            <a href="{{ admin.generateObjectUrl('exportPreview', object) }}" class="button-a">
                <button type="button" class="btn green-btn">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    Custom PDF export
                </button>
            </a>
        {% endif %}
    {% endif %}
{% endblock %}
