{% if config(CONFIG.EMERGENCY_SITUATION_ON) and get_emergency_pop_up_allowed() %}
    <div id="emergency-pop-up" class="modal modal--login" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal__outside"></div>
        <div class="modal__content">
            <h2>{{ 'emergency.pop_up.title'|trans }}</h2>
            <div class="modal__section">
                <p>{{ 'emergency.pop_up.description'|trans }}:</p>
            </div>
            <div class="modal__section">
                <a href="{{ absolute_url(path('emergency_main')) }}" title="{{ 'emergency.pop_up.button'|trans }}" class="button button--login button--google">
                    <span>{{ 'emergency.pop_up.button'|trans }}</span>
                    <i class="fa fa-exclamation-triangle"></i>
                </a>
            </div>
            <button type="button" class="button--remove hide-modal"><i class="fa fa-remove"></i></button>
        </div>
    </div>
{% endif %}
