{% import '::widgets/custom_form_checkbox.html.twig' as custom_form_checkbox %}
{% import '::widgets/custom_form_label.html.twig' as custom_form_label %}

<section id="business-address" class="profile-manage profile-manage-general">
    <div class="container general-manage business-address-manage">
        <div class="row">
            <div class="col-md-12 business-container">
                <div class="cards">
                    <div class="form-group card-item">
                        <div class="card-item-name">
                            <span>
                                {% trans %}Service Areas{% endtrans %}
                            </span>
                        </div>
                        <div class="col-xs-6 form-col">
                            {% for key, serviceType in businessProfileForm.serviceAreasType.children %}
                                <div class="radio-row col-xs-12">
                                    <label class="control-label">{{ serviceType.vars.label|trans }}:</label>
                                    {{ form_widget(serviceType) }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-xs-6 form-col">
                            <div class="col-xs-4">
                                <span class="miles-of-business">
                                    {{ custom_form_label.widget(businessProfileForm.milesOfMyBusiness) }}
                                </span>
                            </div>
                            <div class="col-xs-8">
                                {{ form_widget(businessProfileForm.milesOfMyBusiness) }}
                                <span class="help-block"></span>
                            </div>
                            <div class="col-xs-4">
                                <span>
                                     {{ custom_form_label.widget(businessProfileForm.localities) }}
                                </span>
                            </div>
                            <div class="col-xs-8">
                                <div class="dropdown">
                                    <div class="select-container">
                                        {{ form_widget(businessProfileForm.localities, {'attr': {'data-placeholder': attribute(businessProfileForm.children.localities.vars.attr, 'data-placeholder')|trans } }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <span>
                                     {{ custom_form_label.widget(businessProfileForm.neighborhoods) }}
                                </span>
                            </div>
                            <div class="col-xs-8">
                                <div class="dropdown">
                                    <div class="select-container">
                                        {{ form_widget(businessProfileForm.neighborhoods, {'attr': {'data-placeholder': attribute(businessProfileForm.children.neighborhoods.vars.attr, 'data-placeholder')|trans } }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group card-item business-info">
                        <div class="card-item-name">
                            <span>{% trans %}Address{% endtrans %}</span>
                        </div>
                        <div class="col-xs-6 form-col">
                            <div class="col-xs-4">
                                {{ custom_form_label.widget(businessProfileForm.streetAddress) }}
                            </div>
                            <div class="col-xs-8">
                                {{ form_widget(businessProfileForm.streetAddress) }}
                                <span class="help-block"></span>
                            </div>
                            <div class="col-xs-4">
                                {{ custom_form_label.widget(businessProfileForm.country) }}
                            </div>
                            <div class="col-xs-8">
                                <div class="dropdown">
                                    <div class="select-container">
                                        {{ form_widget(businessProfileForm.country, {'attr': {'data-placeholder': attribute(businessProfileForm.children.country.vars.attr, 'data-placeholder')|trans } }) }}
                                    </div>
                                </div>
                                <span class="help-block"></span>
                            </div>
                            <div class="col-xs-4">
                                {{ custom_form_label.widget(businessProfileForm.state) }}
                            </div>
                            <div class="col-xs-8">
                                {{ form_widget(businessProfileForm.state) }}
                                <span class="help-block"></span>
                            </div>
                            <div class="col-xs-4">
                                {{ custom_form_label.widget(businessProfileForm.catalogLocality) }}
                            </div>
                            <div class="col-xs-8">
                                <div class="dropdown">
                                    <div class="select-container">
                                        {{ form_widget(businessProfileForm.catalogLocality, {'attr': {'data-placeholder': attribute(businessProfileForm.children.catalogLocality.vars.attr, 'data-placeholder')|trans } }) }}
                                    </div>
                                </div>
                                <span class="help-block"></span>
                            </div>
                            <div class="col-xs-4">
                                {{ custom_form_label.widget(businessProfileForm.city) }}
                            </div>
                            <div class="col-xs-8">
                                {{ form_widget(businessProfileForm.city) }}
                                <span class="help-block"></span>
                            </div>
                            <div class="col-xs-4">
                                {{ custom_form_label.widget(businessProfileForm.zipCode) }}
                            </div>
                            <div class="col-xs-8">
                                {{ form_widget(businessProfileForm.zipCode) }}
                                <span class="help-block"></span>
                            </div>
                            <div class="col-xs-4">
                                {{ custom_form_label.widget(businessProfileForm.extendedAddress) }}
                            </div>
                            <div class="col-xs-8">
                                {{ form_widget(businessProfileForm.extendedAddress) }}
                                <span class="help-block"></span>
                            </div>
                            <div class="col-xs-4">
                                {{ custom_form_label.widget(businessProfileForm.crossStreet) }}
                            </div>
                            <div class="col-xs-8">
                                {{ form_widget(businessProfileForm.crossStreet) }}
                                <span class="help-block"></span>
                            </div>
                            <div class="col-xs-4">
                                {{ custom_form_label.widget(businessProfileForm.customAddress) }}
                            </div>
                            <div class="col-xs-8">
                                {{ form_widget(businessProfileForm.customAddress) }}
                                <span class="help-block"></span>
                            </div>
                            <div class="col-xs-4">
                                {{ custom_form_label.widget(businessProfileForm.hideAddress) }}
                            </div>
                            <div class="col-xs-8">
                                {{ form_widget(businessProfileForm.hideAddress) }}
                            </div>
                        </div>
                        <div class="col-xs-6 form-col">
                            <div class="col-xs-4">
                                <span>{% trans %}Map{% endtrans %}:</span>
                            </div>
                            <div class="col-xs-8 business-map">
                                {{ form_widget(businessProfileForm.map) }}
                            </div>
                            <div class="col-xs-4">
                                {{ custom_form_label.widget(businessProfileForm.latitude) }}
                            </div>
                            <div class="col-xs-8">
                                {{ form_widget(businessProfileForm.latitude) }}
                            </div>
                            <div class="col-xs-4">
                                {{ custom_form_label.widget(businessProfileForm.longitude) }}
                            </div>
                            <div class="col-xs-8">
                                {{ form_widget(businessProfileForm.longitude) }}
                                <a href="#" class="btn green-btn geo-btn" id="geocodeButton">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    {% trans %}Geocode{% endtrans %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'DomainBusinessBundle:Profile:blocks/form_footer.html.twig' %}
        </div>
    </div>
</section>
