{% import '::widgets/custom_form_label.html.twig' as custom_form_label %}

<section id="social-networks" class="profile-manage profile-manage-general">
    <div class="container general-manage">
        <div class="row">
            <div class="col-md-12 business-container">
                <div class="cards">
                    <div class="form-group card-item">
                        <div class="card-item-name">
                            <span>Social Networks</span>
                        </div>
                        <div class="col-xs-6 form-col">
                            <div class="col-xs-4">
                                <span>
                                    {{ custom_form_label.widget(businessProfileForm.facebookURL) }}
                                </span>
                            </div>
                            <div class="col-xs-8">
                                {{ form_widget(businessProfileForm.facebookURL) }}
                                <span class="help-block"></span>
                            </div>
                            <div class="col-xs-4">
                                <span>
                                    {{ custom_form_label.widget(businessProfileForm.twitterURL) }}
                                </span>
                            </div>
                            <div class="col-xs-8">
                                {{ form_widget(businessProfileForm.twitterURL) }}
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="col-xs-6 form-col">
                            <div class="col-xs-4">
                                <span>
                                    {{ custom_form_label.widget(businessProfileForm.googleURL) }}
                                </span>
                            </div>
                            <div class="col-xs-8">
                                {{ form_widget(businessProfileForm.googleURL) }}
                                <span class="help-block"></span>
                            </div>
                            <div class="col-xs-4">
                                <span>
                                    {{ custom_form_label.widget(businessProfileForm.youtubeURL) }}
                                </span>
                            </div>
                            <div class="col-xs-8">
                                {{ form_widget(businessProfileForm.youtubeURL) }}
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div style="display:none;">
                            {{ form_rest(businessProfileForm) }}
                        </div>
                    </div>
                </div>
            </div>
            {% include 'DomainBusinessBundle:Profile:blocks/form_footer.html.twig' %}
        </div>
    </div>
</section>