{% extends "DomainSiteBundle:Layout:base.html.twig" %}

{% block breakcrumbs %}
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="crumbs">
                    <a href="{{ path('domain_site_home_index') }}">
                        Home
                        <span>&nbsp; &raquo;</span>
                    </a>
                    &nbsp;
                    <a href="{{ path('domain_article_homepage') }}">
                        Articles
                        <span>&nbsp; &raquo;</span>
                    </a>
                    &nbsp;
                    <a href="{{ path('domain_article_category', {'categorySlug': article.getCategory().getSlug()}) }}">
                        {{ article.getCategory().getName() }}
                        <span>&nbsp; &raquo;</span>
                    </a>
                    &nbsp;
                    <span>{{ article.title }}</span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block main %}
    <section id="article">
        <div class="container">
            <div class="col-xs-12 article">
                <div class="article-title">{{ article.getTitle() }}</div>
                <div class="article-pic"><img src="{% path article.getImage(), 'homepage' %}"></div>
                <div class="article-info">
                    <div class="article-area green-c">{{ article.getCategory().getName() }}</div>
                    <div class="article-text">
                        {{ article.getBody()|raw }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}