<div class="col-xs-4">
    <span>{% trans %}Primary{% endtrans %}:</span>
    {{ form_widget(image.media) }}
</div>
<div class="col-xs-8">
    {{ form_widget(image.isPrimary) }}
</div>
<div class="col-xs-4">
    <span>{% trans %}Type{% endtrans %}:</span>
</div>
<div class="col-xs-8">
    {% for group_label, imgType in image.type %}
        {{ form_widget(imgType) }} {{ form_label(imgType) }}
        <br />
    {% endfor %}
</div>
<div class="col-xs-4">
    <span>{% trans %}Description{% endtrans %}:</span>
</div>
<div class="col-xs-8">
    {{ form_widget(image.description) }}
</div>
<br />
<div class="col-xs-4">
    <a href="#" class="remove-image-link" data-id="{{ image.vars.data.media.id }}">Remove</a>
</div>
