<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title></title>
</head>
<body style="-moz-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-webkit-text-size-adjust:100%;margin:0;background:#fff!important;box-sizing:border-box;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;min-width:100%;padding:0;text-align:left;width:100%!important;">
<style>
    @media only screen {
        html {
            min-height: 100%;
            background: #f3f3f3;
        }
    }

    @media only screen and (max-width: 596px) {
        table.body img {
            width: auto;
            height: auto;
        }

        table.body center {
            min-width: 0 !important;
        }

        table.body .container {
            width: 95% !important;
        }

        table.body, table.body .columns {
            height: auto !important;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding-left: 16px !important;
            padding-right: 16px !important;
        }

        table.body, table.body .columns, table.body .columns, table.body .columns .columns {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        table.body, table.body .collapse .columns {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        td.small-12, th.small-12 {
            display: inline-block !important;
            width: 100% !important;
        }

        td.small-12, th.small-12, .columns td.small-12, .columns th.small-12 {
            display: block !important;
            width: 100% !important;
        }

        table.menu {
            width: 100% !important
        }

        table.menu td, table.menu th {
            width: auto !important;
            display: inline-block !important
        }

        table.menu[align=center] {
            width: auto !important
        }
    }
</style>
<table class="body" data-made-with-foundation=""
       style="margin:0;background:#fff!important;border-collapse:collapse;border-spacing:0;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;height:100%;line-height:1.3;padding:0;text-align:left;vertical-align:top;width:100%;">
    <tbody>
    <tr style="padding:0;text-align:left;vertical-align:top;">
        <td align="center" valign="top"
            style="-moz-hyphens:auto;-webkit-hyphens:auto;margin:0 auto;border-collapse:collapse!important;color:#0a0a0a;float:none;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;padding:0;text-align:center;vertical-align:top;word-wrap:break-word;">
            <center data-parsed="" style="min-width:580px;width:100%;">
                <table  
                       style="margin:0 auto;border-collapse:collapse;border-spacing:0;float:none;padding:0;text-align:center;vertical-align:top;width:100%;">
                    <tbody>
                    <tr style="padding:0;text-align:left;vertical-align:top;">
                        <td height="16px"
                            style="-moz-hyphens:auto;-webkit-hyphens:auto;margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:16px;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;"></td>
                    </tr>
                    </tbody>
                </table>
                <table align="center" class="container"
                       style="margin:0 auto;background:#192f4d;border-collapse:collapse;border-spacing:0;float:none;padding:0;text-align:center;vertical-align:top;width:580px;">
                    <tbody>
                    <tr style="padding:0;text-align:left;vertical-align:top;">
                        <td style="-moz-hyphens:auto;-webkit-hyphens:auto;margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;">
                            <table style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%;">
                                <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top;">
                                    <th class="small-12 columns"
                                        style="margin:0 auto;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:564px;">
                                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%;">
                                            <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top;">
                                                <th style="margin:0;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;padding:0;text-align:left;">
                                                    <br>
                                                    <center data-parsed="" style="min-width:532px;width:100%;"><img
                                                                src="{{ absolute_url('/assets/email-images/logo-full.jpg') }}"
                                                                align="center"
                                                                 
                                                                style="-ms-interpolation-mode:bicubic;margin:0 auto;clear:both;display:block;float:none;max-width:100%;outline:0;text-align:center;text-decoration:none;width:auto;">
                                                    </center>
                                                </th>
                                                <th style="margin:0;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;padding:0!important;text-align:left;visibility:hidden;width:0;"></th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table align="center"
                       background="{{ absolute_url('/assets/email-images/bg-header.jpg') }}"
                       class="container"
                       style="margin:0 auto;border-collapse:collapse;border-spacing:0;float:none;padding:0;text-align:center;vertical-align:top;width:580px;">
                    <tbody>
                    <tr style="padding:0;text-align:left;vertical-align:top;">
                        <td style="-moz-hyphens:auto;-webkit-hyphens:auto;margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;">
                            <table style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%;">
                                <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top;">
                                    <th class="small-12 columns"
                                        style="margin:0 auto;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:564px;">
                                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%;">
                                            <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top;">
                                                <th style="margin:0;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;padding:0;text-align:left;">
                                                    <h1 style="color:#fff;font-family:Roboto,sans-serif;font-size:34px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:50px 10px;text-align:center;word-wrap:normal;">
                                                        {{ subject|purify }}
                                                    </h1>
                                                </th>
                                                <th style="margin:0;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;padding:0!important;text-align:left;visibility:hidden;width:0;"></th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table align="center" class="container"
                       style="margin:0 auto;border-collapse:collapse;border-spacing:0;float:none;padding:0;text-align:center;vertical-align:top;width:580px;">
                    <tbody>
                    <tr style="padding:0;text-align:left;vertical-align:top;">
                        <td style="-moz-hyphens:auto;-webkit-hyphens:auto;margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;">
                            <table style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%;">
                                <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top;">
                                    <th class="small-12 columns"
                                        style="margin:0 auto;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:564px;">
                                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%;">
                                            <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top;">
                                                <th style="margin:0;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;padding:0;text-align:left;">
                                                    <table
                                                            style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%;">
                                                        <tbody>
                                                        <tr style="padding:0;text-align:left;vertical-align:top;">
                                                            <td height="32px"
                                                                style="-moz-hyphens:auto;-webkit-hyphens:auto;margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:32px;font-weight:400;hyphens:auto;line-height:32px;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    {{ content|purify }}
                                                    <table
                                                            style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%;">
                                                        <tbody>
                                                        <tr style="padding:0;text-align:left;vertical-align:top;">
                                                            <td height="15px"
                                                                style="-moz-hyphens:auto;-webkit-hyphens:auto;margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:15px;font-weight:400;hyphens:auto;line-height:15px;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </th>
                                                <th style="margin:0;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;padding:0!important;text-align:left;visibility:hidden;width:0;"></th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table align="center" class="container"
                       style="margin:0 auto;border-collapse:collapse;border-spacing:0;float:none;padding:0;text-align:center;vertical-align:top;width:580px;">
                    <tbody>
                    <tr style="padding:0;text-align:left;vertical-align:top;">
                        <td style="-moz-hyphens:auto;-webkit-hyphens:auto;margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;">
                            <table
                                    style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%;">
                                <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top;">
                                    <th class="small-12 columns"
                                        style="margin:0 auto;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:564px;">
                                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%;">
                                            <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top;">
                                                <th style="margin:0;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;padding:0;text-align:left;">
                                                    <center data-parsed="" style="min-width:532px;width:100%;"><a
                                                                href="https://infopaginasmedia.com"
                                                                style="margin:0;color:#2199e8;font-family:Roboto,sans-serif;font-weight:400;line-height:1.3;padding:0;text-align:left;text-decoration:none;"><img
                                                                    src="{{ absolute_url('/assets/email-images/img-learnmore.jpg') }}"
                                                                    align="center"
                                                                     
                                                                    style="-ms-interpolation-mode:bicubic;margin:0 auto;border:none;clear:both;display:block;float:none;max-width:100%;outline:0;text-align:center;text-decoration:none;width:auto;"></a>
                                                    </center>
                                                </th>
                                                <th style="margin:0;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;padding:0!important;text-align:left;visibility:hidden;width:0;"></th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table align="center" class="container"
                       style="margin:0 auto;background:#192f4d;border-collapse:collapse;border-spacing:0;padding:0;text-align:inherit;vertical-align:top;width:580px;">
                    <tbody>
                    <tr style="padding:0;text-align:left;vertical-align:top;">
                        <th class="small-12 columns"
                            style="margin:0 auto;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:564px;">
                            <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%;">
                                <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top;">
                                    <th style="margin:0;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;padding:0;text-align:left;">
                                        <table
                                                style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%;">
                                            <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top;">
                                                <td height="16px"
                                                    style="-moz-hyphens:auto;-webkit-hyphens:auto;margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:16px;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table
                                                style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%;">
                                            <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top;">
                                                <td height="16px"
                                                    style="-moz-hyphens:auto;-webkit-hyphens:auto;margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:16px;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <center data-parsed="" style="min-width:532px;width:100%;"><img
                                                    src="{{ absolute_url('/assets/email-images/logo-icon.jpg') }}"
                                                    align="center"  
                                                    style="-ms-interpolation-mode:bicubic;margin:0 auto;clear:both;display:block;float:none;max-width:100%;outline:0;text-align:center;text-decoration:none;width:auto;">
                                        </center>
                                        <table
                                                style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%;">
                                            <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top;">
                                                <td height="10px"
                                                    style="-moz-hyphens:auto;-webkit-hyphens:auto;margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:10px;font-weight:400;hyphens:auto;line-height:10px;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <p style="margin:0;color:#fff;font-family:Roboto,sans-serif;font-size:80%;font-weight:400;line-height:1.3;margin-bottom:10px;padding:0;text-align:center;">
                                            90 Calle San Martin<br>Rodval Bldg. Suite 201<br>Guaynabo, PR</p>
                                        <center data-parsed="" style="min-width:532px;width:100%;">
                                            <table align="center" class="menu"
                                                   style="margin:0 auto;border-collapse:collapse;border-spacing:0;float:none;padding:0;text-align:center;vertical-align:top;width:auto!important;">
                                                <tbody>
                                                <tr style="padding:0;text-align:left;vertical-align:top;">
                                                    <td style="-moz-hyphens:auto;-webkit-hyphens:auto;margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:1.3;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;">
                                                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%;">
                                                            <tbody>
                                                            <tr style="padding:0;text-align:left;vertical-align:top;">
                                                                <th  
                                                                    style="margin:0 auto;color:#0a0a0a;float:none;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;padding:10px;text-align:center;">
                                                                    <a href="https://www.facebook.com/infopaginaspr"
                                                                       style="margin:0;color:#2199e8;font-family:Roboto,sans-serif;font-weight:400;line-height:1.3;padding:0;text-align:left;text-decoration:none;"><img
                                                                                src="{{ absolute_url('/assets/email-images/social-fb.jpg') }}"
                                                                                style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto;"></a>
                                                                </th>
                                                                <th  
                                                                    style="margin:0 auto;color:#0a0a0a;float:none;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;padding:10px;text-align:center;">
                                                                    <a href="https://twitter.com/infopaginaspr"
                                                                       style="margin:0;color:#2199e8;font-family:Roboto,sans-serif;font-weight:400;line-height:1.3;padding:0;text-align:left;text-decoration:none;"><img
                                                                                src="{{ absolute_url('/assets/email-images/social-twitter.jpg') }}"
                                                                                style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto;"></a>
                                                                </th>
                                                                <th  
                                                                    style="margin:0 auto;color:#0a0a0a;float:none;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;padding:10px;text-align:center;">
                                                                    <a href="https://www.youtube.com/user/Infopaginaspr"
                                                                       style="margin:0;color:#2199e8;font-family:Roboto,sans-serif;font-weight:400;line-height:1.3;padding:0;text-align:left;text-decoration:none;"><img
                                                                                src="{{ absolute_url('/assets/email-images/social-youtube.jpg') }}"
                                                                                style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto;"></a>
                                                                </th>
                                                                <th  
                                                                    style="margin:0 auto;color:#0a0a0a;float:none;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;padding:10px;text-align:center;">
                                                                    <a href="https://plus.google.com/u/0/+infopaginas/posts"
                                                                       style="margin:0;color:#2199e8;font-family:Roboto,sans-serif;font-weight:400;line-height:1.3;padding:0;text-align:left;text-decoration:none;"><img
                                                                                src="{{ absolute_url('/assets/email-images/social-google.jpg') }}"
                                                                                style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto;"></a>
                                                                </th>
                                                                <th  
                                                                    style="margin:0 auto;color:#0a0a0a;float:none;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;padding:10px;text-align:center;">
                                                                    <a href="http://www.linkedin.com/company/infop-ginas"
                                                                       style="margin:0;color:#2199e8;font-family:Roboto,sans-serif;font-weight:400;line-height:1.3;padding:0;text-align:left;text-decoration:none;"><img
                                                                                src="{{ absolute_url('/assets/email-images/social-linkedin.jpg') }}"
                                                                                style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto;"></a>
                                                                </th>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </center>
                                        <center data-parsed="" style="min-width:532px;width:100%;"><a
                                                    href="https://www.google.com/partners/#a_profile;idtf=6032772200"
                                                    style="margin:0;color:#2199e8;font-family:Roboto,sans-serif;font-weight:400;line-height:1.3;padding:0;text-align:left;text-decoration:none;"><img
                                                        src="{{ absolute_url('/assets/email-images/logos-footer.jpg') }}"
                                                        align="center"
                                                         
                                                        style="-ms-interpolation-mode:bicubic;margin:0 auto;border:none;clear:both;display:block;float:none;max-width:100%;outline:0;text-align:center;text-decoration:none;width:auto;"></a>
                                        </center>
                                    </th>
                                    <th
                                            style="margin:0;color:#0a0a0a;font-family:Roboto,sans-serif;font-size:16px;font-weight:400;line-height:1.3;padding:0!important;text-align:left;visibility:hidden;width:0;"></th>
                                </tr>
                                </tbody>
                            </table>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </center>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>