{% extends "DomainSearchBundle:Layout:base.html.twig" %}

{% block doubleClickHeader %}
    {% if bannerFactory is not null %}
        {% include 'DomainBannerBundle:Default:double_click_header_template.html.twig' with { 'bannerHeaders' : bannerFactory.getItemsHeaders } %}
    {% endif %}
{% endblock %}

{% block tabMenu %}
    <ul class="tab-btn">
        <li><a href="{{ path('domain_search_index', app.request.query.all) }}"><i class="fa fa-list" aria-hidden="true"></i><span>list</span></a>
        </li>
        <li><a href="{{ path('domain_search_map', app.request.query.all) }}"><i class="map-icon"></i><span>map</span></a></li>
        <li class="active"><a href="{{ path('domain_search_compare', app.request.query.all) }}"><i class="compare-icon"></i><span>compare</span></a></li>
    </ul>
{% endblock %}

{% block main %}
     <section id="search-results-compare" class="search-results compare-view profile">
        <div class="search-compare">
            <div class="title-block">
                <span>Compare</span>
                <span>Bookstores in San Juan</span>

                <div class="slider-arrows">
                    <div class="prevSlide"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></div>
                    <div class="nextSlide"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
                </div>
            </div>

            <div class="compare-wrapper">
                <aside id="compare-block">
                    <div class="compare-title"><span>Name of Business</span></div>
                    <div class="compare-title"><span>Contact details</span></div>
                    <div class="compare-title"><span>Address</span></div>
                    <div class="compare-title"><span>Distance from your location</span></div>
                    <div class="compare-title"><span>Profile Rating</span></div>
                    <div class="compare-title"><span>Working Hours</span></div>
                    <div class="compare-title"><span>Payment Methods</span></div>
                    <div class="compare-title"><span>Social networks</span></div>
                </aside>

                <div class="comparison-block">
                    <div class="comparison-wrap carousel-property">
                        {% for item in results.resultSet %}
                            {% include 'DomainSearchBundle:Search:Templates/compare_card_item.html.twig' with { 'item' : item } %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        requirejs(['./{{ asset("/bundles/domainsite/scripts/common.js")}}'], function(common) {
            require(['{{asset("/bundles/domainsite/scripts/modules/comparepage.js")}}'], function(comparepage){
                var comparePage = new comparepage;
            })
        })
    </script>
{% endblock%}
