{% extends "DomainSearchBundle:Layout:base.html.twig" %}

{% block main %}
 <!-- Search Results -->
    <section id="search-results" class="search-results">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 banner-block desc-banner">
                    {% if bannerFactory is not null %}
                        {% include 'DomainSiteBundle:Layout:widgets/banner_double_click_widget.html.twig' with { 'banner' :
                            bannerFactory.retrieve(constant('Domain\\BannerBundle\\Model\\TypeInterface::CODE_PORTAL_LEADERBOARD'))  }
                        %}
                    {% endif %}
                </div>
            </div>
            {% if results.resultSet is defined and results.resultSet is not null and  results.resultSet is not empty %}
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="search-title blue-c">{{ search.query }} in {{ search.locationValue.name }}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 list-block">
                        <div class="list-info">
                            <div class="results-info">
                                {% set amount = results.page * search.limit %}
                                {% if amount > results.resultCount %}
                                {% set amount = results.resultCount %}
                                {% endif %}
                                <span>{{ (results.page - 1) * search.limit + 1 }}-{{ amount }} of {{ results.resultCount }} Results </span><span>for {{ search.query }} in {{ search.locationValue.name }}</span>
                            </div>
                            <div class="sort-by">
                                <span>Sort by:</span>

                                <div class="dropdown filter-drop">
                                    <div class="select-container">
                                        <select class="form-control select-control">
                                            <option>Relevance</option>
                                            <option>Distance</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cards">
                        {% if results.resultSet is defined and results.resultSet is not null %}
                            {% for item in results.resultSet %}
                                {% include 'DomainSearchBundle:Search:Templates/search_result_item.html.twig' with { 'item' : item, 'iterator' : loop.index } %}
                            {% endfor %}
                        {% endif %}
                        </div>
                    </div>
                    <aside class="map col-md-3">
                        {% if bannerFactory is not null %}
                            {% include 'DomainSiteBundle:Layout:widgets/banner_double_click_widget.html.twig' with { 'banner' :
                                bannerFactory.retrieve(constant('Domain\\BannerBundle\\Model\\TypeInterface::CODE_PORTAL'))  }
                            %}
                        {% endif %}
                    </aside>
                </div>
                {% block pagination %}
                    {% include 'DomainSiteBundle:Layout:widgets/pagination.html.twig' with { 'page' : results.page, 'pageCount' : results.pageCount } %}
                {% endblock %}
            {% else %}
                <div class="row">
                    <div class="col-md-9 list-block">
                        Sorry, no results were found. Maybe you want to search this categories
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        requirejs(['./{{ asset("/bundles/domainsite/scripts/common.js")}}'], function(common) {
            require(['{{asset("/bundles/domainsite/scripts/modules/searchpage.js")}}'], function(searchpage){
                var searchPage = new searchpage;
            })
        })
    </script>
{% endblock%}
