{% extends "DomainSearchBundle:Layout:base.html.twig" %}

{% block main %}
 <!-- Search Results -->
    <section id="search-results" class="search-results">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 banner-block desc-banner">
                    {% include 'DomainSiteBundle:Layout:Widgets/bannerWidget.html.twig' with { 'banner' : banner, 'crop' : 'serp' } %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span class="search-title blue-c">{{ query }} in {{ location }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 list-block">
                    <div class="list-info">
                        <div class="results-info">
                            <span>{{ (page - 1) * limit }}-{{ page * limit }} of {{ total }} Results </span><span>for {{ query }} in {{ location }}</span>
                        </div>
                        <div class="sort-by">
                            <span>Sort by:</span>

                            <div class="dropdown filter-drop">
                                <div class="select-container">
                                    <select class="form-control select-control">
                                        <option>Relevance</option>
                                        <option>Distance</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards">
                    {% if results is defined and results is not null %}
                        {% for item in results %}
                            {% include 'DomainSearchBundle:Search:Templates/searchResultItem.html.twig' with { 'item' : item } %}
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
                <aside class="map col-md-3">
                    <img src="http://placehold.it/410x350">
                </aside>
            </div>
            {% block pagination %}
                {% include 'DomainSiteBundle:Layout:Widgets/pagination.html.twig' with { 'page' : page, 'pageCount' : (total/limit) } %}
            {% endblock %}
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        requirejs(['./{{ asset("/bundles/domainsite/scripts/common.js")}}'], function(common) {
            require(['{{asset("/bundles/domainsite/scripts/modules/searchpage.js")}}'], function(searchpage){
                var searchPage = new searchpage;
            })
        })
    </script>
{% endblock%}
