<!-- Pagination -->
{% if pageCount > 1 %}
    <div class="pagination">
        {% set routeParams = app.request.attributes %}

        {% if page > 1 %}
            {% if routeParams is defined %}
                {% set routeParams = routeParams|merge({'page': (page - 1) }) %}
            {% endif %}

            <li>
                <a href="{{ path(app.request.get('_route'), app.request.query.all|merge(routeParams)) }}" title="{% trans %}Previous page{% endtrans %}">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
        {% endif %}

        {% for pageItem in 1..pageCount %}
            {% if routeParams is defined %}
                {% set routeParams = routeParams|merge({'page': (pageItem) }) %}
            {% endif %}

            {% if page == pageItem %}
                <li class="current">
                    <span>{{ pageItem }}</span>
                </li>
            {% else %}
                <li>
                    <a href="{{ path(app.request.get('_route'), app.request.query.all|merge(routeParams)) }}">{{ pageItem }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page < pageCount %}
            {% if routeParams is defined %}
                {% set routeParams = routeParams|merge({'page': (page + 1) }) %}

                <li>
                    <a href="{{ path(app.request.get('_route'), app.request.query.all|merge(routeParams)) }}" title="{% trans %}Next page{% endtrans %}">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            {% endif %}
        {% endif %}
    </div>
{% endif %}