<!-- Pagination -->
{% if pageCount > 1 %}
    <div class="pagination" data-bw-gtm-component="pagination">
        {% if page > 1 %}
            <li>
                <a data-page="{{ page - 1 }}" title="{% trans %}Previous page{% endtrans %}" data-bw-gtm-event-click data-bw-gtm-label="Previous Page">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
        {% endif %}

        {% set showGap = true %}

        {% for pageItem in 1..pageCount %}
            {% if ((pageItem < page - PAGINATION_RADIUS) or (pageItem > page + PAGINATION_RADIUS)) and showGap and pageItem != 1 and pageItem != pageCount %}
                <li class="ellipsis"><span><i class="fa fa-ellipsis-h"></i></span></li>

                {% set showGap = false %}
            {% endif %}

            {% if (pageItem >= page - PAGINATION_RADIUS) and (pageItem <= page + PAGINATION_RADIUS) or pageItem == 1 or pageItem == pageCount %}
                {% set showGap = true %}

                {% if page == pageItem %}
                    <li class="current">
                        <span>{{ pageItem }}</span>
                    </li>
                {% else %}
                    <li>
                        <a data-page="{{ pageItem }}" data-bw-gtm-event-click data-bw-gtm-label="{{pageItem}}">{{ pageItem }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if page < pageCount %}
            <li>
                <a data-page="{{ page + 1 }}" title="{% trans %}Next page{% endtrans %}" data-bw-gtm-event-click data-bw-gtm-label="Next Page">
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        {% endif %}
    </div>
{% endif %}