{% extends 'form_div_layout.html.twig' %}

{% block google_map_widget %}
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.css' type='text/css' />
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    {%- set type = type|default('text') -%}
    <br>
    {% include ':redesign/blocks/mapbox:mapMenu.html.twig' %}
    <div style="{{ attr.class }}" id="google-map">
        {% include ':redesign/blocks/mapbox:mapLogo.html.twig' %}
        <div id='geocoder' class='geocoder'></div>
    </div>
    <script>
        var addressInput = document.getElementById('{{ id }}');
        var latitudeInput = document.getElementById('{{ form.parent.vars.id ~ '_latitude' }}');
        var longitudeInput = document.getElementById('{{ form.parent.vars.id ~ '_longitude' }}');

        var MAP_LAT        = {{ latitude }};
        var MAP_LNG        = {{ longitude }};
        var MAP_ZOOM       = {{ zoom }};
        var DEFAULT_CENTER = '{{ map_default_center }}';
        var API_KEY        = '{{ mapbox_api_key }}';
    </script>
    <script type="text/javascript" src="{{ absolute_url(asset('bundles/domainbusiness/scripts/mapbox_map_admin.js')) }}"></script>

{% endblock %}

{% block google_map_front_widget %}
    {% include 'DomainBusinessBundle:Form/widgets:mapbox_map_front.html.twig' %}
{% endblock %}

{% block media_preview_widget %}
    {% set media = get_business_gallery_media(form.vars.data) %}

    <div class="form-group gallery-media-block{% if errors|length > 0 %} has-error{% endif %}" id="sonata-ba-field-container-{{ id }}">
        {{ block('hidden_widget') }}
        {% if media %}
            <div class="media-preview-block">
                <img src="{% path media, 'preview' %}">
            </div>
            <div class="media-name-block">
                <span>{{ media.name|truncate(media_file_name_max_length) }}</span>
            </div>
        {% else %}
            <div class="media-preview-block">
                <img src="{{ asset('assets/images/spinner-empty-background.gif') }}">
            </div>
            <div class="media-name-block">
                <span>{{ 'media_preview_loading_message'|trans({}, 'SonataAdminBundle') }}</span>
            </div>
        {% endif %}
    </div>
{% endblock %}
