<!DOCTYPE HTML>
<html>
<head>
    <meta name="title" content="infopáginas">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% block styles %}
        <link rel="stylesheet" href="{{ asset('/assets/styles/style.min.css')}}" />
    {% endblock %}
</head>
<body>

<!-- Header -->
<header class="header pages-header">
{% block header %}
    <nav class="navbar main-nav navbar-default white-c">
        <div class="row">
            <div class="col-md-12 nav-block">
                <div class="container container-nav">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar-col" aria-expanded="false">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="{{ path('domain_site_home_index')}}" class="logo-header"></a>

                        <div class="header-form">
                            <form class="form-horizontal search-form">

                                <div class="form-group row">
                                    {% block headerSearch %}
                                        {% include 'DomainSiteBundle:Layout:Widgets/headerSearchWidget.html.twig' %}
                                    {% endblock %}
                                </div>
                            </form>
                        </div>
                        <ul class="menu-nav">
                            <li class="ad desc-menu"><a href="">Advertise with us</a></li>
                            <!-- <li class="login-link mobile-menu"><a href="">Welcome, <span class="user-name">Catalá Joyeros</span></a>
                            </li>-->
                        </ul>
                    </div>

                    <div class="collapse navbar-collapse" id="navbar-col">
                        <ul class="nav navbar-nav navbar-right">
                            {% if (app.user) %}
                                <li class="login-link mobile-menu">
                                    <a href="">
                                        <span class="welcome">Welcome, </span>
                                        <span class="user-name">
                                            {{ app.user.getFirstname() }} {{ app.user.getLastname() }}
                                        </span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="lang btn"><a href="">español</a></li>
                            <li class="lang btn"><a href="" class="active">english</a></li>
                            {% if (app.user) %}
                                <li class="login-link desc-menu">
                                    <a href="" class="login-button">
                                        <span class="welcome">Welcome, </span>
                                    <span class="user-name">
                                        {{ app.user.getFirstname() }} {{ app.user.getLastname() }}
                                    </span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="ad mobile-menu"><a href="">Advertise with us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
{% block headerFilters %}
{% endblock %}
</header>

<!--Breadcrumbs-->
<section id="breadcrumbs" class="breadcrumbs">
    {% block breakcrumbs %}
        <div class="container">
            <div class="row">
                <div class="crumbs">
                    <a href="">Bookstores in San Juan <span>&nbsp; &#187; &nbsp; </span></a><span>SONs Notebooks</span>
                </div>
            </div>
        </div>
    {% endblock %}
</section>

<main>
    {% block main %}
    
    {% endblock %}
</main>

<!-- Modal -->
<div class="modal fade" id="photoGallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
{% block modal %}
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body"> </div>
    </div>
  </div>
{% endblock %}
</div>


<!-- Footer -->
<footer class="blue-bk">
    {% block footer %}
    <div class="container default-footer">
        <div class="row">
            <div class="col-xs-6 copyright white-c">
                <a href="" class="footer-logo"></a>

                <div class="copyright-date">
                    <span>&copy; 2016 infopáginas</span>

                    <div itemscope itemtype="http://schema.org/PostalAddress" itemprop="address">
                        <a class="white-c map-link" href="https://maps.google.com/?q=18.4140605,-66.1041006">
                            <span itemprop="streetAddress">90 Calle San Martin Rodval Bldg. Suite 201 Guaynabo, </span>
                            <span itemprop="addressLocality">PR</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 footer-menu">
                <ul class="footer-links green-c">
                    <li><a class="green-c" href="">About Us</a></li>
                    <li><a class="green-c" href="">Contact Us</a></li>
                </ul>
                <ul class="footer-links column">
                    <li><a class="green-c" href="">Privacy Statement</a></li>
                    <li><a class="green-c" href="">Terms of Use</a></li>
                </ul>
                <ul class="social-icons">
                    <li><a class="white-c" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a class="white-c" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a class="white-c" href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a class="white-c" href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a class="white-c" href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-xs-12 copyright small-view white-c">
                <div>
                    <span>&copy; 2016 infopáginas</span>

                    <div itemscope itemtype="http://schema.org/PostalAddress" itemprop="address">
                        <a class="white-c map-link" href="https://maps.google.com/?q=18.4140605,-66.1041006">
                            <span itemprop="streetAddress">90 Calle San Martin Rodval Bldg. Suite 201 Guaynabo, </span>
                            <span itemprop="addressLocality">PR</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% endblock %}
</footer>

<!-- Scripts -->
{% block scripts %}
    <script type="text/javascript" src="{{ asset('/bundles/domainsite/scripts/require.js')}}"></script>
{% endblock %} 
</body>
</html>
