<!DOCTYPE HTML>
<html>
<head>
    <meta name="title" content="infopáginas">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/assets/styles/style.min.css')}}"/>
        <link rel="stylesheet" href="{{ asset('/assets/styles/alertify.core.css')}}" />
        <link rel="stylesheet" href="{{ asset('/assets/styles/alertify.default.css')}}"/>
    {% endblock %}

    {% block doubleClickHeader %}
        {% include 'DomainSiteBundle:Layout:widgets/banner_double_click_header.html.twig' %}
    {% endblock %}
</head>
<body>

<!-- Header -->
<header class="header homepage-header">
    {% block homapageHeader %}
        <div class="container container-nav">
            <div class="row">
                {% block homapageHeaderTopBar %}
                    <div class="col-md-12">
                        <nav class="navbar main-nav navbar-default">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                        data-target="#navbar-col" aria-expanded="false">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="" class="logo-header"></a>
                                <ul class="menu-nav">
                                    <li class="ad desc-menu"><a href="{{ path('domain_page_view_advertise') }}">{% trans %}Advertise with us{% endtrans %}</a></li>
                                    {% if not app.user %}
                                        <li class="login-link mobile-menu btn">
                                            <a href="#" data-toggle="modal" data-target="#loginModal">{% trans %}Login{% endtrans %}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>

                            <div class="collapse navbar-collapse" id="navbar-col">
                                {% block homepageHeaderTopBarNavigation %}
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="login-link desc-menu btn"><a href="" class="login-button">{% trans %}Login{% endtrans %}</a></li>
                                    <li class="ad mobile-menu"><a href="{{ path('domain_page_view_advertise') }}">{% trans %}Advertise with us{% endtrans %}</a></li>
                                </ul>
                                {% endblock %}
                            </div>
                        </nav>
                    </div>
                {% endblock %}

                {% block  homapageHeaderSearchBlock %}
                    <div class="col-md-6 header-form">
                        <form class="form-horizontal search-form">
                            <span class="form-title">{% trans %}We can find everything!{% endtrans %}</span>

                            <div class="form-group row">
                                <div class="col-xs-12">
                                    <input type="text" id='searchBox' placeholder="{% trans %}What do you want to find?{% endtrans %}" data-placeholder="{% trans %}What do you want to find?{% endtrans %}" data-error-placeholder="{% trans %}Please enter a search term{% endtrans %}" class="form-control what">
                                </div>
                                <div class="col-xs-8 search-input">
                                    <input type="text" id='searchLocation' class="form-control" placeholder="{% trans %}San Juan{% endtrans %}"><span class="cross"></span>
                                </div>
                                <div class="col-xs-4 search-button">
                                    <button type="submit" id='searchButton' class="btn btn-primary green-btn search-btn"><i class="fa fa-search"
                                                                                                          aria-hidden="true"></i><span>{% trans %}Search{% endtrans %}</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                {% endblock %}

                {% block homapageHeaderHexagonDesc %}
                <div class="col-md-6 menu-hexagon menu-desc">
                    <ol class="even">
                        <li class="r-hex">
                            <div class="r-hex-inner"><a class="r-hex-inner-2 green-bk sol-icon"
                                                        href="#"><span>{% trans %}Solicitors{% endtrans %}</span></a></div>
                        </li>
                        <li class="r-hex photo-hex">
                            <div class="r-hex-inner"><a class="r-hex-inner-2 photo-bk-build" href="#"><span>{% trans %}Builders{% endtrans %}</span></a>
                            </div>
                        </li>
                    </ol>
                    <ol class="odd">
                        <li class="r-hex photo-hex">
                            <div class="r-hex-inner"><a class="r-hex-inner-2 photo-bk-pharma"
                                                        href="#"><span>{% trans %}Pharmacies{% endtrans %}</span></a></div>
                        </li>
                        <li class="r-hex">
                            <div class="r-hex-inner"><a class="r-hex-inner-2 grey-bk el-icon"
                                                        href="#"><span>{% trans %}Electricians{% endtrans %}</span></a></div>
                        </li>
                        <li class="r-hex">
                            <div class="r-hex-inner"><a class="r-hex-inner-2 blue-bk plum-icon"
                                                        href="#"><span>{% trans %}Plumbers{% endtrans %}</span></a></div>
                        </li>
                    </ol>
                    <ol class="odd">
                        <li class="r-hex">
                            <div class="r-hex-inner"><a class="r-hex-inner-2 blue-bk mech-icon"
                                                        href="#"><span>{% trans %}Mechanics{% endtrans %}</span></a></div>
                        </li>
                        <li class="r-hex photo-hex">
                            <div class="r-hex-inner"><a class="r-hex-inner-2 photo-bk-dent"
                                                        href="#"><span>{% trans %}Dentists{% endtrans %}</span></a></div>
                        </li>
                        <li class="r-hex">
                            <div class="r-hex-inner"><a class="r-hex-inner-2 green-bk rest-icon"
                                                        href="#"><span>{% trans %}Restaurants{% endtrans %}</span></a></div>
                        </li>
                    </ol>
                    <ol class="odd">
                        <li class="r-hex photo-hex">
                            <div class="r-hex-inner"><a class="r-hex-inner-2 photo-bk-flor"
                                                        href="#"><span>{% trans %}Florists{% endtrans %}</span></a></div>
                        </li>
                        <li class="r-hex">
                            <div class="r-hex-inner"><a class="r-hex-inner-2 green-bk salon-icon" href="#"><span>{% trans %}Beauty Salons{% endtrans %}</span></a>
                            </div>
                        </li>
                        <li class="r-hex photo-hex">
                            <div class="r-hex-inner"><a class="r-hex-inner-2 photo-bk-hair"
                                                        href="#"><span>{% trans %}Hairdressers{% endtrans %}</span></a></div>
                        </li>
                        <li class="r-hex">
                            <div class="r-hex-inner"><a class="r-hex-inner-2 blue-bk doc-icon" href="#"><span>{% trans %}Doctors{% endtrans %}</span></a>
                            </div>
                        </li>
                    </ol>
                </div>
                {% endblock %}

                {% block homapageHeaderHexagonMobile %}
                    <div class="col-xs-12 menu-hexagon menu-mobile">
                        <ol>
                            <li class="r-hex">
                                <div class="r-hex-inner"><a class="r-hex-inner-2 green-bk sol-icon"
                                                            href="#"><span>{% trans %}Solicitors{% endtrans %}</span></a></div>
                            </li>
                            <li class="r-hex">
                                <div class="r-hex-inner"><a class="r-hex-inner-2 photo-bk-build" href="#"><span>{% trans %}Builders{% endtrans %}</span></a>
                                </div>
                            </li>
                            <li class="r-hex">
                                <div class="r-hex-inner"><a class="r-hex-inner-2 blue-bk plum-icon"
                                                            href="#"><span>{% trans %}Plumbers{% endtrans %}</span></a></div>
                            </li>
                            <li class="r-hex">
                                <div class="r-hex-inner"><a class="r-hex-inner-2 photo-bk-pharma"
                                                            href="#"><span>{% trans %}Pharmacies{% endtrans %}</span></a></div>
                            </li>
                            <li class="r-hex">
                                <div class="r-hex-inner"><a class="r-hex-inner-2 blue-bk mech-icon"
                                                            href="#"><span>{% trans %}Mechanics{% endtrans %}</span></a></div>
                            </li>
                            <li class="r-hex">
                                <div class="r-hex-inner"><a class="r-hex-inner-2 photo-bk-dent"
                                                            href="#"><span>{% trans %}Dentists{% endtrans %}</span></a></div>
                            </li>
                            <li class="r-hex">
                                <div class="r-hex-inner"><a class="r-hex-inner-2 grey-bk el-icon"
                                                            href="#"><span>{% trans %}Electricians{% endtrans %}</span></a></div>
                            </li>
                            <li class="r-hex">
                                <div class="r-hex-inner"><a class="r-hex-inner-2 green-bk rest-icon"
                                                            href="#"><span>{% trans %}Restaurants{% endtrans %}</span></a></div>
                            </li>
                            <li class="r-hex">
                                <div class="r-hex-inner"><a class="r-hex-inner-2 photo-bk-flor"
                                                            href="#"><span>{% trans %}Florists{% endtrans %}</span></a></div>
                            </li>
                            <li class="r-hex">
                                <div class="r-hex-inner"><a class="r-hex-inner-2 green-bk salon-icon" href="#"><span>{% trans %}Beauty Salons{% endtrans %}</span></a>
                                </div>
                            </li>
                            <li class="r-hex">
                                <div class="r-hex-inner"><a class="r-hex-inner-2 photo-bk-hair"
                                                            href="#"><span>{% trans %}Hairdressers{% endtrans %}</span></a></div>
                            </li>
                            <li class="r-hex">
                                <div class="r-hex-inner"><a class="r-hex-inner-2 blue-bk doc-icon" href="#"><span>{% trans %}Doctors{% endtrans %}</span></a>
                                </div>
                            </li>
                        </ol>
                    </div>
                {% endblock %}
            </div>
        </div>
    {% endblock %}
</header>

<main>
    {% block mainColumn %}
        <!-- Banner -->
        {% block mainColumnBanner %}
            <section id="banner" class="banner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 banner-block desc-banner">
                            <img src="{{ asset('/assets/images/banner.png')}}">
                        </div>
                        <div class="col-xs-12 mobile-banner">
                            <img src="http://placehold.it/300x250">
                            <img src="http://placehold.it/300x250">
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}

        <!-- Articles and Videos-->
        {% block mainColumnContainers %}
            <section id="articles-videos" class="articles-videos">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 articles-section">
                            <div class="section-title">
                            <h1 class="blue-c">{% trans %}Articles{% endtrans %}</h1>
                                <hr>
                                <a href="#" class="btn">{% trans %}View more articles{% endtrans %}</a></div>
                            <div class="articles">
                                <div class="col-xs-6 article">
                                    <div class="article-pic"><a href="#"><img src="{{ asset('/assets/images/homepage/article1.png')}}"></a>
                                    </div>
                                    <div class="article-info">
                                        <a href="#" class="article-title blue-c">{% trans %}Why you feel grumpy when the seasons change{% endtrans %}</a>

                                        <div class="article-area green-c">{% trans %}Psychologists{% endtrans %}</div>
                                        <div class="article-text">{% trans %}homepage.article.psychologists.text{% endtrans %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 article">
                                    <div class="article-pic"><a href="#"><img src="{{ asset('/assets/images/homepage/article2.png')}}"></a>
                                    </div>
                                    <div class="article-info">
                                        <a href="#" class="article-title blue-c">{% trans %}Why you feel grumpy when the seasons change{% endtrans %}</a>

                                        <div class="article-area green-c">{% trans %}Psychologists{% endtrans %}</div>
                                        <div class="article-text">{% trans %}homepage.article.psychologists.text{% endtrans %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 videos-section">
                            <div class="section-title">
                            <h1 class="blue-c">{% trans %}Videos{% endtrans %}</h1>
                                <hr>
                                <a href="#" class="btn">{% trans %}View more videos{% endtrans %}</a></div>
                            <div class="articles videos">
                                <div class="col-xs-6 article">
                                    <div class="article-pic video-preview"><a href="#"><img
                                            src="{{ asset('/assets/images/homepage/article3.png')}}"></a>
                                    </div>
                                    <div class="article-info">
                                        <a href="#" class="article-title blue-c">{% trans %}How to choose the right builder{% endtrans %}</a>

                                        <div class="article-area green-c">{% trans %}Building Contractors{% endtrans %}</div>
                                        <div class="article-text">{% trans %}homepage.article.building_contractors.text{% endtrans %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 article">
                                    <div class="article-pic video-preview"><a href="#"><img
                                            src="{{ asset('/assets/images/homepage/article4.png')}}"></a>
                                    </div>
                                    <div class="article-info">
                                        <a href="#" class="article-title blue-c">{% trans %}How to choose the right builder{% endtrans %}</a>

                                        <div class="article-area green-c">{% trans %}Building Contractors{% endtrans %}</div>
                                        <div class="article-text">{% trans %}homepage.article.building_contractors.text{% endtrans %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}

        {% block mainContainerBanners %}
            <!-- Banners -->
            <section id="banners" class="banners">

                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6 banner-small">
                                <div class="small-banner"></div>
                            </div>
                            <div class="col-xs-6 banner-small">
                                <div class="small-banner"></div>
                            </div>
                        </div>
                    </div>
            </section>
        {% endblock %}
    {% endblock %}
</main>

<!-- Footer -->
<footer class="blue-bk">
    {% block footer %}
        <div class="container default-footer">
            <div class="row">
                <div class="col-xs-6 copyright white-c">
                    <div class="footer-logo"></div>

                    <div class="copyright-date">
                        <span>{% trans %}infopaginos.copyright{% endtrans %}</span>
                        <div itemscope itemtype="http://schema.org/PostalAddress" itemprop="address">
                            <a class="white-c map-link" href="https://maps.google.com/?q=18.4140605,-66.1041006">
                                <span itemprop="streetAddress">{% trans %}90 Calle San Martin Rodval Bldg. Suite 201 Guaynabo{% endtrans %} , </span>
                                <span itemprop="addressLocality">{% trans %}PR{% endtrans %}</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 footer-menu">
                    <ul class="footer-links green-c">
                        <li><a class="green-c" href="http://www.infopaginasmedia.com/">{% trans %}About Us{% endtrans %}</a></li>
                        <li><a class="green-c" href="{{ path('domain_page_view_contact') }}">{% trans %}Contact Us{% endtrans %}</a></li>
                    </ul>
                    <ul class="footer-links column">
                        <li><a class="green-c" href="{{ path('domain_page_view_privacy') }}">{% trans %}Privacy Statement{% endtrans %}</a></li>
                        <li><a class="green-c" href="{{ path('domain_page_view_terms') }}">{% trans %}Terms of Use{% endtrans %}</a></li>
                    </ul>
                    <ul class="social-icons">
                        <li><a class="white-c" href="{{ config(constant('Oxa\\ConfigBundle\\Model\\ConfigInterface::SOCIAL_FACEBOOK_PROFILE')) }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a class="white-c" href="{{ config(constant('Oxa\\ConfigBundle\\Model\\ConfigInterface::SOCIAL_TWITTER_PROFILE')) }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a class="white-c" href="{{ config(constant('Oxa\\ConfigBundle\\Model\\ConfigInterface::SOCIAL_GOOGLE_PROFILE')) }}"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a class="white-c" href="{{ config(constant('Oxa\\ConfigBundle\\Model\\ConfigInterface::SOCIAL_LINKEDIN_PROFILE')) }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a class="white-c" href="{{ config(constant('Oxa\\ConfigBundle\\Model\\ConfigInterface::SOCIAL_INSTAGRAM_PROFILE')) }}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 copyright small-view white-c">
                    <div>
                        {{ config(constant('Oxa\\ConfigBundle\\Model\\ConfigInterface::FOOTER_CONTENT')) }}
                    </div>
                </div>d

            </div>
        </div>
    {% endblock %}
</footer>

{% block homeModals %} {% endblock %}

<!-- Scripts -->
{% block scripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/domainsite/scripts/require.js')}}"></script>
{% endblock %}
</body>
</html>
