{% extends "DomainSiteBundle:Layout:base.html.twig" %}

{% block breakcrumbs %} {% endblock %}

{% block header %}
    {{ parent() }}
    <style>
        .card-item {
            min-height: 150px;
        }
    </style>
    <div class="container">
        <div class="row profile-managment">
            <div class="col-xs-12 tabs-block-wrap">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabs-block">
                    <li class="active">
                        <a href="#overview" aria-controls="overview" role="tab"
                           data-toggle="tab">
                            {% trans %}Overview{% endtrans %}
                        </a>
                    </li>
                    {% if ad_usage_allowed_for_business(businessProfile) %}
                        <li>
                            <a href="#ad_usage" aria-controls="ad_usage" role="tab"
                               data-toggle="tab">
                                {% trans %}Ad usage{% endtrans %}
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="#keywords" aria-controls="keywords" role="tab"
                           data-toggle="tab">
                            {% trans %}Keywords{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="#interactions" aria-controls="interactions" role="tab"
                           data-toggle="tab">
                            {% trans %}Interactions{% endtrans %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <form class="form-horizontal general-manage" novalidate="novalidate">
        <section id="profile-manage-general" class="profile-manage profile-manage-general">
            <div class="container general-manage">
                <div class="row">
                    <div class="col-md-12 business-container">
                        <div class="cards">
                            <div class="form-group card-item">
                                <div class="card-item-name">
                                    <span>{% trans %}Filters{% endtrans %}</span>
                                </div>
                                <input type="hidden" id="businessProfileId" value="{{ businessProfileId }}">
                                <div class="col-xs-12 form-col">
                                    <div class="col-xs-4">
                                        <span>
                                            {% trans %}Date period{% endtrans %}
                                        </span>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="dropdown">
                                            <div class="select-container">
                                                {{ form_widget(filtersForm.dateRange) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="keywordsLimitContainer" style="display: none;">
                                    <div class="col-xs-12 form-col">
                                        <div class="col-xs-4">
                                            <span>
                                                {% trans %}Keywords Count{% endtrans %}
                                            </span>
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="dropdown">
                                                <div class="select-container">
                                                    {{ form_widget(filtersForm.limit) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="customDatesContainer" style="display: none;">
                                    <div class="col-xs-12 form-col">
                                        <div class="col-xs-4">
                                            <span>
                                                {% trans %}Date Start{% endtrans %}
                                            </span>
                                        </div>
                                        <div class="col-xs-8">
                                            {{ form_widget(filtersForm.start) }}
                                        </div>
                                    </div>
                                    <div class="col-xs-12 form-col">
                                        <div class="col-xs-4">
                                            <span>
                                                {% trans %}Date End{% endtrans %}
                                            </span>
                                        </div>
                                        <div class="col-xs-8">
                                            {{ form_widget(filtersForm.end) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="tab-content">
            <div class="tab-pane active" id="overview">
                <section id="profile-manage-general" class="profile-manage profile-manage-general" style="padding-top: 0px">
                    <div class="container general-manage">
                        <div class="row">
                            <div class="col-md-12 business-container">
                                <div class="cards">
                                    <div class="form-group card-item">
                                        <div class="card-item-name">
                                            <span>{% trans %}Chart{% endtrans %}</span>
                                        </div>
                                        <div class="col-xs-12 form-col">
                                            <div id="businessOverviewChartContainer" style="min-width: 310px; height: 400px; margin: 0 auto" data-title="{% trans %}Business Profile Views vs Impressions{% endtrans %}" data-y-axis="{% trans %}Count{% endtrans %}" data-series-name-views="{% trans %}Views{% endtrans %}" data-series-name-imp="{% trans %}Impressions{% endtrans %}"></div>
                                        </div>
                                    </div>
                                    <div class="form-group card-item">
                                        <div class="card-item-name">
                                            <span>{% trans %}Statistics{% endtrans %}</span>
                                        </div>
                                        <div class="col-xs-12 form-col" id="businessOverviewStatisticsContainer">
                                            {% include 'DomainBusinessBundle:Reports/blocks:businessOverviewStatistics.html.twig' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            {% if ad_usage_allowed_for_business(businessProfile) %}
                <div class="tab-pane" id="ad_usage">
                    <section id="ad-usage-general" class="profile-manage profile-manage-general" style="padding-top: 0px">
                        <div class="container general-manage">
                            <div class="row">
                                <div class="col-md-12 business-container">
                                    <div class="cards">
                                        <div class="form-group card-item">
                                            <div class="card-item-name">
                                                <span>{% trans %}Statistics{% endtrans %}</span>
                                            </div>
                                            <div class="col-xs-12 form-col" id="adUsageStatisticsContainer"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            {% endif %}

            <div class="tab-pane" id="keywords">
                <section id="profile-manage-general" class="profile-manage profile-manage-general" style="padding-top: 0px">
                    <div class="container general-manage">
                        <div class="row">
                            <div class="col-md-12 business-container">
                                <div class="cards">
                                    <div class="form-group card-item">
                                        <div class="card-item-name">
                                            <span>{% trans %}Chart{% endtrans %}</span>
                                        </div>
                                        <div class="col-xs-12 form-col">
                                            <div id="keywordChartContainer" style="min-width: 310px; height: 400px; margin: 0 auto" data-title="{% trans %}Keywords Statistics{% endtrans %}" data-y-axis="{% trans %}Number of searches{% endtrans %}" data-series-name-search="{% trans %}Searches{% endtrans %}"></div>
                                        </div>
                                    </div>
                                    <div class="form-group card-item">
                                        <div class="card-item-name">
                                            <span>{% trans %}Statistics{% endtrans %}</span>
                                        </div>
                                        <div class="col-xs-12 form-col" id="keywordStatisticsContainer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="tab-pane" id="interactions">
                <section id="profile-manage-general" class="profile-manage profile-manage-general" style="padding-top: 0px">
                    <div class="container general-manage">
                        <div class="row">
                            <div class="col-md-12 business-container">
                                <div class="cards">
                                    <div class="form-group card-item">
                                        <div class="card-item-name">
                                            <span>{% trans %}Statistics{% endtrans %}</span>
                                        </div>
                                        <div class="col-xs-12 form-col" id="interactionsStatisticsContainer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <section id="profile-manage-general" class="profile-manage profile-manage-general" style="padding-top: 0px">
            <div class="container general-manage">
                <div class="row">
                    <div class="col-md-12 business-container" style="margin-top: 0px;">
                        <div class="cards">
                            <div class="form-group card-item" style="margin-top: 0px;">
                                <div class="card-item-name">
                                    <span>{% trans %}Export{% endtrans %}</span>
                                </div>
                                <div class="col-xs-8 form-col">
                                    <div id="export-spinner"></div>
                                </div>
                                <div class="col-xs-4 form-col">
                                    <div class="form-btn">
                                        {% set pdfExportURL = absolute_url(path('domain_business_reports_pdf_export')) %}
                                        <button type="button" href="{{ pdfExportURL }}" id="export-pdf" class="btn green-btn">
                                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                            {% trans %}PDF{% endtrans %}
                                        </button>
                                        {% set excelExportURL = absolute_url(path('domain_business_reports_excel_export')) %}
                                        <button type="button" href="{{ excelExportURL }}" id="export-excel" class="btn green-btn">
                                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                            {% trans %}Excel{% endtrans %}
                                        </button>
                                        <button type="button" id="print" class="btn green-btn">
                                            <i class="fa fa-print" aria-hidden="true"></i>
                                            {% trans %}Print{% endtrans %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        var overviewDataDates       = {{ overviewData['dates']|json_encode|raw }};
        var overviewDataViews       = {{ overviewData['views']|json_encode|raw }};
        var overviewDataImpressions = {{ overviewData['impressions']|json_encode|raw }};
    </script>

    <script src="{{ absolute_url(asset('bundles/fosjsrouting/js/router.js')) }}"></script>
    <script src="{{ absolute_url(path('fos_js_routing_js', { callback: 'fos.Router.setData' })) }}"></script>

    <script type="text/javascript" src="{{ absolute_url(asset('assets/scripts/require.js')) }}"></script>
    <script type="text/javascript">
        requirejs(['{{ absolute_url(asset("bundles/domainsite/scripts/common.js")) }}'], function(common) {
            requirejs([
                '{{ absolute_url(asset("bundles/domainbusiness/scripts/modules/reports.js")) }}'
            ], function(Reports) {
                var reports = new Reports();
            })
        })
    </script>
{% endblock %}
