<div class="col-sm-4">
    <div >
        <div class="video-wrap" >
            {{ render_wistia_embed(media, {width: 320, height: 220}) | raw }}
        </div>
    </div>
</div>
<div class="col-sm-3">
    {{ form_widget(form.wistiaId) }}
    <div class="video-title">
        <div>
            {{ form_label(form.name) }}
        </div>
    </div>
    <div >
        {{ form_widget(form.name) }}
    </div>
</div>
<div class="col-sm-4">
    <div class="video-descr">
        <div>
            {{ form_label(form.description) }}
        </div>
    </div>
    <div >
        {{ form_widget(form.description) }}
    </div>
</div>
<div class="col-sm-1">
    <div >
        <div class="video-remove">{% trans %}REMOVE{% endtrans %}</div>
    </div>
    <div >
        <a class="media-close" id="remove-video">X</a>
    </div>
</div>