<div class="col-md-4">
    <div >
        <div class="video-wrap" >
            {{ render_wistia_embed(media, {width: 300, height: 200}) | raw }}
        </div>
    </div>
</div>
<div class="col-md-8">
    <div class="col-sm-5">
        {{ form_widget(form.wistiaId) }}
        <div class="video-title">
            <div>
                {{ form_label(form.name) }}
            </div>
        </div>
        <div >
            {{ form_widget(form.name) }}
        </div>
    </div>
    <div class="col-sm-5">
        <div class="video-descr">
            <div>
                {{ form_label(form.description) }}
            </div>
        </div>
        <div >
            {{ form_widget(form.description) }}
        </div>
    </div>
    <div class="col-sm-2">
        <div >
            <div class="video-remove">{% trans %}REMOVE{% endtrans %}</div>
        </div>
        <div >
            <a class="media-close" id="remove-video">X</a>
        </div>
    </div>
</div>