<div class="form__column column--english">
    <h3 class="language-title">{{ blockTitle|trans }}</h3>

    <div class="form__section">
        <h2>{% trans %}General{% endtrans %}</h2>

        <div class="form__row">
            <div class="form__field field--name">
                {{ form_label(businessProfileForm['name' ~ langPostfix]) }}
                {{ form_widget(businessProfileForm['name' ~ langPostfix]) }}
            </div>
        </div>
    </div>

    <div class="form__section">
        <h2>{% trans %}Business Description{% endtrans %}</h2>

        {% if businessProfileForm['slogan' ~ langPostfix] is defined %}
            <div class="form__row">
                <div class="form__field field--slogan">
                    {{ form_label(businessProfileForm['slogan' ~ langPostfix]) }}
                    {{ form_widget(businessProfileForm['slogan' ~ langPostfix]) }}
                    <small class="field__description">
                        {# todo #}
                        {% trans %}Maximum 140 characters.{% endtrans %}
                    </small>
                </div>
            </div>
        {% endif %}

        <div class="form__row">
            <div class="form__field field--description">
                {{ form_label(businessProfileForm['description' ~ langPostfix]) }}
                {{ form_widget(businessProfileForm['description' ~ langPostfix], {'attr': {'placeholder': ''}}) }}
            </div>
        </div>
        <div class="form__row">
            <div class="form__field field--products">
                {{ form_label(businessProfileForm['product' ~ langPostfix]) }}
                {{ form_widget(businessProfileForm['product' ~ langPostfix], {'attr': {'placeholder': ''}}) }}
            </div>
        </div>
        <div class="form__row">
            <div class="form__field field--brands">
                {{ form_label(businessProfileForm['brands' ~ langPostfix]) }}
                {{ form_widget(businessProfileForm['brands' ~ langPostfix], {'attr': {'placeholder': ''}}) }}
            </div>
        </div>
        <div class="form__row">
            <div class="form__field field--working-hours">
                {{ form_label(businessProfileForm['workingHours' ~ langPostfix]) }}
                {{ form_widget(businessProfileForm['workingHours' ~ langPostfix], {'attr': {'placeholder': ''}}) }}
            </div>
        </div>
    </div>
</div>