{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sonatatranslation/css/sonata-translation.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/oxasonataadmin/css/lib/jquery.fancybox.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/oxasonataadmin/css/admin.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ asset('bundles/oxasonataadmin/js/lib/jquery.fancybox.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/oxasonataadmin/js/admin.js') }}"></script>
{% endblock %}

{% block logo %}
    {% spaceless %}
        <a class="logo" href="{{ url('sonata_admin_dashboard') }}">
            {% if 'single_image' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
                <img src="{{ asset(admin_pool.titlelogo) }}" alt="{{ admin_pool.title }}" style="max-width: 130px;;">
            {% endif %}
        </a>
    {% endspaceless %}
{% endblock %}
