<div class="map-wrap">
    <div id="google-map"></div>
</div>

<script>
    var MAP_LAT  = {{ latitude }};
    var MAP_LNG  = {{ longitude }};
    var MAP_ZOOM = {{ zoom }};

    // load googleapis only once

    if (typeof googleapisLoaded === 'undefined') {
        var googleapisLoaded = false;
    }

    var script = document.createElement('script');
    script.src = 'https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&libraries=places&callback=initAutocomplete&language={{ language }}';

    script.onload = function () {
        googleapisLoaded = true;
    };

    if (!googleapisLoaded) {
        document.head.appendChild(script);
    }
</script>

<script type="text/javascript" src="{{ absolute_url(asset('bundles/domainbusiness/scripts/google_map.js')) }}"></script>

