<div class="map-wrap">
    <div id="google-map"></div>
</div>

<script>
    var MAP_LAT  = {{ latitude }};
    var MAP_LNG  = {{ longitude }};
    var MAP_ZOOM = {{ zoom }};
</script>

<script type="text/javascript" src="{{ asset('bundles/domainbusiness/scripts/google_map.js') }}"></script>

<script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&libraries=places&callback=initAutocomplete&language={{ language }}"
        async defer
></script>