<!-- Modal Change Password -->
<div id="updatePasswordModal" class="modal modal--update" tabindex="-1" role="dialog" aria-hidden="true" data-bw-gtm-component="modal-password-update">
    <div class="modal__outside"></div>
    <div class="modal__content">
        <h2>{% trans %}Update Password{% endtrans %}</h2>
        <div class="modal__section">
            <form class="account-form login-form" id="passwordUpdateForm" name="{{ passwordUpdateForm.vars.name }}">
                <div class="form__field field--user">
                    <label>{% trans %}Old password{% endtrans %}</label>
                    {{ form_widget(passwordUpdateForm.oldPassword, {'attr': {'placeholder':''}} ) }}
                </div>
                <div class="form__field field--user">
                    <label>{% trans %}New password{% endtrans %}</label>
                    {{ form_widget(passwordUpdateForm.newPassword.first, {'attr': {'placeholder':''}} ) }}
                </div>
                <div class="form__field field--user">
                    <label>{% trans %}Confirm Password{% endtrans %}</label>
                    {{ form_widget(passwordUpdateForm.newPassword.second, {'attr': {'placeholder':''}} ) }}
                </div>
                <div class="form__actions">
                    {{ form_rest(passwordUpdateForm) }}
                    <button type="button" class="button button--action" id="savePassword" data-bw-gtm-event-click data-bw-gtm-label="{% trans %}Update Password{% endtrans %}">{% trans %}Update Password{% endtrans %}</button>
                </div>
            </form>
        </div><!-- modal__section -->
        <div class="modal__section login__footer"></div><!-- modal__section -->
        <button type="button" class="button--remove hide-modal" data-bw-gtm-event-click data-bw-gtm-label="hide-modal"><i class="fa fa-remove"></i></button>
    </div><!-- modal__content -->
</div>
