<!-- Modal Change Password -->
<div id="resetPasswordModal" class="modal modal--reset" tabindex="-1" role="dialog" aria-hidden="true" data-bw-gtm-component="modal-reset-password">
    <div class="modal__outside"></div>
    <div class="modal__content">
        <h2>{% trans %}Update Password{% endtrans %}</h2>
        <div class="modal__section">
            <form class="account-form login-form" id="resetPasswordForm" name="{{ resetPasswordForm.vars.name }}">
                <div class="form__field field--user">
                    {{ form_label(resetPasswordForm.plainPassword) }}
                    {{ form_widget(resetPasswordForm.plainPassword.first, {'attr': {'placeholder':''}} ) }}
                </div>
                <div class="form__field field--user">
                    {{ form_label(resetPasswordForm.plainPassword.second) }}
                    {{ form_widget(resetPasswordForm.plainPassword.second, {'attr': {'placeholder':''}} ) }}
                </div>
                <div class="form__actions">
                    {{ form_rest(resetPasswordForm) }}
                    <button type="button" class="button button--action" id="resetPasswordButton"  data-bw-gtm-event-click data-bw-gtm-label="{% trans %}Update Password{% endtrans %}">{% trans %}Update Password{% endtrans %}</button>
                </div>
                <p id="resetPasswordMessage"></p>
            </form>
        </div><!-- modal__section -->
        <div class="modal__section login__footer"></div><!-- modal__section -->
        <button type="button" class="button--remove hide-modal"  data-bw-gtm-event-click data-bw-gtm-label="hide-modal"><i class="fa fa-remove"></i></button>
    </div><!-- modal__content -->
</div>
