<!--Modal review-->
<div id="upgradeBusinessProfileModal" class="modal modal--review" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal__outside"></div>
    <div class="modal__content">
        <h2>{% trans %}Confirm{% endtrans %}</h2>
        <div class="modal__section">
            <form class="account-form" id="upgradeBusinessProfileForm" name="{{ upgradeBusinessProfileForm.vars.name }}" data-bw-gtm-component="modal-upgrade-user-profile">
                <p>{% trans %}user_profile.text.give_phone{% endtrans %}</p>
                <div class="form__field">
                    {{ form_label(upgradeBusinessProfileForm.phone) }}
                    {{ form_widget(upgradeBusinessProfileForm.phone) }}
                </div>
                <div class="form__field">
                    {{ form_label(upgradeBusinessProfileForm.time) }}
                    {{ form_widget(upgradeBusinessProfileForm.time) }}
                </div>
                <div class="form__actions">
                    {{ form_rest(upgradeBusinessProfileForm) }}
                    <button type="button" class="button button--action hide-modal"  data-bw-gtm-event-click data-bw-gtm-label="{% trans %}Cancel{% endtrans %}">{% trans %}Cancel{% endtrans %}</button>
                    <button type="submit" class="button green-btn button--action" id="upgradeBusinessProfileButton" data-bw-gtm-event-click data-bw-gtm-label="Submit">
                        {% trans %}Submit{% endtrans %}
                    </button>
                </div>
            </form>
        </div><!-- modal__section -->
        <div class="modal__section login__footer"></div><!-- modal__section -->
        <button type="button" class="button--remove hide-modal" data-bw-gtm-event-click data-bw-gtm-label="hide-modal"><i class="fa fa-remove"></i></button>
    </div><!-- modal__content -->
</div>