<video id="video-{{ media.id }}" class="video-js" controls preload="auto" width="{{ dimensions.width }}" height="{{ dimensions.height }}" poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
    <source src="{{ media.filepath }}{{ media.filename }}" type='{{ media.type }}'>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
</video>
